﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/assets/global/images/favicon.png">
    <title>@ViewBag.Title -  T.C. Aydın Büyükşehir Belediyesi Aykome</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @*<link href="~/Content/theme/css/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/theme/css/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/theme/css/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/theme/css/morris/morris.css" rel="stylesheet" />
        
        <link href="~/Content/theme/css/colorpicker/bootstrap-colorpicker.min.css" rel="stylesheet" />
        <link href="~/Content/theme/css/jquery-ui.css" rel="stylesheet" />

        <script src="~/Scripts/jquery-1.10.2.js"></script>
        <script src="~/Content/theme/js/jquery-ui.js"></script>
        <script src="~/Content/theme/js/jquery-1.10.2.js"></script>
        <link href="~/Content/theme/css/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" />
        <link href="~/Content/theme/css/AdminLTE.css" rel="stylesheet" />
        *@
    <link href="~/Scripts/css/StarkCss.Css" rel="stylesheet" />
    <link href="~/Content/theme/css/jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" />



    <script>
// Default notice
       

    // Notice at the bottom right
    function demoNoticeBottomRight( message) {
        new jBox('Notice', {
            content:"<h5>Yeni Mesaj !</H5>"+message,
            attributes: { // Notices have a fixed position, that's why you need to change the attribute option to move them
                x: 'right',
                y: 'bottom'
            }
        });
    }

    </script>

    
    <style>
        .jBox-Notice {

             color:white !important;
            font-size: -1px !important;
            -webkit-transition: margin .2s;
            transition: margin .2s;
            list-style:none;
        }

            .jBox-Notice .jBox-container {
                list-style:none;
            

                border-radius: 3px;
                box-shadow: 0 0 3px rgba(0, 0, 0, .2);
                 color:white !important;
            font-size: medium !important;
                text-shadow: 0 -1px 1px #000;
                background-image: linear-gradient(to bottom, #444, #222);
            }

             .jBox-Notice .jBox-content {
                 color:white !important;
            font-size: medium !important;
            }

            .jBox-Notice .jBox-content {
                list-style:none;
                border-radius: 3px;
                padding: 12px 20px;
             color:white !important;
            font-size: small !important;
                
            }
            .jBox-content>li> a {
                
             color:white !important;
            font-size: small !important;
                
            }
            .jBox-content>li> i {
                
             color:white !important;
            font-size: medium !important;
                
            }

            .jBox-Notice .jBox-title {
                padding: 8px 20px 0;
                font-weight: bold;
             color:white !important;
            font-size: medium !important;

            }

        .jBox-hasTitle.jBox-Notice .jBox-content {
            padding-top: 5px;
            list-style:none;
            color:white !important;
            font-size: medium !important;

        }

        .jBox-Notice-color .jBox-container {
            text-shadow: 0 -1px 1px rgba(0, 0, 0, .3);
            list-style:none;
                        color:white;


        }

        .jBox-Notice-gray .jBox-container {
            color: #666;
            text-shadow: 0 1px 1px #fff;
                        color:white;

            background-image: linear-gradient(to bottom, #fafafa, #f0f0f0);
        }

        .jBox-Notice-red .jBox-container {
            background: #b02222;
            background-image: linear-gradient(to bottom, #ee2222, #b02222);
        }

        .jBox-Notice-green .jBox-container {
            background: #70a800;
            background-image: linear-gradient(to bottom, #95cc2a, #70a800);
        }

        .jBox-Notice-blue .jBox-container {
            background: #2b91d9;
            background-image: linear-gradient(to bottom, #5abaff, #2b91d9);
        }

        .jBox-Notice-yellow .jBox-container {
            color: #744700;
            text-shadow: 0 1px 1px rgba(255, 255, 255, .6);
            background: #ffb11f;
            background-image: linear-gradient(to bottom, #ffd665, #ffb11f);
        }
    </style>



    <link href="~/assets/global/css/style.css" rel="stylesheet">
    <link href="~/assets/global/css/theme.css" rel="stylesheet">
    <link href="~/assets/global/css/ui.css" rel="stylesheet">
    <link href="~/assets/admin/md-layout1/material-design/css/material.css" rel="stylesheet">
    <link href="~/assets/admin/md-layout1/css/layout.css" rel="stylesheet">
    <link href="~/assets/custom.css" rel="stylesheet" />
    <script src="~/assets/global/plugins/modernizr/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <script src="~/assets/global/plugins/jquery/jquery-3.1.0.min.js"></script>
    <script src="~/assets/global/plugins/jquery/jquery-migrate-3.0.0.min.js"></script>
    <script src="~/assets/global/plugins/jquery-ui/jquery-ui.min.js"></script>
    <link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet">
    <link href="~/assets/global/plugins/rateit/rateit.css" rel="stylesheet">
    <link href="~/Scripts/flatWeatherPlugin.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.flatWeatherPlugin.js"></script>
    <script src="~/Scripts/notifyjs.js"></script>
    <script>
        var jsUsername = '@ViewBag.username';
        var jsPassword = '@ViewBag.password';
        var jsToUser = '@ViewBag.ToUserId';
        var jsUserId = '@ViewBag.UserId';
        var divOldHtml = null;
    </script>
    @RenderSection("ScriptsOrCss", required: false)
    @{ TempData["ThisUrl"] = Request.Url.ToString();}
</head>

<body class="fixed-topbar fixed-sidebar theme-sdtl color-default">
    <section>
        <div class="sidebar" style="top:0px;">
            <div class="logopanel" style="display:none;">
                <h3 class="text-center m-5">
                    AYKOME
                </h3>
            </div>
            <div class="sidebar-inner">
                <div class="sidebar-top">
                    <div class="userlogged clearfix">
                        <img src="~/Content/theme/img/avatar3.png" class="imguser m-10" style="position:relative;left:5px;top:-15px; width:55px;" />
                        <div class="user-details" style="margin-top:-9px;">
                            <h4>Hoşgeldin</h4>
                            <div class="dropdown user-login">
                                <button class="btn btn-xs dropdown-toggle btn-rounded" type="button" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" data-delay="300">
                                    <i class="online"></i><span>Uygun</span><i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#"><i class="busy"></i><span>Meşgul</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                @if (Env.GetUserInfo("name").Length < 1)
                { Response.Redirect("~/Account/login"); }
                @{ Html.RenderAction("Index", "SiMenuBar"); }
                <div class="sidebar-footer clearfix">
                    <a class="pull-left footer-settings" href="http://aydin.aykome.bel.tr:81" data-rel="tooltip" data-placement="top" data-original-title="Anasayfa">
                        <i class="icon-home"></i>
                    </a>
                    <a class="pull-left toggle_fullscreen" href="#" data-rel="tooltip" data-placement="top" data-original-title="Tam Ekran">
                        <i class="icon-size-fullscreen"></i>
                    </a>
                    <a class="pull-left" href=@Url.Action("LockScreen", "Account") data-rel="tooltip" data-placement="top" data-original-title="Kilitle">
                        <i class="icon-lock"></i>
                    </a>
                    <a class="pull-left btn-effect" href="#" onclick="logout()" data-modal="modal-1" data-rel="tooltip" data-placement="top" data-original-title="Çıkış">
                        <i class="icon-power"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="topbar">
                <div class="header-left">
                    <div class="topnav">
                        <a class="menutoggle" href="#" data-toggle="sidebar-collapsed"><span class="menu__handle"><span>Menu</span></span></a>
                        <ul class="nav nav-icons">
                            <li><a href="#" class="toggle-sidebar-top"><span class="icon-user-following"></span></a></li>

        
                            @if (Session["user"] != null)
                            {
                                if (Session["user"].ToString() != "false")
                                {
                                    string s = Session["user"].ToString();
                                    <li id="imageslar"><a href="http://aykome.aydin.bel.tr:83/login.aspx?user=@s"><span class="fa fa-file-o"></span></a></li>
                                }
                                else
                                {
                                    @(Url.Action("Login", "Account"));

                                }
                            }
                            else
                            {
                                @(Url.Action("Login", "Account"));
                            }
                            <li id="imageslar"><a href="http://aykome.aydin.bel.tr:82/Aykome/harita.html"><span class="glyphicon glyphicon-globe" style="margin-top:-1px;"></span></a></li>
                        </ul>
                    </div>
                </div>
                <span id="msgSpan" style="display:none"></span>
                <div class="header-right">
                    <ul class="header-menu nav navbar-nav">

                        <li class="dropdown" id="notificationEvent">
                            <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <i class="glyphicon glyphicon-calendar"></i>
                                <span class="badge badge-success badge-header" id="eventCounter">0</span>
                            </a>
                            <ul class="dropdown-menu" style="margin-right: -190px;">
                                <li class="dropdown-header clearfix">
                                    <p class="pull-left">Etkinlik</p>
                                </li>
                                <li>
                                    <ul class="dropdown-menu-list withScroll" style="margin-top:-30px; text-transform:uppercase;" data-height="220">
                                        @{ Html.RenderAction("EventAnnouncement", "Event");}
                                    </ul>
                                </li>
                                <li class="dropdown-footer clearfix">
                                    <a href="~/EventMember/Index" class="pull-left">Tüm Etkinlikleri Görüntüle</a>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown" id="notificationMsg">
                            <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <i class="glyphicon glyphicon-envelope"></i>
                                <span class="badge badge-primary badge-header" id="StarkMsgCount">0</span>
                            </a>
                            <ul class="dropdown-menu" style="margin-right: -129px;">
                                <li class="dropdown-header clearfix">
                                    <p class="pull-left">
                                        Mesaj Listesi
                                    </p>
                                </li>
                                
                                <li class="dropdown-body">
                                    <ul class="dropdown-menu-list withScroll" data-height="220" id="StarkMsgList">
                                        @*<li class="clearfix"><span id="StarkMsgList"></span></li>*@
                                    </ul>
                                </li>
                                <li class="dropdown-footer clearfix">
                                    <a href="~/Messages/To" class="pull-left" id="linkTo">Tüm Mesajları Görüntüle</a>
                                </li>
                            </ul>
                        </li>

                        <li id="notification" class="dropdown">
                            @{ 
                                Html.RenderAction("Notification", "AnnouncementMember");
                             }
                        </li>

                        <li class="dropdown" id="user-header">
                            <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <i class="fa fa-user"></i>
                                <span class="username">@Env.GetUserInfo("")<i class="caret"></i></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">
                                        <img src="~/Content/theme/img/avatar3.png" class="img-circle" alt="User Image" style="width:35px;" />
                                        <p style="white-space: nowrap;
                                           overflow: hidden;
                                           text-overflow: ellipsis;
                                           max-width: 200px; margin-bottom:2px;">@Env.GetUserInfossss("name")</p>
                                        <p><small>@DateTime.Now.Date.ToShortDateString()</small></p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#"><i class="icon-calendar"></i><span>My Calendar</span></a>
                                </li>
                                <li>
                                    <a href=@Url.Action("EditProfile","Profile")><i class="icon-settings"></i><span>Profil Düzenle</span></a>
                                </li>
                                <li>
                                    @*<a href="~/Account/signout"><i class="icon-logout"></i><span>Çıkış</span></a>*@
                                    <a id="logout"><i class="icon-logout"></i><span>Çıkış</span></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="page-content">
                @RenderBody()
            </div>
        </div>
       
    </section>
    <div class="loader-overlay">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- END PRELOADER -->
    <a href="#" class="scrollup"><i class="fa fa-angle-up"></i></a>

    <script src="~/assets/global/plugins/gsap/main-gsap.min.js"></script>
    <script src="~/assets/global/plugins/tether/js/tether.min.js"></script>
    <script src="~/assets/global/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/global/plugins/appear/jquery.appear.js"></script>
    <script src="~/assets/global/plugins/jquery-cookies/jquery.cookies.min.js"></script> <!-- Jquery Cookies, for theme -->
    <script src="~/assets/global/plugins/jquery-block-ui/jquery.blockUI.min.js"></script> <!-- simulate synchronous behavior when using AJAX -->
    <script src="~/assets/global/plugins/bootbox/bootbox.min.js"></script> <!-- Modal with Validation -->
    <script src="~/assets/global/plugins/mcustom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script> <!-- Custom Scrollbar sidebar -->
    <script src="~/assets/global/plugins/bootstrap-dropdown/bootstrap-hover-dropdown.min.js"></script> <!-- Show Dropdown on Mouseover -->
    <script src="~/assets/global/plugins/charts-sparkline/sparkline.min.js"></script> <!-- Charts Sparkline -->
    <script src="~/assets/global/plugins/retina/retina.min.js"></script> <!-- Retina Display -->
    <script src="~/assets/global/plugins/select2/dist/js/select2.full.min.js"></script> <!-- Select Inputs -->
    <script src="~/assets/global/plugins/backstretch/backstretch.min.js"></script> <!-- Background Image -->
    <script src="~/assets/global/plugins/bootstrap-progressbar/bootstrap-progressbar.min.js"></script> <!-- Animated Progress Bar -->
    <script src="~/assets/global/plugins/charts-chartjs/Chart.min.js"></script>
    <script src="~/assets/global/js/builder.js"></script> <!-- Theme Builder -->
    <script src="~/assets/global/js/sidebar_hover.js"></script> <!-- Sidebar on Hover -->
    <script src="~/assets/global/js/widgets/notes.js"></script> <!-- Notes Widget -->
    <script src="~/assets/global/js/quickview.js"></script> <!-- Chat Script -->
    <script src="~/assets/global/js/pages/search.js"></script> <!-- Search Script -->
    <script src="~/assets/global/js/plugins.js"></script> <!-- Main Plugin Initialization Script -->
    <script src="~/assets/global/js/application.js"></script> <!-- Main Application Script -->
    <script src="~/assets/admin/md-layout1/material-design/js/material.js"></script>
    <script src="~/assets/admin/layout1/js/layout.js"></script>
    <script src="~/assets/global/js/pages/icons.js"></script>
    <script src="~/assets/global/plugins/touchspin/jquery.bootstrap-touchspin.min.js"></script> <!-- A mobile and touch friendly input spinner component for Bootstrap -->
    <script src="~/assets/global/plugins/timepicker/jquery-ui-timepicker-addon.min.js"></script> <!-- Time Picker -->
    <script src="~/assets/global/plugins/colorpicker/spectrum.min.js"></script> <!-- Color Picker -->
    <script src="~/assets/global/plugins/rateit/jquery.rateit.min.js"></script> <!-- Rating star plugin -->
    <script src="~/assets/global/js/pages/form_plugins.js"></script>
    <script src="~/assets/global/plugins/skycons/skycons.min.js"></script>
    <script src="~/assets/global/plugins/countup/countUp.min.js"></script>
        <script>
            $.material.init();
        </script>

        <input id="hUserId" type="hidden" />
        <input id="hId" type="hidden" />
        <input id="hUserName" type="hidden" />
        <input id="hGroup" type="hidden" />


        <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
        <script src="~/signalr/hubs" type="text/javascript"></script>
        <script src="~/Scripts/StarkJsBootstrap.Js"></script>
        <script>
            $(document).ready(function () {

                $.ajax({
                    type: "GET",
                    url: "/Event/EventCounter",
                    success: function (response) {

                        if (parseInt(response) > 0)
                        {
                            $("#eventCounter").closest('.label').removeClass('label-success').addClass('label-danger');
                        }
                        $("#eventCounter").text(response);
                    },
                    error: function (error) {
                        console.log(error);
                    }

                });


                $("#logout").on('click',function () {
                    $.ajax({
                        url: "@Url.Action("getoffline","Home")",
                        success: function (result) {
                            window.location.href = "/Account/signout";
                        },
                        error:function(result,status)
                        {
                            console.log(result);
                            console.log(status);
                            window.location.href = "/Account/signout";
                        }

                })
            });
                var starkMsgCount = $("#StarkMsgCount");
                if (parseInt(starkMsgCount.val()) > 0)
                {
                    starkMsgCount.removeClass('label-success').addClass('label-danger');

                }
                var notCount = parseInt($("#notification").find('.label').text());
                if (parseInt(notCount) > 0) {   
                    $("#notification").find('.label').removeClass('label-success').addClass('label-danger');
                }
                var audioElement = document.createElement('audio');
                audioElement.setAttribute('src', '/sound.wav');
                audioElement.setAttribute('autoplay:false', 'autoplay');
                var interval = 10000;
                setInterval(function () {
                    var msgCount = parseInt($("#StarkMsgCount").text());
                    var eventCount = parseInt($("#eventCounter").text());
   
                    var announcmentCount = parseInt($("#notification").find('span').text());

                    if (msgCount > 0)
                    {
                        AnimateUp($("#StarkMsgCount").parent('span'));
                        AnimateDown($("#StarkMsgCount").parent('span'));                     

                       
                    }
                    if (eventCount > 0) {
                        AnimateUp($("#eventCounter").parent('span'));
                        AnimateDown($("#eventCounter").parent('span'));
                    }
                    if (announcmentCount > 0) {
                        AnimateUp($("#notification").find('span'));
                        AnimateDown($("#notification").find('span'));
                    }
                }, interval);

            });

            function AnimateUp(element) {
                element.animate({
                    height: '+=10px',
                    width: '+=10px'
                }, 'slow');
            }
            function AnimateDown(element) {
                element.animate({
                    height: '-=10px',
                    width: '-=10px'
                }, 'slow');
            }
        </script>
        <script>
            window.setInterval(function () {
                $.ajax({
                    url: "@Url.Action("getonline","Home")", success: function (result) {

                    }
                });
            }, 5000);

           

        </script>

    <script>
        function logout()
        {
                
                             
            $.ajax({
                url: "@Url.Action("getoffline","Home")",
                success: function (result) {
                    window.location.href = "/Account/signout";
                },
                error:function(result,status)
                {
                    console.log(result);
                    console.log(status);
                    window.location.href = "/Account/signout";
                }

                
            })
        };

    </script>
    </body>
    </html>
