﻿@model MassEmail.Models.Department

@{
    ViewBag.Title = "Kurum Ekle";
    if (Ajax.IsThisAjaxRequest())
    {
        Layout = null;
    }
}
@section ScriptsOrCss{
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <script src="~/Content/ckEditor/ckeditor.js"></script>
    <link href="~/Content/ckEditor/samples/sample.css" rel="stylesheet" />
    <script src="~/Scripts/colorpickerjs/jquery.minicolors.js"></script>
    <script src="~/Scripts/colorpickerjs/jquery.minicolors.min.js"></script>
    <link href="~/Scripts/colorpickerjs/jquery.minicolors.css" rel="stylesheet" />    
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script>
        $(document).ready(function () {

            $('.demo').each(function () {
                $(this).minicolors({
                    control: $(this).attr('data-control') || 'hue',
                    defaultValue: $(this).attr('data-defaultValue') || '',
                    format: $(this).attr('data-format') || 'hex',
                    keywords: $(this).attr('data-keywords') || '',
                    inline: $(this).attr('data-inline') === 'true',
                    letterCase: $(this).attr('data-letterCase') || 'lowercase',
                    opacity: $(this).attr('data-opacity'),
                    position: $(this).attr('data-position') || 'bottom left',
                    change: function (value, opacity) {
                        if (!value) return;
                        if (opacity) value += ', ' + opacity;
                        if (typeof console === 'object') {
                            console.log(value);
                        }
                    },
                    theme: 'bootstrap'
                });

            });

        });
    </script>



}

<section class="content-header">
    <h1>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </h1>
</section>

@using (Html.BeginForm("Create", "Department", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel" style="height:450px;">
                    <div class="panel-header">
                        <h3>@ViewBag.Title</h3>
                    </div>
                    <div role="form">
                        <div class="panel-content">
                            @if (ViewBag.Msg != null)
                            {
                                <div class="alert alert-danger alert-dismissable">
                                    <i class="fa fa-ban"></i>
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <b>Uyarı! </b> @ViewBag.Msg
                                </div>
                            }
                            @if (ViewBag.Success != null)
                            {
                                <div class="alert alert-success alert-dismissable">
                                    <i class="fa fa-ban"></i>
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <b>Başarıyla Oluşturuldu! </b> @ViewBag.Success


                                </div>
                            }
                            <div class="alert alert-danger alert-dismissable" style="display:@(this.ViewData.ModelState.IsValid ? "none" : "")">
                                <i class="fa fa-ban"></i>
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>

                                @foreach (var key in this.ViewData.ModelState.Keys)
                                {
                                    foreach (var err in this.ViewData.ModelState[key].Errors)
                                    {
                                        <b>Uyarı! </b> @err.ErrorMessage
                                        <br />
                                    }
                                }
                                @Html.ValidationSummary(true)
                            </div>



                            <div class="form-group">
                                @Html.LabelFor(model => model.Title, new { @class = "" })
                                @Html.TextBoxFor(model => model.Title, new { required = "required", @class = "form-control" })  @Html.ValidationMessageFor(model => model.Title)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.IsActive, new { @class = "" })
                                <select id="IsActive" class="list-box tri-state" name="IsActive">
                                    <option value="true">Aktif</option>
                                    <option value="false">Pasif</option>
                                </select>
                                @Html.ValidationMessageFor(model => model.IsActive)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.PhotoPath, new { @class = "" })
                                <input type="file" name="DocPath" id="DocPath" class="form-control" />
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Color, new { @class = "" })
                                <input type="text" id="Color" class="form-control demo" data-control="hue" name="Color" value=""> 
                                @Html.ValidationMessageFor(model => model.Color)
                            </div>



                        </div>
                        <div class="box-footer" style="margin-left:15px;">
                            <input type="submit" value="Oluştur" class="btn btn-primary" />
                            @Html.ActionLink("Liste", "Index", null, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}



