﻿@model MassEmail.Models.Department

@{
    ViewBag.Title = "Detay";
    if (Ajax.IsThisAjaxRequest())
    {
        Layout = null;
    }
}
<section class="content-header">
    <h1>
            <meta charset="UTF-8" />
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </h1>
</section>
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
            <div class="panel">
                <div class="panel-header">
                    <h3>Kurum Detay</h3>
                </div>
                <div class="panel-content">
                    <div class="widget-sec">
                        <div class="streaming-table">
                            <table class="table table-striped table-bordered">

                                <tr>
                                    <td>Başlık</td>
                                    <td>@Html.DisplayFor(model => model.Title)</td>
                                </tr>
                                <tr>
                                    <td>Aktif</td>
                                    <td>@Html.DisplayFor(model => model.IsActive)</td>
                                </tr>
                                <tr>
                                    <td>Logo</td>
                                    <td>@Html.DisplayFor(model => model.PhotoPath)</td>
                                </tr>
                                <tr>
                                    <td>Renk</td>
                                    <td>@Html.DisplayFor(model => model.Color)</td>
                                </tr>
 
                            </table>
                            <div class="box-footer">
                                @Ajax.ModalDialogActionLink("Düzenle", "Edit/" + Model.Id, "Edit", "btn btn-primary") 
                                
                                @Html.ActionLink("Liste", "Index", null, new { @class = "btn btn-primary" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</section>



