﻿@model MassEmail.Models.Department

@{
    ViewBag.Title = "Düzenle";
    if (Ajax.IsThisAjaxRequest())
    {
        Layout = null;
    }
}
@section ScriptsOrCss{
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<script src="~/Content/ckEditor/ckeditor.js"></script>
<link href="~/Content/ckEditor/samples/sample.css" rel="stylesheet" />
}
<section class="content-header">
    <h1>
            <meta charset="UTF-8" />
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        @ViewBag.Title
    </h1>
    @if (ViewBag.Msg != null)
    {
        <div class="alert alert-danger alert-dismissable">
            <i class="fa fa-ban"></i>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <b>Uyarı! </b> @ViewBag.Msg


        </div>
    }
</section>
@using (Html.BeginForm("Düzenle", "Department", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <section class="content">
        <div class="row">
                <div class="panel">
                    <div class="panel-header">
                        <h3>Kurum Düzenle</h3>
                    </div>
                    <div role="form">
                        <div class="panel-content">
                            <div class="alert alert-danger alert-dismissable" style="display:@(this.ViewData.ModelState.IsValid ? "none" : "")">
                                <i class="fa fa-ban"></i>
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>

                                @foreach (var key in this.ViewData.ModelState.Keys)
                                {
                                    foreach (var err in this.ViewData.ModelState[key].Errors)
                                    {
                                        <b>Uyarı! </b> @err.ErrorMessage
                                        <br />
                                    }
                                }
                            </div>



                            <div class="form-group">
                                @Html.LabelFor(model => model.Title, new { @class = "" })
                                @Html.EditorFor(model => model.Title) @Html.ValidationMessageFor(model => model.Title)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.IsActive, new { @class = "" })
                                @Html.EditorFor(model => model.IsActive) @Html.ValidationMessageFor(model => model.IsActive)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.PhotoPath, new { @class = "" })
                                <input type="file" value="@Model.PhotoPath" name="DocPath" id="DocPath" class="form-control" /> 
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Color, new { @class = "" })
                                @Html.EditorFor(model => model.Color) @Html.ValidationMessageFor(model => model.Color)
                            </div>


                        </div><!-- /.box-body -->
                        <div class="box-footer">
                            <input type="submit" value="Kaydet" class="btn btn-primary" />
                            @Html.ActionLink("Liste", "Index", null, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
        </div>
    </section>

}


