﻿@model IEnumerable<MassEmail.Models.Department>

    @{
    ViewBag.Title = "Kurum Liste";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <section class="content-header">
        <h1>
                <meta charset="UTF-8" />
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            @ViewBag.Title
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
                <div class="panel">
                    <div class="panel-header">
                        <h3>Kullanıcı Kayıt</h3>
                    </div>
                    <div class="panel-content">
                        @Html.ActionLink("Yeni Oluştur", "Create", null, new { @class = "btn btn-primary" })
                        <br /><br />
                        <div class="widget-sec">
                            <div class="streaming-table">
                                <span id="found" class="label label-info"></span>

                                <table id="tbPages" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>

                                            <th> @Html.DisplayNameFor(model => model.Id) </th>
                                            <th> @Html.DisplayNameFor(model => model.Title) </th>
                                            <th> @Html.DisplayNameFor(model => model.IsActive) </th>
                                            <th> @Html.DisplayNameFor(model => model.PhotoPath) </th>
                                            <th> @Html.DisplayNameFor(model => model.Color) </th>



                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model) 
                                        {
                                            <tr> 
                                            <td> @Html.DisplayFor(modelItem => item.Id) </td>    
                                            <td> @Html.DisplayFor(modelItem => item.Title) </td>
                                            <td> @Html.DisplayFor(modelItem => item.IsActive) </td>
                                            <td> @Html.DisplayFor(modelItem => item.PhotoPath) </td>
                                            <td> @Html.DisplayFor(modelItem => item.Color) </td>

                                                <td>
                                                    @Html.ActionLink("Edit", "Edit", new { id=item.Id}) |
                                                    @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                                                    @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                                                </td>

                                            </tr>
                                       }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="box-footer">
                        @Html.ActionLink("Yeni Oluştur", "Create", null, new { @class = "btn btn-primary" })
                    </div>
                </div>
        </div>
    </section>


