﻿@model MassEmail.Models.Department
@{
    ViewBag.Title = "Düzenleme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section ScriptsOrCss
{
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <script src="~/Content/DataTable/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="~/Content/DataTable/js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <link href="~/Content/DataTable/plugins/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="~/Content/DataTable/js/plugins/dataTables/jquery.dataTable.minNew.js"></script>
    <script type="text/javascript" src="~/Content/HtmlExprt/tableExport.js"></script>
    <script type="text/javascript" src="~/Content/HtmlExprt/jquery.base64.js"></script>
    <script type="text/javascript" src="~/Content/HtmlExprt/html2canvas.js"></script>
    <script type="text/javascript" src="~/Content/HtmlExprt/jspdf/libs/sprintf.js"></script>
    <script type="text/javascript" src="~/Content/HtmlExprt/jspdf/jspdf.js"></script>
    <script type="text/javascript" src="~/Content/HtmlExprt/jspdf/libs/base64.js"></script>
    <link href="~/Content/splitter/splitter.css" rel="stylesheet" />
    <script src="~/Content/splitter/Splitter.js"></script>
    <script src="~/Content/ckEditor/ckeditor.js"></script>
    <link href="~/Content/ckEditor/samples/sample.css" rel="stylesheet" />
    <script src="~/Content/tabs/Jquery-ui.js"></script>
    <link href="~/Content/tabs/JqueryUi.css" rel="stylesheet" />
    <script src="~/Scripts/colorpickerjs/jquery.minicolors.js"></script>
    <script src="~/Scripts/colorpickerjs/jquery.minicolors.min.js"></script>
    <link href="~/Scripts/colorpickerjs/jquery.minicolors.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {

            $('.demo').each(function () {
                //
                // Dear reader, it's actually very easy to initialize MiniColors. For example:
                //
                //  $(selector).minicolors();
                //
                // The way I've done it below is just for the demo, so don't get confused
                // by it. Also, data- attributes aren't supported at this time...they're
                // only used for this demo.
                //
                $(this).minicolors({
                    control: $(this).attr('data-control') || 'hue',
                    defaultValue: $(this).attr('data-defaultValue') || '',
                    format: $(this).attr('data-format') || 'hex',
                    keywords: $(this).attr('data-keywords') || '',
                    inline: $(this).attr('data-inline') === 'true',
                    letterCase: $(this).attr('data-letterCase') || 'lowercase',
                    opacity: $(this).attr('data-opacity'),
                    position: $(this).attr('data-position') || 'bottom left',
                    change: function (value, opacity) {
                        if (!value) return;
                        if (opacity) value += ', ' + opacity;
                        if (typeof console === 'object') {
                            console.log(value);
                        }
                    },
                    theme: 'bootstrap'
                });

            });

        });
    </script>



    <script>
        $(function () {
            var tabs = $("#tabs").tabs();
            tabs.find(".ui-tabs-nav").sortable({
                axis: "x",
                stop: function () {
                    tabs.tabs("refresh");
                }
            });

            $("#dialog").dialog({
                autoOpen: false,
                show: {
                    effect: "blind",
                    duration: 1000
                },
                hide: {
                    effect: "explode",
                    duration: 1000
                }
            });
            $("#opener").click(function () {
                $("#dialog").dialog("open");
            });

        });
    </script>
    <style>
        table {
            width: 100% !important;
        }
    </style>
}



<section class="content-header">
    <h1>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </h1>
</section>
<section class="content">

    <div class="row">
        <div class="panel">
            <div class="panel-content">
                <div class="nav-tabs2">
                    <ul class="nav nav-tabs nav-red">
                        <li class="active"><a data-toggle="tab" href="#EditThis">Düzenle</a></li>
                        <li><a data-toggle="tab" href="#ApplicationUser">Kullanıcı</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="EditThis" class="tab-pane active">
                            @if (ViewBag.Msg != null)
                        {
                                <div class="alert alert-danger alert-dismissable">
                                    <i class="fa fa-ban"></i>
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <b>Uyarı! </b> @ViewBag.Msg
                                </div>
                        }
                            @using (Html.BeginForm("MultiViewIndex", "Department", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                                @Html.AntiForgeryToken()

                            if (ViewBag.IsWorking == 1)
                            {
                                    <section class="content">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="box box-solid box-primary">
                                                    <div class="box-header">
                                                        <h3 class="box-title">Kurum Düzenle</h3>
                                                    </div>
                                                    <div role="form">
                                                        <div class="box-body">
                                                            <div class="alert alert-danger alert-dismissable" style="display:@(this.ViewData.ModelState.IsValid ? "none" : "")">
                                                                <i class="fa fa-ban"></i>
                                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>

                                                                @foreach (var key in this.ViewData.ModelState.Keys)
                                                            {
                                                                foreach (var err in this.ViewData.ModelState[key].Errors)
                                                                {
                                                                        <b>Uyarı! </b> @err.ErrorMessage
                                                                        <br />
                                                                }
                                                            }
                                                            </div>
                                                            <div class="form-group">
                                                                @Html.LabelFor(model => model.Title, new { @class = "" })
                                                                @Html.EditorFor(model => model.Title) @Html.ValidationMessageFor(model => model.Title)
                                                            </div>
                                                            <div class="form-group">
                                                                @Html.LabelFor(model => model.IsActive, new { @class = "" })
                                                                <select id="IsActive" class="list-box tri-state" name="IsActive">
                                                                    <option value="true">Aktif</option>
                                                                    <option value="false">Pasif</option>
                                                                </select>
                                                                @Html.ValidationMessageFor(model => model.IsActive)
                                                            </div>
                                                            <div class="form-group">
                                                                @Html.LabelFor(model => model.PhotoPath, new { @class = "" })
                                                                <img src="~/Logo/@Model.PhotoPath" />
                                                                <input id="DocPath" type="file" name="DocPath" value="@Model.PhotoPath" />
                                                                <input type="hidden" value="@ViewBag.photo" id="photo" name="photo" />
                                                                @Html.ValidationMessageFor(model => model.PhotoPath)
                                                            </div>

                                                            <div class="form-group">
                                                                @Html.LabelFor(model => model.Color, new { @class = "" })
                                                                <input type="text" id="Color" class="form-control demo" data-control="hue" name="Color" value="@Model.Color">
                                                                @Html.ValidationMessageFor(model => model.Color)
                                                            </div>



                                                        </div><!-- /.box-body -->
                                                        <div class="box-footer">
                                                            <input type="submit" value="Kaydet" class="btn btn-primary" />
                                                            @Html.ActionLink("Liste", "Index", null, new { @class = "btn btn-primary" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                            }
                        }
                        </div>
                        <div id="ApplicationUser" class="tab-pane" style="overflow:auto !important;">
                            <div class="box box-solid box-primary"><div class="box-body">@Ajax.ModalDialogActionLink("Yeni Oluştur", "Create", "ApplicationUser", "Yeni Oluştur", "btn btn-primary") </div> </div>
                            <div class="box box-solid box-primary">
                                <div class="box-body">
                                    <table id="tbApplicationUser" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>

                                                <th></th>
                                                <th> ID </th>
                                                <th> Kullanıcı adı </th>
                                                <th> Şifre </th>
                                                <th> Email </th>
                                                <th> Ad </th>
                                                <th> Soyad </th>
                                                <th> Kurum ID</th>
                                                <th> Aktif </th>
                                                <th> Email Yetki </th>
                                                <th> Mesaj Yetki </th>
                                            </tr>
                                        </thead>
                                        <tbody> </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


<script type="text/javascript">

    $(document).ready(function () {
        var oTableApplicationUser = "";
        var ControlerNameApplicationUser = "@Url.Content("~/ApplicationUser")";
        // debugger;
        oTableApplicationUser = $("#tbApplicationUser").dataTable({
            "bRetrieve": true,
            "bProcessing": true,
            "sAjaxSource": "@Url.Content("~/ApplicationUser/GetGrid")",
            "aoColumns": [

            {
                "mRender": function (oObj, type, row) {
                    var buttons = "<a class=\"btn btn-sm btn-success\" href=" + ControlerNameApplicationUser + "/MultiViewIndex/" + row[0] + "><i class=\"fa fa-edit f18\"></i></a>"
                    buttons += "<a class=\"btn btn-sm btn-blue\" href=" + ControlerNameApplicationUser + "/Details/" + row[0] + " data-ajax-update=\"#SkDetails\" data-ajax-success=\"openModalDialog('SkDetails', 'Details')\" data-ajax-mode=\"replace\" data-ajax-method=\"GET\" data-ajax-failure=\"clearModalDialog('SkDetails');alert('Ajax call failed')\" data-ajax-begin=\"prepareModalDialog('SkDetails')\" data-ajax=\"true\"><i class=\"fa fa-info f18\"></i></a>";
                    buttons += "<a class=\"btn btn-sm btn-danger\" href=" + ControlerNameApplicationUser + "/Delete/" + row[0] + " data-ajax-update=\"#SkDelete\" data-ajax-success=\"openModalDialog('SkDelete', 'Delete')\" data-ajax-mode=\"replace\" data-ajax-method=\"GET\" data-ajax-failure=\"clearModalDialog('SkDelete');alert('Ajax call failed')\" data-ajax-begin=\"prepareModalDialog('SkDelete')\" data-ajax=\"true\"><i class=\"fa fa-bitbucket f18\"></i></a>";

                    return buttons;
                }

            }, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}
            ]

        });

    });
</script>
