﻿@media only screen and (max-device-width:480px) {
        .table-mobile {
          border: 0 !important;
        }

        .table-mobile thead {
          display: none !important;
        }

        .table-mobile tr {
          margin-bottom: 10px !important;
          display: block !important;
          border-bottom: 5px solid #ddd !important;
        }

        .table-mobile td {
          display: block !important;
          text-align: right !important;
          font-size: 13px !important;
          border-bottom: 1px dotted #ccc !important;
          max-width:300px !important
        }
        .table-mobile td.mobile-noshow {
          display: none !important;
        }
        .table-mobile td:last-child {
          border-bottom: 0 !important;
        }

        .table-mobile td:before {
          content: attr(data-label) !important;
          float: left !important;
          text-transform: uppercase !important;
          font-weight: bold !important;
        }
        #divbildirim, .mobile-noshow{
            display:none !important;
        }
    }