﻿@media only screen and (min-width: 480px) { 

#dvUsers {
height:400px;

}
#divMessageOuter {
height:400px;
width:650px;

}
.btn i{
        font-size: 10px !important
    }

}

@media only screen and (max-device-width:480px) {
    body {
        height: 90%;
    }
    h3{
        font-size:10px !important;
        display:inline !important;
    }
    i {
        font-size: 14px !important
    }
    hr {
        margin: 15px 0
    }
    span.input-group-btn{
        position: relative;
        top: 40px !important;
    }
    span.caret, span#tousername{
        position:relative;
        bottom:8px;
        font-size: 10px !important
    }
    div.btn-group button.btn-blue{
        height:18px !important
    }
    div.bootstrap-switch-container{
        height:22px !important
    }
    div.col-xs-12.col-sm-8.col-md-8.col-lg-8{
        height:320px !important
    }
    .btn i{
        font-size: 10px !important
    }
    .main-content{
        min-height:0px;
    }
    .togglebutton{
        display:inline;
        float: right
    }
    .append-icon i {
        top: 30px !important;
    }
    .page-content{
        padding: 0 20px !important;
    }
    .panel-content{
        padding-bottom: 0px !important
    }
    #dvUsers {
        font-size:10px;
        height: 103px;
      
    }
    #txtMessage{
        width: 241%;
        display: inline-block;
    }
    #divMessageOuter{
        max-height: 150px !important;
        width: 100% !important;
        font-size:10px !important
    }
}


