@mixin mm_arrow
{
	content: '';
	border: 2px solid transparent;
	display: block;
	width: 7px;
	height: 7px;
	margin-bottom: -5px;
	position: absolute;
	bottom: 50%;
	
	@include mm_vendor-prefix( "transform", rotate( -45deg ) );
}
@mixin mm_arrow-prev
{
	border-right: none;
	border-bottom: none;
}
@mixin mm_arrow-next
{
	border-top: none;
	border-left: none;
}