﻿@model MassEmail.Models.EmailAttachment

@{
    ViewBag.Title = "Silmek istediğinize eminmisiniz?";
    if (Ajax.IsThisAjaxRequest())
    {
        Layout = null;
    }
}
<section class="content-header">
    <h1>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        @ViewBag.Title
    </h1>
</section>

<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-xs-12">

            <div class="box box-solid box-primary">
                <div class="box-header">
                    <h3 class="box-title">Email Ek Detay</h3>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive">

                    <div class="widget-sec">
                        <div class="streaming-table">
                            <table class="table table-striped table-bordered">

                                <tr>
                                    <td>Email Mesaj ID</td>
                                    <td>@Html.DisplayFor(model => model.EmailMessageId)</td>
                                </tr>
                                <tr>
                                    <td> &nbsp;</td>
                                    <td> <img src="~/Uploads/@Model.FileUrl" width="200" /> </td>
                                </tr>
                                <tr>
                                    <td>Sil</td>
                                    <td>@Html.DisplayFor(model => model.IsDeleted)</td>
                                </tr>


                            </table>
                            <div class="box-footer">

                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                                    <input type="submit" value="Sil" class="btn btn-primary" />
                                    @Html.ActionLink("Liste", "Index", null, new { @class = "btn btn-primary" })
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



