﻿@model MassEmail.Models.EmailMessage

@{
    ViewBag.Title = "Silmek istediğinize eminmisiniz?";
    if (Ajax.IsThisAjaxRequest())
    {
        Layout = null;
    }
}
<head>
<meta charset="UTF-8"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<section class="content-header">
    <h1>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        @ViewBag.Title
    </h1>
</section>

<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-xs-12">

            <div class="panel">
                <div class="panel-header">
                    <h3 class="box-title">Email Mesaj Detay</h3>
                </div><!-- /.box-header -->
                <div class="panel-content">

                    <div class="widget-sec">
                        <div class="streaming-table">
                            <table class="table table-striped table-bordered">

                                <tr>
                                    <td>Gönderen ID</td>
                                    <td>@Html.DisplayFor(model => model.FromUserId)</td>
                                </tr>
                                <tr>
                                    <td>Konu</td>
                                    <td>@Html.DisplayFor(model => model.Subject)</td>
                                </tr>
                                <tr>
                                    <td> Mail Mesaj</td>
                                    <td>  @Html.Raw(Model.MailText)</td>
                                </tr>
                                <tr>
                                    <td>Tarih</td>
                                    <td>@Html.DisplayFor(model => model.DateSend)</td>
                                </tr>
                                <tr>
                                    <td>Silindi</td>
                                    <td>@Html.DisplayFor(model => model.IsDelete)</td>
                                </tr>


                            </table>
                            <div class="panel-footer">

                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                                    <input type="submit" value="Sil" class="btn btn-primary" />
                                    @Html.ActionLink("Liste", "Index", null, new { @class = "btn btn-primary" })
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



