@model MassEmail.Models.EmailMessage

@{
    
    if (Ajax.IsThisAjaxRequest())
    {
        Layout = null;
    }
}
<section class="content-header">
    <h1>

    </h1>
</section>
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-xs-12">

            <div class="panel">
                <div class="panel-header">
                    <h3 class="box-title">Email Mesaj Detay</h3>
                </div><!-- /.box-header -->
                <div class="panel-content">

                    <div class="widget-sec">
                        <div class="streaming-table">
                            <table class="table table-striped table-bordered">

                                <tr>
                                    <td>Gönderen ID</td>
                                    <td>@Html.DisplayFor(model => model.FromUserId)</td>
                                </tr>
                                <tr>
                                    <td>Konu</td>
                                    <td>@Html.DisplayFor(model => model.Subject)</td>
                                </tr>
                                <tr>
                                    <td> Mail Mesaj</td>
                                    <td>  @Html.Raw(Model.MailText)</td>
                                </tr>
                                <tr>
                                    <td>Tarih</td>
                                    <td>@Html.DisplayFor(model => model.DateSend)</td>
                                </tr>
                                <tr>
                                    <td>Silindi</td>
                                    <td>@Html.DisplayFor(model => model.IsDelete)</td>
                                </tr>

 
                            </table>
                            <div class="panel-footer">
                                @Ajax.ModalDialogActionLink("Düzenle", "Edit/" + Model.Id, "Edit", "btn btn-primary") 
                                
                                @Html.ActionLink("Liste", "Index", null, new { @class = "btn btn-primary" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



