@model IEnumerable<MassEmail.Models.EmailMessage>

@{
    ViewBag.Title = "Email";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        @ViewBag.Title
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
            <div class="panel">
                <div class="panel-header">
                    <h3 class="box-title">Kullanıcı Kayıt</h3>
                </div><!-- /.box-header -->

                <div class="panel-content">

                    @Html.ActionLink("Yeni Oluştur", "Create", null, new { @class = "btn btn-primary" })
                    <br /><br />
                    <div class="widget-sec">
                        <div class="streaming-table">
                            <span id="found" class="label label-info"></span>

                            <table id="tbPages" class="table table-striped table-bordered">
                                <thead>
                                    <tr>

                                        <th> @Html.DisplayNameFor(model => model.Id) </th>
                                        <th> @Html.DisplayNameFor(model => model.FromUserId) </th>
                                        <th> @Html.DisplayNameFor(model => model.Subject) </th>
                                        <th> @Html.DisplayNameFor(model => model.MailText) </th>
                                        <th> @Html.DisplayNameFor(model => model.DateSend) </th>
                                        <th> @Html.DisplayNameFor(model => model.IsDelete) </th>


                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td> @Html.DisplayFor(modelItem => item.Id) </td>
                                            <td> @Html.DisplayFor(modelItem => item.FromUserId) </td>
                                            <td> @Html.DisplayFor(modelItem => item.Subject) </td>
                                            <td> @Html.DisplayFor(modelItem => item.MailText) </td>
                                            <td> @Html.DisplayFor(modelItem => item.DateSend) </td>
                                            <td> @Html.DisplayFor(modelItem => item.IsDelete) </td>

                                            <td>
                                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <div class="box-footer">
                    @Html.ActionLink("Yeni Oluştur", "Create", null, new { @class = "btn btn-primary" })
                </div>
            </div>
    </div>
</section>


