﻿@model MassEmail.Models.EmailMessage
@{
    ViewBag.Title = "Düzenleme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section ScriptsOrCss
{
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <script src="~/Content/DataTable/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="~/Content/DataTable/js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <link href="~/Content/DataTable/plugins/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="~/Content/DataTable/js/plugins/dataTables/jquery.dataTable.minNew.js"></script>
    <script type="text/javascript" src="~/Content/HtmlExprt/tableExport.js"></script>
    <script type="text/javascript" src="~/Content/HtmlExprt/jquery.base64.js"></script>
    <script type="text/javascript" src="~/Content/HtmlExprt/html2canvas.js"></script>
    <script type="text/javascript" src="~/Content/HtmlExprt/jspdf/libs/sprintf.js"></script>
    <script type="text/javascript" src="~/Content/HtmlExprt/jspdf/jspdf.js"></script>
    <script type="text/javascript" src="~/Content/HtmlExprt/jspdf/libs/base64.js"></script>
    <link href="~/Content/splitter/splitter.css" rel="stylesheet" />
    <script src="~/Content/splitter/Splitter.js"></script>
    <script src="~/Content/ckEditor/ckeditor.js"></script>
    <link href="~/Content/ckEditor/samples/sample.css" rel="stylesheet" />
    <script src="~/Content/tabs/Jquery-ui.js"></script>
    <link href="~/Content/tabs/JqueryUi.css" rel="stylesheet" />

    <script>
        $(function () {
            var tabs = $("#tabs").tabs();
            tabs.find(".ui-tabs-nav").sortable({
                axis: "x",
                stop: function () {
                    tabs.tabs("refresh");
                }
            });

            $("#dialog").dialog({
                autoOpen: false,
                show: {
                    effect: "blind",
                    duration: 1000
                },
                hide: {
                    effect: "explode",
                    duration: 1000
                }
            });
            $("#opener").click(function () {
                $("#dialog").dialog("open");
            });

        });
    </script>
    <style>
        table {
            width: 100% !important;
        }
    </style>
}

<section class="content-header">
    <h1>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        Email Detay
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="panel">
            <div class="panel-content">
                <div class="nav-tabs2">
                    <ul class="nav nav-tabs nav-red">
                        <li class="active"><a data-toggle="tab" href="#EditThis">Email Detay</a></li>
                        <li><a data-toggle="tab" href="#EmailMember">Email Alıcı </a></li>
                        <li><a  data-toggle="tab"href="#EmailAttachment">Email Ek</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="EditThis" class="tab-pane active">
                            <div class="box-body table-responsive">

                                <div class="widget-sec">
                                    <div class="streaming-table">
                                        <table class="table table-striped table-bordered">

                                            <tr>
                                                <td>Email Gönderen</td>
                                                @*<td>@Html.DisplayFor(model => model.ApplicationUser_FromUserId.Username)</td>*@
                                            </tr>
                                            <tr>
                                                <td>Konu</td>
                                                <td>@Html.DisplayFor(model => model.Subject)</td>
                                            </tr>
                                            <tr>
                                                <td> Email Açıklama</td>
                                                <td>  @Html.Raw(Model.MailText)</td>
                                            </tr>
                                            <tr>
                                                <td>Gönderilen Tarih</td>
                                                <td>@Html.DisplayFor(model => model.DateSend.Value)</td>
                                            </tr>



                                        </table>
                                        <div class="box-footer">

                                            @Html.ActionLink("Liste", "History", null, new { @class = "btn btn-primary" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="EmailMember" class="tab-pane" style="overflow:auto !important;">
                            <div class="box box-solid box-primary">
                                <div class="box-body">
                                    <table id="tbEmailMember" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>


                                                <th> S.No </th>
                                                <th> Email Konu  </th>
                                                <th> Alıcı </th>

                                            </tr>
                                        </thead>
                                        <tbody> </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="EmailAttachment" class="tab-pane" style="overflow:auto !important;">
                            <div class="box box-solid box-primary">
                                <div class="box-body">
                                    <table id="tbEmailAttachment" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>

                                                <th>S.No</th>
                                                <th> Email Konu </th>
                                                <th> Dosya </th>

                                            </tr>
                                        </thead>
                                        <tbody> </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script type="text/javascript">

    $(document).ready(function () {
        var oTableEmailMember = "";
        var ControlerNameEmailMember = "@Url.Content("~/EmailMember")";
        // debugger;
        oTableEmailMember = $("#tbEmailMember").dataTable({
            "bRetrieve": true,
            "bProcessing": true,
            "sAjaxSource": "@Url.Content("~/BulkEmail/GetGridEmailMembers/" + ViewBag.IsWorking)",
            "aoColumns": [

              {}, {}, {}
            ]

        });

    });
</script>
<script type="text/javascript">

    $(document).ready(function () {
        var oTableEmailAttachment = "";
        var ControlerNameEmailAttachment = "@Url.Content("~/BulkEmail")";
        // debugger;
        oTableEmailAttachment = $("#tbEmailAttachment").dataTable({
            "bRetrieve": true,
            "bProcessing": true,
            "sAjaxSource": "@Url.Content("~/BulkEmail/GetGridAttachment/" + ViewBag.IsWorking)",
            "aoColumns": [
  {}, {}, {
      "mRender": function (oObj, type, row) {
          return "<a href='/Uploads/" + oObj + "' target='_blank'   /> " + oObj + " </a>";
      }
  }
            ]

        });

    });
</script>
