/* Cropper v0.3.5 Copyright 2014 Fengyuan Chen */

.cropper-container{position:relative;overflow:hidden;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-color:#fff;-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none}
.cropper-container img{max-width:none !important;max-height:none !important}
.bootstrap-modal-cropper img {width: 100%}
#modal-crop {margin-right: 0;}
.cropper-container .cropper-modal{position:absolute;top:0;right:0;bottom:0;left:0;background:#000;filter:alpha(opacity=50);opacity:.5}
.cropper-container .cropper-dragger{position:absolute;top:10%;left:10%;width:80%;height:80%}
.cropper-container .cropper-preview{display:block;width:100%;height:100%;-webkit-box-sizing:border-box;box-sizing:border-box;overflow:hidden;border-color:#DFE6F3;border-color:rgba(255,255,255,.4);border-style:solid;border-width:1px}
.cropper-container .cropper-dashed{position:absolute;display:block;filter:alpha(opacity=50);border:0 dashed #fff;opacity:.5}
.cropper-container .dashed-h{top:33.3%;left:0;width:100%;height:33.3%;border-top-width:1px;border-bottom-width:1px}
.cropper-container .dashed-v{top:0;left:33.3%;width:33.3%;height:100%;border-right-width:1px;border-left-width:1px}
.cropper-container .cropper-face,.cropper-container .cropper-line,.cropper-container .cropper-point{position:absolute;display:block;width:100%;height:100%;filter:alpha(opacity=10);opacity:.1}
.cropper-container .cropper-face{top:0;left:0;cursor:move;background-color:#fff}
.cropper-container .cropper-line{background-color:#DFE6F3}
.cropper-container .line-e{top:0;right:-2px;width:5px;cursor:e-resize}
.cropper-container .line-n{top:-2px;left:0;height:5px;cursor:n-resize}
.cropper-container .line-w{top:0;left:-2px;width:5px;cursor:w-resize}
.cropper-container .line-s{bottom:-2px;left:0;height:5px;cursor:s-resize}
.cropper-container .cropper-point{width:5px;height:5px;background-color:#DFE6F3;filter:alpha(opacity=75);opacity:.75}
.cropper-container .point-e{top:49%;right:-2px;cursor:e-resize}
.cropper-container .point-n{top:-2px;left:49%;cursor:n-resize}
.cropper-container .point-w{top:49%;left:-2px;cursor:w-resize}
.cropper-container .point-s{bottom:-2px;left:49%;cursor:s-resize}
.cropper-container .point-ne{top:-2px;right:-2px;cursor:ne-resize}
.cropper-container .point-nw{top:-2px;left:-2px;cursor:nw-resize}
.cropper-container .point-sw{bottom:-2px;left:-2px;cursor:sw-resize}
.cropper-container .point-se{right:-2px;bottom:-2px;width:20px;height:20px;cursor:se-resize;filter:alpha(opacity=100);opacity:1}
.cropper-container .point-se:before{position:absolute;right:-50%;bottom:-50%;display:block;width:200%;height:200%;content:" ";background-color:#DFE6F3;filter:alpha(opacity=0);opacity:0}
@media(min-width:768px){
    .cropper-container .point-se{width:15px;height:15px}
}
@media(min-width:992px){
    .cropper-container .point-se{width:10px;height:10px}
}
@media(min-width:1200px){.cropper-container .point-se{width:5px;height:5px;filter:alpha(opacity=75);opacity:.75}
}
.cropper-hidden{display:none !important}