/*
	 Mobile first
	  _________
	 | _______ |
	 ||       ||
	 ||       ||
	 ||       ||
	 ||       ||
	 ||_______||
	 |____O____|
*/

.clearfix {
	clear: both;
}

.hidden {
	visibility: hidden;
}

.container {
	width: auto;
	padding: 30px;
	margin: auto;
}
* {
	font-family: 'Source Sans Pro', sans-serif;
}

body {
	margin: 0;
	background-color: #15151d;
	font-size: 1em;
	overflow-x: hidden;
}

h3 {
	text-transform: uppercase;
	margin-bottom: 3px;
}

p {
	margin: 0 0 1em 0;
}

a {
	color: #8085e8;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #90ee7e;
}

#nav a.dump {
	padding: 0px;
	margin: 0px;
}

/*
==========
=== Header
==========
*/
#top {
	background-color: #252530;
}

#top .container {
	padding: 0;
}

#top h1 {
	color: #eeeaea;
	font-weight: 100;
	margin: 0;
	font-size: 1.5em;
}

.cell {
	width: 100%;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
}

.cell.other-products {
	text-align: center;
	width: 100%;
	color: #eeeaea;
	font-size: 0.9em;
}

#logo {
	height: 32px;
	margin: 0 40px; /* avoid overlapping with sidebar button while still being centered */
}

#logo img {
	max-width: 200px;
	height: 100%;
	width: 100%;
	vertical-align: middle;
}

#sidebar-nav-link {
	z-index: 999999;
	position: fixed;
	left: 0;
	transition: left 0.2s ease;
	font-size: 30px;
	width: 30px;
	height: 30px;
	display: block;
	text-align: center;
	padding: 5px;
	background: #252530;
}

#sidebar-nav-link i {
	display: block;
}

/* Search bar */
#search-div {
	color: #252530;
	display: block;
	margin: 30px;
	border: 1px solid #252530;
}

div#search-div i {
	margin: 5px;
	color: #252530;
	font-size: 14px;
}

input#search {
	height: 18px;
	font-family: "Courier New", Courier, monospace;
	font-size: 0.9em;
	background-color: transparent;
	border: none;	
	outline: none;
	color: #252530;
	width: 80%;
}

.ui-autocomplete {
	max-height: 300px;
	max-width: 275px;
	overflow-y: auto;
	overflow-x: auto;
}

.ui-menu .ui-menu-item {
	font-size: 14px;
	zoom: 1;
	font-family: "Courier New", Courier, monospace;
}

.ui-widget-content a {
	color: #222222 /*{fcContent}*/;
}

/*
==============
=== END Header
==============
*/
/*
==========
=== Footer
==========
*/
#footer {
	background-color: #15151d;
	color: #eeeaea;
}

#footer-copy {
	font-size: 14px;
	line-height: 18px;
}

#footer-copy,
#footer-social {
	text-align: center;
	padding: 5px 0;
}

#footer-social a {
	color: #eeeaea;
	font-size: 18px;
	margin-left: 10px;
}

#footer-social a:hover {
	color: #90ee7e;
}

#footer .container {
	padding: 10px;
}

#scrollTop {
	position: fixed;
	bottom: 75px;
	right: 50px;
	background-color: #90ee7e;
	padding: 10px;
	border-radius: 2px;
	color: white;
}

#scrollTop:hover {
	color: black;
}
/*
==============
=== END Footer
==============
*/

#reference-loading {
	margin-top: 300px;
	text-align: center;
}

/*
===========
=== Wrapper
===========
*/

#splashText {
	padding: 30px;
}

#splashText h1 {
	padding: 0;
	text-align: center;
}

#splashText.section {
	border: none;
}

#splashText img {
	width: 100%;
	max-width: 380px;
}

.nav-section h3 {
	font-size: 24px;
	margin-top: 0;
}

#wrapper{
	background-color: #d6d1d1;
}

#wrapper .container {
	padding: 0;
}

#wrapper-inner {
	background-color: #ffffff;
	/*border: 1px solid silver;*/
}

.tree a {
	color: #252530;
}

#nav .tree, #nav .tree * {
	font-family: "Courier New", Courier, monospace;
}

#nav .header p {
	font-weight: normal;
	color: #666;
}

#nav h1,
#details h1 {
	font-weight: 100;
	margin-bottom: 1em;
}

#nav h1 {
	text-transform: uppercase;
}

#nav {
	min-height: 100%;
	background: #fff;
	overflow-x: scroll;
	border-right: 1px solid silver;
}

/* Hide right border when sidebar is hidden */
.sidr.left {
	left: -261px;
}

/* Fix bug in Firefox where fixed items do not update position when body moves */
body.sidr-open #sidebar-nav-link {
	left: 261px;
}

#nav-wrap {
	width: 100%;
	float: left;
	overflow: auto;
}

#nav a,#nav a:visited {
	font-weight: bold;
	padding: 0 2px;
	margin: 1px;
}

.nav-section {
	position: relative;
	padding: 5px;
}

.nav-section:last-child {
	border-bottom: none;
}

#nav .level {
	margin-left: 13px;
	display: none;
}

#nav .level-0 {
	display: block;
}

#nav a.level-0 {
	margin-left: 1em;
}

#nav .menuitem {
	position: relative;
}

#nav .menuitem a {
	display: inline-block;
	padding: 5px 0;
}

#nav .value {
	width: 40%;
	overflow: hidden;
	color: silver;
	position: absolute;
	white-space: nowrap;
}

#nav .value-string, #nav .value-color {
	color: #39A832;
}

#nav .value-number {
	color: #297EA8;
}

a.hilighted {
	background-color: #eefdec;
}

#nav .plus {
	display: block;
	position: absolute;
	left: -12px;
	top: 0;
	width: 9px;
	height: 9px;
	font-family: FontAwesome;
	color: gray;

}

#nav .collapsed>.plus:before {
	content: "\f0da";
}

#nav .expanded>.plus:before {
	content: "\f0d7";
}

#nav .dots {
	padding: 0 4px;
}

#nav .expanded>.dots {
	display: none;
}

#nav .dots.loading {
	background: url(./../images/ajax-loader.gif) no-repeat center;
}

#nav .dots.error {
	color: red;
	font-weight: bold;
}

#nav .dots.loading span {
	visibility: hidden;
}

#nav code {
	color: #8085e8;
	font-weight: bold;
}

#nav span.typed {
	margin-left: 15px;
}

#nav .collapsed span.typed {
	margin-left: 0;
}

#nav .collapsed br.typed {
	display: none;
}

#methods-and-properties-toc ul {
	margin-left: 0;
	padding-left: 1em;
}

#options-tree,#global-options-tree,#objects-tree {
	font-size: 0.9em;
}

pre,code {
	font-family: "Courier New", Courier, monospace;
}

#overview {
	margin-left: 420px;
}

#details-wrap {
	float: right;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0px;
	padding: 0px;
}

/* Member styling */
.member {
	padding: 30px;
	overflow-y: hidden;
	position: relative;
	border-top: 1px solid silver;
}

.member:first-child {
	color: green;
}

.member.deprecated * {
	color: silver !important;
}

.member.hilighted {
	background-color: #eefdec;
}

.member .title, .member .title a, .member .returnType {
	font-family: "Courier New", Courier, monospace;
	font-size: 1.1em;
	font-weight: bold;
	margin-bottom: 5px;
	display: inline-block;
}

.member .title a{
	text-decoration: underline;
}

.member .title a.noChildren {
        text-decoration: none;
        color: #000;
        font-weight: bold;
        font-size: 1em;
}

.member .default {
	display: none;
}

.member .since {
	float: right;
	font-size: 0.8em;
}

.member .description {
	color: #666;
}

.member .context {
	padding: 1em 0;
}

.description code {
	color: #666;
	font-weight: normal;
}

.section .demo, .member .demo {
	font-style: italic;
	margin-top: 1.5em;
	margin-bottom: 0.5em;
	margin-left: 1.5em;
}

.section .member .demo {
	margin-left: 0em;
}

.section h1,
.section .section-description,
.section .demo {
	padding-left: 25px;
	padding-right: 25px;
}

.section h1 {
	margin-top: 1em;
	display: inline-block;
}

.section h1 span {
	font-family: "Courier New", Courier, monospace;
	float: left;
}

.section-description {
	margin: 0 0 1em 0;
}

/*gert*/
.menuitem div {
	margin-left: 8px;
}

.tree {
	padding-left: 24px;
}

div.edit {
	float: right
}

/*edit form*/
form#optionAttribute td.inp {
	width: 450px;
}

form#optionAttribute td input {
	width: 100%;
}

form#optionAttribute td textarea {
	width: 100%;
}

form#optionAttribute td input[type="checkbox"] {
	width: 20px;
}

.pencil {
	background-image: url(./../images/edit.png);
}

.remove {
	background-image: url(./../images/delete.gif);
}

.add {
	background-image: url(./../images/add.png);
}

.copy {
	background-image: url(./../images/copy.png);
}

.pencil, .add, .remove, .copy {
	background-repeat: no-repeat;
	background-position: center;
	float: right;
	position: relative;
	width: 10px;
	padding: 8px;
}

.pencil a,.add a,.remove a, .copy a {
	text-decoration: none;
	padding: 5px;
}

.deprecated, .error {
	color: red;
	font-weight: bold;
}

dl#inhMembers dd a,span.returnType {
	margin-left: 3px;
}

/* fix for icons changing containers height, affects updateHeights, javascript function */
#footer-social i:before {  
  line-height: 1.5;
}


/*
		Scale up
		   /\
		  /  \
		 /    \
		/      \
	   /		\
*/

/*
==============================
=== Fablets / Vertical tablets
==============================
*/
@media screen and (min-width: 479px) {
	#footer-copy {
		float: left;
	}

	#footer-social {
		float: right;
	}

	.cell {
		width: 49%;
	}

	.ui-autocomplete {
		max-height: 500px;
		max-width: 400px;
	}
}

/*
==============================
=== Larger tablets / Computers
==============================
*/
@media screen and (min-width: 767px) {
	/* Hide the sidebar-link */
	#sidebar-nav-link {
		display: none;
	}

	/* If sidr sidebar is visible while scaling up,
	the page breaks. To avoid this, we counteract
	the effects sidr is having on the body element: */
	body {
		left: 0 !important;
		width: 100% !important;
	}

	/* Make nav and details share width 30/70 */
	#nav-wrap {
		width: 30%;
	}
	#details-wrap {
		width: 70%;
	}

	/* Left-align splash page title */
	#splashText h1 {
		text-align: left;
	}

	/* Since sidr hides nav via fixed positioning,
	we make its position static again */
	#nav {
		position: static;
		width: auto;
		border-right: 1px solid silver;
	}

	/* Make vertical space between items in nav smaller,
	as user is likely to have a mouse at this screen size */
	#nav .menuitem a {
		padding: 0;
	}

	.nav-section {
		padding: 30px;
	}

	#search-div{
		margin: 0 0 20px 0;
	}

	.cell,
	.cell.other-products {
		width: 33%;
	}

	.cell.other-products {
		text-align: right;
	}

	.cell.highcharts-link {
		text-align: left;
	}

	/* Remove space held for the sidebar button, as the sidebar button is no longer displayed */
	#logo {
		margin: 0;
	}

	#scrollTop {
		display: none;
	}

	.section {
		padding-top: 25px;
	}

	.section h1 {
		margin-top: 0;
	}

	#logo img {
		margin: 15px 15px 15px 33px;
	}
}