﻿@model IEnumerable<MassEmail.Models.EventMember>

@{
    ViewBag.Title = "Etkinlik List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section ScriptsOrCss
{
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <script src="~/Content/DataTable/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="~/Content/DataTable/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<link href="~/Content/DataTable/plugins/dataTables.bootstrap.css" rel="stylesheet" />
<script src="~/Content/DataTable/js/plugins/dataTables.responsive.min.js"></script>
<script src="~/Content/DataTable/js/plugins/dataTables/jquery.dataTable.minNew.js"></script>
<script type="text/javascript" src="~/Content/HtmlExprt/tableExport.js"></script>
<script type="text/javascript" src="~/Content/HtmlExprt/jquery.base64.js"></script>
<script type="text/javascript" src="~/Content/HtmlExprt/html2canvas.js"></script>
<script type="text/javascript" src="~/Content/HtmlExprt/jspdf/libs/sprintf.js"></script>
<script type="text/javascript" src="~/Content/HtmlExprt/jspdf/jspdf.js"></script>
<script type="text/javascript" src="~/Content/HtmlExprt/jspdf/libs/base64.js"></script>

<script src="~/Content/fancybox/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
<script type="text/javascript" src="~/Content/fancybox/helpers/jquery.fancybox-media.js?v=1.0.5"></script>
<script src="~/Content/fancybox/jquery.fancybox.pack.js"></script>
<script src="~/Content/fancybox/jquery.fancybox.js?v=2.1.4"></script>
<link href="~/Content/fancybox/jquery.fancybox.css" rel="stylesheet" />
<link href="~/Content/fancybox/helpers/jquery.fancybox-buttons.css" rel="stylesheet" />
<link href="~/Content/DataTable/js/plugins/responsive.dataTables.min.css" rel="stylesheet" />

<link href="~/Content/bildirimobile.css" rel="stylesheet" />

}
<section class="content-header">
    <h1>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </h1>
</section>

<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="panel mobile-noshow" style="display:none;">
            <div class="panel-content">
                <!-- Split button -->
                <div class="margin">
                    <div class="btn-group">
                        <button type="button" class="btn btn-blue dropdown-toggle" data-toggle="dropdown">
                            Filtre <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a class="toggle-vis" data-column="0">Eylemler</a></li>
                            <li><a class="toggle-vis" data-column="1">ID</a></li>
                            <li><a class="toggle-vis" data-column="2">Konu</a></li>
                            <li><a class="toggle-vis" data-column="3">Alıcı ID</a></li>
                            <li><a class="toggle-vis" data-column="4">Okundu</a></li>

                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-blue" onclick="$('#tbAnnouncementMember').tableExport({ type: 'pdf', escape: 'false' });"><i class="fa fa-file-pdf-o f18"></i>Çıkart PDF<div class="ripple-wrapper"></div></button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-blue" onclick="ExportExcel();"><i class="fa fa-file-excel-o f18"></i>Çıkart Excel<div class="ripple-wrapper"></div></button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-blue" onclick="$('#tbAnnouncementMember').tableExport({ type: 'doc', escape: 'false' });"><i class="fa fa-file-word-o f18"></i>Çıkart Word<div class="ripple-wrapper"></div></button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-blue" onclick="$('#tbAnnouncementMember').tableExport({ type: 'csv', escape: 'false' });"><i class="fa fa-file-archive-o f18"></i>Çıkart CSV<div class="ripple-wrapper"></div></button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-blue dropdown-toggle" data-toggle="dropdown">
                            Çıkart <span class="caret"></span>
                        </button>
                        <span class="dropdown-arrow"></span>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" onclick="$('#tbAnnouncementMember').tableExport({ type: 'powerpoint', escape: 'false' });"> <img src='~/Content/HtmlExprt/icons/ppt.png' style="height:25px !important;margin:3px;"> PowerPoint</a></li>
                            <li><a href="#" onclick="$('#tbAnnouncementMember').tableExport({ type: 'json', escape: 'false' });"> <img src='~/Content/HtmlExprt/icons/json.png' style="height:25px !important;margin:3px;"> JSON</a></li>
                            <li><a href="#" onclick="$('#tbAnnouncementMember').tableExport({ type: 'xml', escape: 'false' });"> <img src='~/Content/HtmlExprt/icons/xml.png' style="height:25px !important;margin:3px;"> XML</a></li>
                            <li><a href="#" onclick="$('#tbAnnouncementMember').tableExport({ type: 'sql' });"> <img src='~/Content/HtmlExprt/icons/sql.png' style="height:25px !important;margin:3px;"> SQL</a></li>
                            <li><a href="#" onclick="$('#tbAnnouncementMember').tableExport({ type: 'txt', escape: 'false' });"> <img src='~/Content/HtmlExprt/icons/txt.png' style="height:25px !important;margin:3px;"> TXT</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-header">
                <h3 class="box-title">  Kayıtlar</h3>
            </div><!-- /.box-header -->
            <div class="panel-content">
                <div class="margin">
                    <div class="streaming-table">
                        <span id="found" class="label label-info"></span>
                        <table id="tbAnnouncementMember" class="table table-striped table-bordered table-mobile">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th> @Html.DisplayNameFor(model => model.EventId) </th>
                                    <th> Dosya </th>
                                    <th> @Html.DisplayNameFor(model => model.IsRead) </th>
                                    <th>Gönderen</th>
                                    <th>Zaman</th>
                                    <th>Zaman</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                        <div id="summary">
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#popup" class="fancy" style="display:none" id="fire"></a>
    <div class="scrollbar" id="popup" style="height:200px !important;overflow-y:auto;width:250px;"></div>
    <a href="#popup1" class="fancy1" style="display:none" id="fire1"></a>
    <div class="scrollbar" id="popup1" style="min-width:150px;overflow-y:auto;display:none">
        <div><h2 style="font-style:normal;">Etkinlik</h2></div>
        <div>
            <table id="pcontents" class="table table-striped table-bordered">
                <tr>
                    <td>Konu</td>
                    <td id="sub"></td>
                </tr>
                <tr>
                    <td>Mesaj</td>
                    <td id="body"></td>
                </tr>
            </table>

        </div>

    </div>
</section>





<script type="text/javascript">

    $(document).ready(function () {
        var oTableAnnouncementMember = "";
        var ControlerNameAnnouncementMember = "@Url.Content("~/EventMember")";
        // debugger;
        oTableAnnouncementMember = $("#tbAnnouncementMember").dataTable({
            responsive: true,
            columnDefs: [
   { responsivePriority: 1, targets: 4 },
   { responsivePriority: 2, targets: 3 }
            ],
            "bautoWidth": false,
            "bRetrieve": true,
            "fnInitComplete": function (oSettings, json) {
                configurerows();
            },
            "fnDrawCallback": function (oSettings) {
                configurerows();
            },
            "bProcessing": true,
            "sAjaxSource": "@Url.Content("~/EventMember/GetGrid")",
            "aoColumns": [

            {
                "mRender": function (oObj, type, row) {


                    var buttons = "  ";
                    //      buttons += "<a class=\"btn btn-social-icon btn-dropbox\" href=" + ControlerNameAnnouncementMember + "/Details/" + row[0] + " data-ajax-update=\"#SkDetails\" data-ajax-success=\"openModalDialog('SkDetails', 'Details')\" data-ajax-mode=\"replace\" data-ajax-method=\"GET\" data-ajax-failure=\"clearModalDialog('SkDetails');alert('Ajax call failed')\" data-ajax-begin=\"prepareModalDialog('SkDetails')\" data-ajax=\"true\"><i class=\"fa fa-info\"></i></a>";

                    if (row[6] == "1") {
                        buttons += "&nbsp;<a id=\"btnAccept\" class=\"btn btn-social-icon btn-dropbox\" href=" + ControlerNameAnnouncementMember + "/EventAccepted/" + row[0] + " data-ajax-update=\"#SkDetails\" data-ajax-success=\"alert('Etkinlik Kabul edildi.');$('#btnAccept').remove();$('#btnReject').remove();\" data-ajax-mode=\"replace\" data-ajax-method=\"POST\" data-ajax-failure=\"clearModalDialog('SkDetails');alert('Ajax call failed')\" data-ajax-begin=\"prepareModalDialog('SkDetails')\" data-ajax=\"true\"><i class=\"fa fa-check\"></i></a>";


                        buttons += "&nbsp;<a id=\"btnReject\" class=\"btn btn-social-icon btn-dropbox\" href=" + ControlerNameAnnouncementMember + "/EventRejected/" + row[0] + " data-ajax-update=\"#SkDetails\" data-ajax-success=\"alert('Etkinlik rededildi.');$('#btnAccept').remove();$('#btnReject').remove();\" data-ajax-mode=\"replace\" data-ajax-method=\"POST\" data-ajax-failure=\"clearModalDialog('SkDetails');alert('Ajax call failed')\" data-ajax-begin=\"prepareModalDialog('SkDetails')\" data-ajax=\"true\"><i class=\"fa fa-ban\"></i></a>";
                    }


                    return buttons;

                }

            }
, {}, {
    "mRender": function (oObj, type, row) {
        if (oObj != "") {
            return "<a href=/Uploads/" + row[2] + " target='_blank' class='btn btn-tiny'  /> <i class='fa fa-download'></i> </a>";

        } else {
            return ""


        }
    }
}, {
    "mRender": function (oObj, type, row) {
        if (oObj == "True") {
            return "Okundu";
        } else {
            return "Okunmadı";
        }
    }
}, {}, {}, {}

            ]

        });

        $('a.toggle-vis').on('click', function (e) {
            e.preventDefault();
            var column = table.column($(this).attr('data-column'));
            column.visible(!column.visible());
        });
    });
    $(document).ready(function () {
        $(".fancy").fancybox({
            width: '100%',
            height: '200px',
        });
    });
    $(document).ready(function () {
        $(".fancy1").fancybox({
            width: '100%',
            height: '200px',
        });
    });
    function expand1(xid) {

        $.ajax({
            type: "POST",
            url: "/EventMember/GetGridAll1",
            data: { id: xid },
            success: function (response) {
                $.each(response.aaData, function (id, option) {
                    $("#sub").append(option.sub);
                    $("#body").append(option.body);
                    //document.getElementById("sub").innerHTML = response.aaData;
                    //document.getElementById("body").innerHTML = response.body;

                    $("#fire1").click();
                });
            },
            error: function (error) {
                alert(error);
                console.log(error);
            }
        });
        $('#sub').html("");
        $('#body').html("");
    }
    function configurerows() {
        $trs = $('.table-mobile tbody tr');
        $.each($trs, function (id, tr) {
            $(tr).find('td:eq(0)').addClass('mobile-noshow');
            $(tr).find('td:eq(1)').attr('data-label', 'Konu');
            $(tr).find('td:eq(2)').attr('data-label', 'Dosya');
            $(tr).find('td:eq(3)').attr('data-label', 'Okundu');
            $(tr).find('td:eq(4)').attr('data-label', 'Gönderen');
            $(tr).find('td:eq(5)').attr('data-label', 'Zaman');
            $(tr).find('td:eq(6)').attr('data-label', 'Zaman');
        });
    }
</script>

<style>
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        vertical-align: text-bottom;
    }

    .table.dataTable, table.dataTable td, table.dataTable th {
        max-width: 100px;
        overflow-x: hidden;
        overflow-y: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>