﻿@model MassEmail.Models.AnnouncementMember

@{
    ViewBag.Title = "Detay";
    if (Ajax.IsThisAjaxRequest())
    {
        Layout = null;
    }
}
<script>

    $(function () {
        function printData() {
            var divToPrint = document.getElementById("pcontents");
            newWin = window.open("");
            newWin.document.write(divToPrint.outerHTML);
            newWin.print();
            newWin.close();
        }

        $('#btn').on('click', function () {
            printData();
        });

    });

</script>
<section class="content-header">
    <h1>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </h1>
</section>
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-xs-12">

            <div class="box box-solid box-primary">
                <div class="box-header">
                    <h3 class="box-title">Detay </h3>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive">

                    <div class="widget-sec">
                        <div class="streaming-table">
                            <table id="pcontents" class="table table-striped table-bordered">

                                <tr>
                                    <td> Mesaj Konu </td>
                                    <td>@Html.DisplayFor(model => model.Announcement_EmailMessageId.Subject)</td>
                                </tr>
                                <tr>
                                    <td>Bildirim Mesaj</td>
                                    <td>@Html.Raw(Model.Announcement_EmailMessageId.MailText)</td>
                                </tr>
                                @if (Model.Announcement_EmailMessageId.FileUrl != "")
                                {
                                    <tr>
                                        <td>Bildirim Ek</td>
                                        <td><a href="~/Uploads/@Html.Raw(Model.Announcement_EmailMessageId.FileUrl)" target="_blank" class="btn btn-success"><i class="glyphicon glyphicon-download"></i></a></td>
                                    </tr>
                                }


                            </table>
                            <div class="box-footer">
                               
                                @Html.ActionLink("Liste", "Index", null, new { @class = "btn btn-primary" })
                                <button class="btn btn-primary" id="btn"><i class="fa fa-print"></i> Yazdır</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



