﻿@model IEnumerable<MassEmail.Models.AnnouncementMember>

    @{
    ViewBag.Title = "Bildirim Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <section class="content-header">
        <h1>
                <meta charset="UTF-8" />
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            @ViewBag.Title
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-xs-12">

                <div class="box box-solid box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Kullanıcı Kayıt</h3>
                    </div><!-- /.box-header -->

                    <div class="box-body table-responsive">

                        @Html.ActionLink("Oluştur", "Create", null, new { @class = "btn btn-primary" })
                        <br /><br />
                        <div class="widget-sec">
                            <div class="streaming-table">
                                <span id="found" class="label label-info"></span>

                                <table id="tbPages" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>

                                            <th> @Html.DisplayNameFor(model => model.Id) </th>
                                            <th> @Html.DisplayNameFor(model => model.EmailMessageId) </th>
                                            <th> @Html.DisplayNameFor(model => model.ToUserId) </th>
                                            <th> @Html.DisplayNameFor(model => model.IsRead) </th>



                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model) 
                                        {
                                            <tr>
                                            <td> @Html.DisplayFor(modelItem => item.Id) </td>                                            <td> @Html.DisplayFor(modelItem => item.Announcement_EmailMessageId.Subject) </td>
                                            <td> @Html.DisplayFor(modelItem => item.ApplicationUser_ToUserId.Username) </td>
                                            <td> @Html.DisplayFor(modelItem => item.IsRead) </td>

                                                <td>
                                                    @Html.ActionLink("Edit", "Edit", new { id=item.Id}) |
                                                    @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                                                    @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                                                </td>

                                            </tr>
                                       }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="box-footer">
                        @Html.ActionLink("Oluştur", "Create", null, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        </div>
    </section>


