﻿@model IEnumerable<MassEmail.Models.Event>
@{
    ViewBag.Title = "Etkinlik Geçmişi";




}


@section ScriptsOrCss
{
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <script src="~/Content/DataTable/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="~/Content/DataTable/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<link href="~/Content/DataTable/plugins/dataTables.bootstrap.css" rel="stylesheet" />
<script src="~/Content/DataTable/js/plugins/dataTables.responsive.min.js"></script>
<script src="~/Content/DataTable/js/plugins/dataTables/jquery.dataTable.minNew.js"></script>
<script type="text/javascript" src="~/Content/HtmlExprt/tableExport.js"></script>
<script type="text/javascript" src="~/Content/HtmlExprt/jquery.base64.js"></script>
<script type="text/javascript" src="~/Content/HtmlExprt/html2canvas.js"></script>
<script type="text/javascript" src="~/Content/HtmlExprt/jspdf/libs/sprintf.js"></script>
<script type="text/javascript" src="~/Content/HtmlExprt/jspdf/jspdf.js"></script>
<script type="text/javascript" src="~/Content/HtmlExprt/jspdf/libs/base64.js"></script>

<script src="~/Content/fancybox/jquery.fancybox.js?v=2.1.4"></script>
<script src="~/Content/fancybox/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
<script type="text/javascript" src="~/Content/fancybox/helpers/jquery.fancybox-media.js?v=1.0.5"></script>
<script src="~/Content/fancybox/jquery.fancybox.pack.js"></script>

<link href="~/Content/fancybox/jquery.fancybox.css" rel="stylesheet" />
<link href="~/Content/fancybox/helpers/jquery.fancybox-buttons.css" rel="stylesheet" />
<link href="~/Content/DataTable/js/plugins/responsive.dataTables.min.css" rel="stylesheet" />

<link href="~/Content/bildirimobile.css" rel="stylesheet" />
}

<section class="content-header">
    <h1></h1>
</section>

@if (Model.Count() == 0)
{

    <h1>Etkinlik Bulunamadı</h1>
}
else
{
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="panel mobile-noshow">
                <div class="panel-content">
                    <div class="margin">
                        <div class="btn-group">
                            <a class="btn btn-primary" href="@Url.Action("Create","Event")" style="background-color: #1B6F53;border-color: #1B6F53;">Oluştur</a>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-blue dropdown-toggle" data-toggle="dropdown">
                                Filtre <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a class="toggle-vis" data-column="1"> Gönderen </a></li>
                                <li><a class="toggle-vis" data-column="2"> Konu </a></li>
                                <li><a class="toggle-vis" data-column="3"> Zaman </a></li>
                                <li><a class="toggle-vis" data-column="4"> Dosya </a></li>
                                <li><a class="toggle-vis" data-column="5"> Alıcı </a></li>
                            </ul>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-blue" onclick="$('#tbEvent').tableExport({ type: 'pdf', escape: 'false' });"><i class="fa fa-file-pdf-o f18"></i>Çıkart PDF<div class="ripple-wrapper"></div></button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-blue" onclick="ExportExcel();"><i class="fa fa-file-excel-o f18"></i>Çıkart Excel<div class="ripple-wrapper"></div></button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-blue" onclick="$('#tbEvent').tableExport({ type: 'doc', escape: 'false' });"><i class="fa fa-file-word-o f18"></i>Çıkart Word<div class="ripple-wrapper"></div></button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-blue" onclick="$('#tbEvent').tableExport({ type: 'csv', escape: 'false' });"><i class="fa fa-file-archive-o f18"></i>Çıkart CSV<div class="ripple-wrapper"></div></button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-blue dropdown-toggle" data-toggle="dropdown">
                                Çıkart <span class="caret"></span>
                            </button>
                            <span class="dropdown-arrow"></span>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#" onclick="$('#tbEvent').tableExport({ type: 'powerpoint', escape: 'false' });"> <img src='~/Content/HtmlExprt/icons/ppt.png' style="height:25px !important;margin:3px;"> PowerPoint</a></li>
                                <li><a href="#" onclick="$('#tbEvent').tableExport({ type: 'json', escape: 'false' });"> <img src='~/Content/HtmlExprt/icons/json.png' style="height:25px !important;margin:3px;"> JSON</a></li>
                                <li><a href="#" onclick="$('#tbEvent').tableExport({ type: 'xml', escape: 'false' });"> <img src='~/Content/HtmlExprt/icons/xml.png' style="height:25px !important;margin:3px;"> XML</a></li>
                                <li><a href="#" onclick="$('#tbEvent').tableExport({ type: 'sql' });"> <img src='~/Content/HtmlExprt/icons/sql.png' style="height:25px !important;margin:3px;"> SQL</a></li>
                                <li><a href="#" onclick="$('#tbEvent').tableExport({ type: 'txt', escape: 'false' });"> <img src='~/Content/HtmlExprt/icons/txt.png' style="height:25px !important;margin:3px;"> TXT</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-header">
                    <h3 class="box-title"> @ViewBag.Title</h3>
                </div>
                <div class="panel-content">
                    <div class="margin">
                        <div class="streaming-table">
                            <span id="found" class="label label-info"></span>
                            <table id="tbEvent" class="table table-mobile" width="100%" cellpadding="0">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th> Konu </th>
                                        <th> Etkinlik Tarih </th>
                                        <th> Oluşturulma Tarih </th>
                                        <th> Dosya </th>
                                        <th> Gönderen </th>
                                        <th> Detay </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                            <div id="summary">
                                <div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#popup" class="fancy" style="display:none" id="fire"></a>
            <div class="scrollbar" id="popup" style="height:200px !important;overflow-y:auto"></div>

            <a href="#popup1" class="fancy1" style="display:none" id="fire1"></a>
            <div class="scrollbar" id="popup1" style="min-width:150px;overflow-y:auto;display:none">
                <div><h2 style="font-style:normal;">Etkinlik</h2></div>
                <div>
                    <table id="pcontents" class="table table-striped table-bordered">
                        <tr>
                            <td>Konu</td>
                            <td id="sub"></td>
                        </tr>
                        <tr>
                            <td>Mesaj</td>
                            <td id="body"></td>
                        </tr>
                    </table>
                    <div class="box-footer">
                        @Html.ActionLink("Liste", "Index", null, new { @class = "btn btn-primary" })
                        <button class="btn btn-primary" id="btn"><i class="fa fa-print"></i> Yazdır</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function printData() {
                var divToPrint = document.getElementById("pcontents");
                newWin = window.open("");
                newWin.document.write(divToPrint.outerHTML);
                newWin.print();
                newWin.close();
            }

            $('#btn').on('click', function () {
                printData();
            });
        </script>
        <style>
            #popup::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                border-radius: 10px;
                background-color: #F5F5F5;
            }

            #popup::-webkit-scrollbar {
                width: 12px;
                background-color: #F5F5F5;
            }

            #popup::-webkit-scrollbar-thumb {
                border-radius: 10px;
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
                background-color: #555;
            }
        </style>
    </section>

}

<script type="text/javascript">


    var oTableAnnouncement;
    $(document).ready(function () {
        $(document).on("click", ".btn-delete", function (event) {
            var id = $(this).attr("id");
            $.ajax({
                type: "POST",
                url: "/Event/DeleteEvent",
                data: { id: id },
                success: function (response) {
                    if (response == "True") {
                        alert("Silindi.");
                        oTableAnnouncement.fnDraw();
                    } else {
                        alert("Hata.");
                    }
                },
                error: function (error) {
                    alert(error);
                    console.log(error);
                }

            });
            event.preventDefault();
        });

        SetDataTable();


        $('a.toggle-vis').on('click', function (e) {
            e.preventDefault();
            var column = oTableAnnouncement.api().column($(this).attr('data-column'));
            column.visible(!column.visible());
        });
    });

    function SetDataTable() {
        var ControlerNameAnnouncement = "@Url.Content("~/Event")";
        oTableAnnouncement = $("#tbEvent").dataTable({

            "bautoWidth": false,
            "bRetrieve": true,
            "bProcessing": true,
            "fnInitComplete": function (oSettings, json) {
                configurerows();
            },
            "fnDrawCallback": function (oSettings) {
                configurerows();
            },
            "bServerSide": true,
            "sAjaxSource": "@Url.Content("~/Event/GetGrid")",
            "aoColumns": [
            {
                "mRender": function (oObj, type, row) {
                    //var buttons = "<a class=\"btn btn-social-icon btn-google-plus\" href=" + ControlerNameAnnouncement + "/Delete/" + row[0] + " data-ajax-update=\"#SkDelete\" data-ajax-success=\"openModalDialog('SkDelete', 'Delete')\" data-ajax-mode=\"replace\" data-ajax-method=\"GET\" data-ajax-failure=\"clearModalDialog('SkDelete');alert('Ajax call failed')\" data-ajax-begin=\"prepareModalDialog('SkDelete')\" data-ajax=\"true\"><i class=\"fa fa-bitbucket\"></i></a>";
                    var button = "<button class='btn-delete btn btn-danger' style=\"max-width:10px\" id='" + row[0] + "'><i class='fa fa-bitbucket f18' style=\"margin-left:-7px\"></a>";
                    return button;
                }
            }
            , {
                "mRender": function (oObj, type, row) {
                    //return "<a href=" + ControlerNameAnnouncement + "/MultiViewIndex/" + row[0] + " target='_blank' class='btn btn-tiny'  /> " + oObj + " </a>";
                    var buttons = "<a href=" + ControlerNameAnnouncement + "/MultiViewIndex/" + row[0] + " data-ajax-update=\"#SkDelete\" data-ajax-success=\"openModalDialog('SkDelete', 'Etkinlik Detay')\" data-ajax-mode=\"replace\" data-ajax-method=\"GET\" data-ajax-failure=\"clearModalDialog('SkDelete');alert('Ajax call failed')\" data-ajax-begin=\"prepareModalDialog('SkDelete')\" data-ajax=\"true\">" + row[1] + "</a>";
                    return buttons;

                    //<a href=" + ControlerNameAnnouncement + "/MultiViewIndex/" + row[0] + "
                    //data-ajax-update=\"#SkDelete\" data-ajax-success=\"openModalDialog('SkDelete', 'Etkinlik Detay')
                    //    \" data-ajax-mode=\"replace\" data-ajax-method=\"GET\" data-ajax-failure=\"clearModalDialog('SkDelete');
                    //    alert('Ajax call failed')\" data-ajax-begin=\"prepareModalDialog('SkDelete')\"
                    //data-ajax=\"true\">" + row[1] + "</a>"
                }
            }, {}
            , {}, {
                "mRender": function (oObj, type, row) {
                    if (oObj != "") {
                        return "<a href=/Uploads/" + row[4] + " target='_blank' class='btn btn-tiny'  /> <i class='fa fa-download'></i> </a>";
                    }
                }
            }, {}, {}]
        });
    }
    $(document).ready(function () {
        $(".fancy").fancybox({
            width: '70%',
            height: '200px',
        });
    });

    $(document).ready(function () {
        $(".fancy1").fancybox({
            width: '100%',
            height: '200px',
        });
    });
    function expand(xid) {

        $.ajax({
            type: "POST",
            url: "/Event/DetailViewIndex",
            data: { id: xid },
            success: function (response) {
                if (response.aaData != null) {
                    document.getElementById("popup").innerHTML = response.aaData;

                    $("#fire").click();
                } else {
                    alert("Hata.");
                }
            },
            error: function (error) {
                alert(error);
                console.log(error);
            }
        });

    }

    function expand1(xid) {

        $.ajax({
            type: "POST",
            url: "/Event/MultiViewIndex1",
            data: { id: xid },
            success: function (response) {
                if (response.aaData != null) {


                    document.getElementById("sub").innerHTML = response.aaData;
                    document.getElementById("body").innerHTML = response.body;

                    $("#fire1").click();
                } else {
                    alert("Hata.");
                }
            },
            error: function (error) {
                alert(error);
                console.log(error);
            }
        });

    }
    function configurerows() {
        $trs = $('.table-mobile tbody tr');
        $.each($trs, function (id, tr) {
            $(tr).find('td:eq(0)').addClass('mobile-noshow');
            $(tr).find('td:eq(1)').attr('data-label', 'Konu');
            $(tr).find('td:eq(2)').attr('data-label', 'Etkinlik Tarih');
            $(tr).find('td:eq(3)').attr('data-label', 'Oluşturulma Tarih');
            $(tr).find('td:eq(4)').attr('data-label', 'Dosya');
            $(tr).find('td:eq(5)').attr('data-label', 'Gönderen');
            $(tr).find('td:eq(6)').attr('data-label', 'Detay');
        });
    }
</script>
<style>
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        vertical-align: text-bottom;
    }

    .table.dataTable, table.dataTable td, table.dataTable th {
        max-width: 100px;
        overflow-x: hidden;
        overflow-y: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>