﻿@{
    var EventDetail = ViewBag.EventDetail;
    Layout = null;
}
<script>
    function printData() {
        var divToPrint = document.getElementById("pcontents");
        newWin = window.open("");
        newWin.document.write(divToPrint.outerHTML);
        newWin.print();
        newWin.close();
    }

    $('#btn').on('click', function () {
        printData();
    });
        </script>
<section class="content-header">
    <h1>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    </h1>
</section>

<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-xs-12">
            <div class="panel">
                <div id="EditThis" class="panel-body">
                    <table id="pcontents" class="table table-striped table-bordered">
                        <tr>
                            <td>Konu</td>
                            <td>@EventDetail.Subject</td>
                        </tr>
                        <tr>
                            <td>Mesaj</td>
                            <td> @Html.Raw(@EventDetail.Body) </td>
                        </tr>
                        @if (!string.IsNullOrEmpty(EventDetail.FileUrl))
                        {
                            <tr>
                                <td>
                                    Dosya Ek
                                </td>
                                <td>
                                    <a class="text text-info" target='_blank' href="~/Uploads/@EventDetail.FileUrl">@EventDetail.FileUrl</a>
                                </td>
                            </tr>
                        }

                    </table>
                    <div class="panel-footer">

                        @Html.ActionLink("Liste", "Index", null, new { @class = "btn btn-primary" })
                        <button class="btn btn-primary" id="btn"><i class="fa fa-print"></i> Yazdır</button>
                    </div>
                </div>






            </div>
        </div>
    </div>
</section>