﻿.imguser {
    width: 50px;
float: left;
}
.singleline{
    white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
max-width: 300px;
}
.f18
{
    font-size: 18px !important;
}
