﻿@model MassEmail.Models.FavoriteGroup

@{
    if (Ajax.IsThisAjaxRequest())
    {
        Layout = null;
    }
}
@section ScriptsOrCss{
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <script src="~/Content/ckEditor/ckeditor.js"></script>
    <link href="~/Content/ckEditor/samples/sample.css" rel="stylesheet" />
    <style>
        .select2{
            width: 100% !important
        }
    </style>
}
<section class="content-header">
    <h1>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </h1>
</section>
@using (Html.BeginForm("Create", "FavoriteGroup", FormMethod.Post, new { enctype = "multipart/form-data", id = "form1" }))
{
    @Html.AntiForgeryToken()
    <section class="content">
        <div class="row">
            <div class="panel">
                <div class="panel-header">
                    <h3 class="box-title">Grup Oluştur</h3>
                </div>
                <div role="form" class="panel-content">
                        @if (ViewBag.Success != null)
                        {
                            <div class="alert alert-success alert-dismissable">
                                <i class="fa fa-ban"></i>
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <b>Başarılı! </b> @ViewBag.Success
                            </div>
                        }

                        <div class="alert alert-danger alert-dismissable" style="display:@(this.ViewData.ModelState.IsValid ? "none" : "")">
                            <i class="fa fa-ban"></i>
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>

                            @foreach (var key in this.ViewData.ModelState.Keys)
                            {
                                foreach (var err in this.ViewData.ModelState[key].Errors)
                                {
                                    <b>Uyarı! </b> @err.ErrorMessage
                                    <br />
                                }
                            }
                            @Html.ValidationSummary(true)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, "Grup Adı")
                            @Html.TextBoxFor(model => model.Name, new { required = "required", @class = "form-control" }) @Html.ValidationMessageFor(model => model.Name)

                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Users, "Kullanıcı Listesi")
                            @Html.DropDownList("UserId", null, " -Seçiniz-", new { required = "required", multiple = "", @class = "selectpicker" })
                        </div>
                    <div>
                        <input type="submit" value="Oluştur" class="btn btn-primary" id="submit1" />
                        @Html.ActionLink("Liste", "Index", null, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        </div>
    </section>
}