<label class='control-label'> <%- label %> </label>
<select class="field" data-type="<%- type %>" id='<%- name %>'>
<% _.each(value, function(v,k){ %>
  <option value="<%- v["value"] %>" <% if (v["selected"]){ %> selected <% } %> ><%- v["label"] %></option>
<% }); %>
</select>
