<!-- Button Drop Down -->
<div class="control-group">
  <label class="control-label" for="<%- id %>"><%- label %></label>
  <div class="controls">
    <div class="input-append">
      <input id="<%- id %>" name="<%- id %>" class="<%- inputsize %>" placeholder="<%- placeholder %>" type="text" <% if(required) {%> required <% } %> />
      <div class="btn-group">
        <button class="btn dropdown-toggle" data-toggle="dropdown">
          <%- buttontext %>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu"><% _.each(buttonoptions, function(value) { %>
          <li><a href="#"><%- value %></a></li><% }); %>
        </ul>
      </div>
    </div>
  </div>
</div>
