<!-- Button -->
<div class="control-group">
  <label class="control-label" for="<%- id %>"><%- label %></label>
  <div class="controls">
    <button id="<%- id %>" name="<%- id %>" class='btn <%- buttontype %>'><%- buttonlabel %></button>
  </div>
</div>
