<!-- Button (Double) -->
<div class="control-group">
  <label class="control-label" for="<%- id %>"><%- label %></label>
  <div class="controls">
    <button id="<%- id %>" name="<%- id %>" class='btn <%- button1type %>'><%- button1label %></button>
    <button id="<%- id2 %>" name="<%- id2 %>" class='btn <%- button2type %>'><%- button2label %></button>
  </div>
</div>
