<!-- File Button --> 
<div class="control-group">
  <label class="control-label" for="<%- id %>"><%- label %></label>
  <div class="controls">
    <input id="<%- id %>" name="<%- id %>" class="input-file" id="fileInput" type="file">
  </div>
</div>
