<!-- Prepended checkbox -->
<div class="control-group">
  <label class="control-label" for="<%- id %>"><%- label %></label>
  <div class="controls">
    <div class="input-prepend">
      <span class="add-on">
        <label class="checkbox">
          <input type="checkbox" <% if (checked){ %>checked="checked"<% } %>>
        </label>
      </span>
      <input id="<%- id %>" name="<%- id %>" class="<%- inputsize %>" type="text" placeholder="<%- placeholder %>" <% if(required) {%> required <% } %> />
    </div>
    <% if (helptext.length > 0) { %><p class="help-block"><%- helptext %></p><% } %>
  </div>
</div>
