<!-- Textarea -->
<div class="control-group">
  <label class="control-label" for ="<%- id %>"><%- label %></label>
  <div class="controls">                     
    <textarea id="<%- id %>" name="<%- id %>" ><%- textarea %></textarea>
  </div>
</div>
