<h3>About</h3>

<p>
Created By Adam Moore (@<a href="http://twitter.com/minikomi">minikomi</a>) to help take the stress out of 
writing all that markup to get bootstrap forms together. The original version of this was a big jQuery
spaghetti mess, so as of March 2013 it has been rewritten using <a href="backbonejs.org">backbone.js</a> and 
takes advantage of <a href="http://underscorejs.org/#template">underscore.js templates</a>.
</p>

<p>
If you have a problem, or want a specific snippet added please check out the 
<a href="https://github.com/minikomi/Bootstrap-Form-Builder">github project</a>. Note, this is only a simple tool so I'm not 
that keen on adding many features (eg. saving/exporting forms, embedding forms etc.). 
</p>

<p>
  Adding snippets is quite simple now (due to the rewrite!) so please don't hesitate to open an issue!
</p>
