﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="TR" class="no-js">
<head>
    <meta charset="utf-8">
    <title>T.C. Aydın Büyükşehir Belediyesi Aykome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="" name="description" />
    <meta content="themes-lab" name="author" />
    <link rel="shortcut icon" href="~/assets/global/images/favicon.png">
    <link href="~/assets/global/css/style.css" rel="stylesheet" />
    <link href="~/assets/global/css/ui.css" rel="stylesheet" />
    <link href="~/assets/global/plugins/bootstrap-loading/lada.min.css" rel="stylesheet" />
</head>
<body class="account2" data-page="login">
    <div class="container" id="login-block">
        <i class="user-img icons-faces-users-03" style="opacity:0.8;"></i>
        <div class="account-info" style="border-radius:10px 0px 0px 10px; opacity:0.9;">
            <a style="display:none" href="#" class="logo">Kullanıcı Panel</a>
            <h5><img style="width:45%; margin-left:25%;" src="~/assets/global/images/gallery/aydinlogo.png" /></h5>
            <hr />
            <ul>
                <li><i class=""></i> ALT YAPI KOORDİNASYON SİSTEMİ</li>
                <li style="display:none"><i class="icon-drop"></i> ALT YAPI KOORDİNASYON SİSTEMİ GİRİŞ PANEL</li>
            </ul>
        </div>
        <div class="account-form" style="border-radius:0px 10px 10px 0px; opacity:0.9;">
            <iframe src="@ViewBag.IframeSrc" style="display:none"></iframe>
            @using (Html.BeginForm(FormMethod.Post))
            {
                <form class="form-signin" role="form" action="" method="post">
                    <h3><strong>Kullanıcı Panel</strong></h3>
                    @if (ViewBag.Msg != null)
                    {<span id="uyari" style="color: #c51d1d;">  @ViewBag.Msg  </span> }
                    <div class="append-icon m-b-20">
                        <input type="text" name="email" id="email" class="form-control form-white username" placeholder="Email adresiniz..." required>
                        <i class="icon-user"></i>
                    </div>
                    <div class="append-icon m-b-20">
                        <input type="password" name="password" id="password" class="form-control form-white password" placeholder="Şifreniz..." required>
                        <i class="icon-lock"></i>
                    </div>
                    <button type="submit" class="btn btn-lg btn-dark btn-rounded ladda-button" data-style="expand-left">Sisteme Gir</button>
                </form>
            }

        </div>
    </div>
    <script src="~/assets/global/plugins/jquery/jquery-3.1.0.min.js"></script>
    <script src="~/assets/global/plugins/jquery/jquery-migrate-3.0.0.min.js"></script>
    <script src="~/assets/global/plugins/gsap/main-gsap.min.js"></script>
    <script src="~/assets/global/plugins/tether/js/tether.min.js"></script>
    <script src="~/assets/global/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/global/plugins/backstretch/backstretch.min.js"></script>
    <script src="~/assets/global/plugins/bootstrap-loading/lada.min.js"></script>
    <script src="~/assets/global/js/pages/login-v2.js"></script>
</body>
</html>