﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="TR" class="no-js">
<head>
    <meta charset="utf-8">
    <title>Kullanıcı Kaydı</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="" name="description" />
    <meta content="themes-lab" name="author" />
    <link rel="shortcut icon" href="~/assets/global/images/favicon.png">
    <link href="~/assets/global/css/style.css" rel="stylesheet" />
    <link href="~/assets/global/css/ui.css" rel="stylesheet" />
    <link href="~/assets/global/plugins/bootstrap-loading/lada.min.css" rel="stylesheet" />
</head>
<body class="account2" data-page="login">
    <div class="container" id="login-block">
        <i class="user-img icons-faces-users-03"></i>
        <div class="account-info">
            <a href="#" class="logo">Aykome Sistem</a>
            <h5>Oturum açmak için aşağıdaki bilgileri giriniz:</h5>
            <hr />
            <ul>
                <li><i class="icon-magic-wand"></i> T.C. AYDIN BÜYÜKŞEHİR BELEDİYESİ</li>
                <li><i class="icon-drop"></i> ALT YAPI KOORDİNASYON SİSTEMİ GİRİŞ PANEL</li>
            </ul>
        </div>
        <div class="account-form">
                <form class="form-signin" role="form" action="" method="post">
                    <h3><strong>Yeni Üyelik</strong></h3>
                    @if (ViewBag.Msg != null)
                    {<span id="uyari" style="color: #c51d1d;">  @ViewBag.Msg  </span> }
                    <div class="append-icon m-b-10">
                        <input type="text" name="name" class="form-control form-white username" placeholder="Email" required>
                        <i class="icon-user"></i>
                    </div>
                    <div class="append-icon m-b-10">
                        <input type="password" name="password" class="form-control form-white password" placeholder="Şifre" required>
                        <i class="icon-lock"></i>
                    </div>
                    <div class="append-icon m-b-10">
                        <input type="password" name="password2" class="form-control form-white password" placeholder="Şifre Onay" required>
                        <i class="icon-lock"></i>
                    </div>
                    <button type="submit" class="btn btn-lg btn-dark btn-rounded ladda-button" data-style="expand-left">Kayıt Ol</button>
                    <div class="clearfix m-t-60">
                        <p>
                            @if (ViewBag.Msg != null)
                            { @ViewBag.Msg
                                <span> Giriş için Tıklayın. </span> }
                        </p>
                        <p class="pull-left m-t-20 m-b-0"><a href="@Url.Action("login")">Üye Giriş</a></p>
                    </div>
                </form>
        </div>
    </div>
    <script src="~/assets/global/plugins/jquery/jquery-3.1.0.min.js"></script>
    <script src="~/assets/global/plugins/jquery/jquery-migrate-3.0.0.min.js"></script>
    <script src="~/assets/global/plugins/gsap/main-gsap.min.js"></script>
    <script src="~/assets/global/plugins/tether/js/tether.min.js"></script>
    <script src="~/assets/global/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/global/plugins/backstretch/backstretch.min.js"></script>
    <script src="~/assets/global/plugins/bootstrap-loading/lada.min.js"></script>
    <script src="~/assets/global/js/pages/login-v2.js"></script>
</body>
</html>
