﻿@model MassEmail.Models.JobManagementMember

@{
    ViewBag.Title = "Detay";
    if (Ajax.IsThisAjaxRequest())
    {
        Layout = null;
    }
}
@section ScriptsOrCss {
    <script>
        function printData() {
            var divToPrint = document.getElementById("pcontents");
            newWin = window.open("");
            newWin.document.write(divToPrint.outerHTML);
            newWin.print();
            newWin.close();
        }

        $('#btn').on('click', function () {
            printData();
        });

    </script>
    <script type="text/javascript" src="~/Content/fancybox/helpers/jquery.fancybox-media.js?v=1.0.5"></script>
    <script src="~/Content/fancybox/jquery.fancybox.pack.js"></script>
    <script src="~/Content/fancybox/jquery.fancybox.js?v=2.1.4"></script>

    <link href="~/Content/fancybox/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/Content/fancybox/helpers/jquery.fancybox-buttons.css" rel="stylesheet" />

    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <script>
        function printData() {
            var divToPrint = document.getElementById("pcontents");
            newWin = window.open("");
            newWin.document.write(divToPrint.outerHTML);
            newWin.print();
            newWin.close();
        }

        $('#btn').on('click', function () {
            printData();
        });
        $(document).ready(function () {

            $(".btn-accept").click(function () {

                var id = $(this).attr("emid");
                var current = $(this);
                $.ajax({
                    url: '/JobManagementMember/JobAccepted',
                    type: 'POST',
                    data: { ID: id },
                    success: function (response) {
                        if (response == "Kabul") {
                            alert("Etkinlik Kabul edildi...");
                            $(".acceptreject").hide();
                        } else {
                            alert("Hata.");
                        }
                    },
                    error: function (error) {
                        alert("Hata.");
                        console.log(error);
                    }
                });
                return false;
            });
            $(document).ready(function () {
                $(".btn-reject").fancybox({
                    width: '70%',
                    height: '200px',
                });


                $(".yes").click(function () {
                    var id = $(this).attr("emid");
                    var current = $(this);
                    //debugger;
                    //var reason = prompt("Reddetme Sebebi"); //Alert user to enter reason
                    var reason = $("#txtarea").val();

                    if (reason != null && reason != '') {//If reason not entered then don't submit the form otherwise submit
                        $.ajax({
                            url: '/JobManagementMember/JobRejected',
                            type: 'POST',
                            data: { Id: id, Reason: reason },
                            success: function (response) {
                                //alert(Reason);
                                //$(".acceptreject").hide();
                                if (response == "Red") {

                                    $(".acceptreject").hide();
                                } else {
                                    alert("Hata.");
                                }
                                $('.fancybox-close').click()
                            },
                            error: function (error) {
                                //alert("Hata1.");
                                $('.fancybox-close').click()
                            }
                        });
                    }
                    //return false;
                });
            });

            //    $("#yes").click(function () {
            //        var id = $(this).attr("emid");
            //        $.ajax(
            //        {
            //            type: "POST", //HTTP POST Method
            //            url: "/EventMember/EventRejected", // Controller/View
            //            data: { //Passing data
            //                Reason: $("#txtarea").val(),
            //                //Id: id
            //            }

            //        });

            //    });
            //});


        });


        function expand() {
            //var id = $(this).attr("emid");
            //var current = $(this);
            //debugger;
            //var reason = prompt("Reddetme Sebebi"); //Alert user to enter reason
            //if (reason!=null && reason != '') {//If reason not entered then don't submit the form otherwise submit
            //    $.ajax({
            //        url: '/EventMember/EventRejected',
            //        type: 'POST',
            //        data: { ID: id, Reason: reason },
            //        success: function (response) {
            //            if (response == "Red") {

            ////                //alert("Etkinlik Red Edildi...");
            ////$("#fire").click();
            //                $(".acceptreject").hide();
            //            } else {
            //                alert("Hata.");
            //            }
            //        },
            //        error: function (error) {
            //            alert("Hata.");
            //        }
            //    });
            //}
            //return false;
        };



    </script>


}
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-xs-12">

            <div class="panel">
                <div class="panel-header">
                    <h3 class="box-title">Detay </h3>
                </div><!-- /.box-header -->
                <div class="panel-content">

                    <div class="widget-sec">
                        <div class="streaming-table">
                            <table id="pcontents" class="table table-striped table-bordered">

                                <tr>
                                    <td> Title </td>
                                    <td>@Html.DisplayFor(model => model.Obj_JobManagement.Title)</td>
                                </tr>
                                <tr>
                                    <td>Job Description</td>
                                    <td>@Html.Raw(Model.Obj_JobManagement.Description)</td>
                                </tr>
                                <tr>
                                    <td>Time</td>
                                    <td> @Model.Obj_JobManagement.StartTime </td>
                                </tr>
                                @if (Model.Obj_JobManagement.FileUrl != "")
                                {
                                    <tr>
                                        <td>Etkinlik Ek</td>
                                        <td><a href="~/Uploads/@Html.Raw(Model.Obj_JobManagement.FileUrl)" target="_blank" class="btn btn-success"><i class="glyphicon glyphicon-download"></i></a></td>
                                    </tr>
                                }


                            </table>
                            @if (Model.MemberJobStatus == 1)
                            {
                                <div class="box-footer acceptreject">
                                    @*@Html.ActionLink("Kabul", "JobAccepted", "JobManagementMember", new { Id = Model.JobMemeberId, @class = "btn btn-primary btn-accept" })*@
                                    <a href="javascript:void(0)" class="btn btn-primary btn-accept" emid="@Model.JobMemeberId">Kabul</a>
                                    @*@Html.ActionLink("Red", "EventRejected", "EventMember", null, new { @class = "btn btn-primary btn-reject", @emid = Model.EventMemberId})*@
                                    <a href="#popup" class="btn btn-primary btn-reject" onclick="expand()" id="fire"> Red</a>
                                </div>
                            }
                            <div class="box-footer">

                                @Html.ActionLink("Liste", "Index", null, new { @class = "btn btn-primary" })
                                <button class="btn btn-primary" id="btn"><i class="fa fa-print"></i> Yazdır</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="scrollbar" id="popup" style="min-width:150px;overflow-y:auto;display:none;text-align:center">
        <div>
            Reddetme Sebebi
        </div>
        <div>
            <textarea id="txtarea"></textarea>

        </div>
        <div>
            <a class="btn btn-primary yes" emid="@Model.JobMemeberId" href="javascript:void(0)">Red</a>
            @*@Html.ActionLink("Red", null, "EventMember", null, new { @class = "btn btn-primary yes", @emid = Model.EventMemberId })**@
            @*<a class="btn btn-primary yes" id="yes"> Yes</a>*@
            <a class="btn btn-primary" onclick="$.fancybox.close()" id="no"> Vazgeç</a>
        </div>
    </div>
</section>
