﻿@{
    ViewBag.Title = "Toplu Mesaj";
    if (Ajax.IsThisAjaxRequest())
    {
        Layout = null;
    }
}
@section ScriptsOrCss{
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <script src="~/Content/ckEditor/ckeditor.js"></script>
    <link href="~/Content/ckEditor/samples/sample.css" rel="stylesheet" />


    <link href="~/Content/tagsinput/magicsuggest-min.css" rel="stylesheet">
    <script src="~/Content/tagsinput/magicsuggest-min.js"></script>
}

<script type="text/javascript">
    $(function () {
        var ms1 = $('#ms1').magicSuggest({
            data: @Html.Raw(ViewBag.UserList)
            });

        $(ms1).on('selectionchange', function(){
            $("#toEmails").val(this.getValue());
        });

        var departm = $('#departm').magicSuggest({
            data:@Html.Raw(ViewBag.Departments)
            });

        $(departm).on('selectionchange', function(){
            $("#toDepEmails").val(this.getValue());
        });

    });

    $(document).ready(function () {

        //$(document).mouseover(function () {
        //    $("#toEmails").val($("#ms1").text());
        //});

        //$(document).mouseover(function () {
        //    //$("#toDepEmails").val($("#departm").text());
        //});

        //$("#ms1").click(function () {
        //    $("#toEmails").val($("#ms1").text());
        //});

        //$("#departm").click(function () {
        //    //$("#toDepEmails").val($("#departm").text());
        //});




        $("#usr label").click(function () {
            $("#ms1").show();
            $("#departm").hide();
        });

        $("#dpt label").click(function () {
            $("#ms1").hide();
            $("#departm").show();
        });

        $("#usr input").click(function () {
            $("#ms1").show();
            $("#departm").hide();
        });

        $("#dpt input").click(function () {
            $("#ms1").hide();
            $("#departm").show();
        });


    });


</script>
<section class="content-header">
    <h1>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </h1>
</section>

@using (Html.BeginForm("BulkMessage", "Messages", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
          <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="panel">
                <div class="panel-header">
                    <h3 class="box-title"> </h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <div role="form">
                    <div class="panel-content">

                        @if (ViewBag.Msg != null)
                        {
                            <div class="alert alert-danger alert-dismissable">
                                <i class="fa fa-ban"></i>
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <b>Uyarı! </b> @ViewBag.Msg

                            </div>
                        }


                        @if (ViewBag.Success != null)
                        {
                            <div class="alert alert-success alert-dismissable">
                                <i class="fa fa-ban"></i>
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <b>Başarıyla Gönderildi! </b> @ViewBag.Success


                            </div>
                        }



                        <div class="form-group">

                            <table style="width:20%;" id="slUD">
                                <tr>
                                    <td id="usr">
                                        <input type="radio" name="sl" checked="checked" value="Users" id="Users" /> <label for="Users">Kullanıcı</label>
                                    </td>
                                    <td id="dpt">
                                        <input type="radio" name="sl" value="Departments" id="Departments" /> <label for="Departments">Kurum</label>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Alıcı</label>
                                    <div id="ms1" class="form-control"></div>
                                    <div id="departm" class="form-control" style="display:none;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="display:none;">
                            <input id="toEmails" type="text" name="toEmails" />
                            <input id="toDepEmails" type="text" name="toDepEmails" />

                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Konu</label>
                                    <input type="text" value="" class="form-control" name="Subject" placeholder="Konu" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Mesaj</label>
                            <input type="text" value="" class="form-control" name="chatMsg" placeholder="Mesajınız..." />
                        </div>



                    </div>
                    <div class="box-footer">
                        <input type="submit" value="Gönder" class="btn btn-primary" />
                        @Html.ActionLink("Mesaj Geçmiş", "History", null, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>

        </div>
    </section>
}



