﻿@{
    ViewBag.Title = "Mesaj Geçmiş";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section ScriptsOrCss
{
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <script src="~/Content/DataTable/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="~/Content/DataTable/js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <link href="~/Content/DataTable/plugins/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="~/Content/DataTable/js/plugins/dataTables/jquery.dataTable.minNew.js"></script>
    <script type="text/javascript" src="~/Content/HtmlExprt/tableExport.js"></script>
    <script type="text/javascript" src="~/Content/HtmlExprt/jquery.base64.js"></script>
    <script type="text/javascript" src="~/Content/HtmlExprt/html2canvas.js"></script>
    <script type="text/javascript" src="~/Content/HtmlExprt/jspdf/libs/sprintf.js"></script>
    <script type="text/javascript" src="~/Content/HtmlExprt/jspdf/jspdf.js"></script>
    <script type="text/javascript" src="~/Content/HtmlExprt/jspdf/libs/base64.js"></script>
}
<section class="content-header">
    <h1>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </h1>
</section>

<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-xs-12">
            <div class="panel">

                <div class="panel-content">
                    <!-- Split button -->
                    <div class="margin">
                        <div class="btn-group">
                            <button type="button" class="btn btn-blue dropdown-toggle" data-toggle="dropdown">
                                Filtre <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a class="toggle-vis" data-column="1">Mesaj</a></li>
                                <li><a class="toggle-vis" data-column="2">Tarih</a></li>
                                <li><a class="toggle-vis" data-column="3">Gönderen</a></li>
                                <li><a class="toggle-vis" data-column="4">Sil</a></li>
                                <li><a class="toggle-vis" data-column="5">Görüldü</a></li>
                            </ul>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-blue" onclick="$('#tbChatMessage').tableExport({ type: 'pdf', escape: 'false' });"><i class="fa fa-file-pdf-o f18"></i>Çıkart PDF<div class="ripple-wrapper"></div></button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-blue" onclick="ExportExcel();"><i class="fa fa-file-excel-o f18"></i>Çıkart Excel<div class="ripple-wrapper"></div></button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-blue" onclick="$('#tbChatMessage').tableExport({ type: 'doc', escape: 'false' });"><i class="fa fa-file-word-o f18"></i>Çıkart Word<div class="ripple-wrapper"></div></button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-blue" onclick="$('#tbChatMessage').tableExport({ type: 'csv', escape: 'false' });"><i class="fa fa-file-archive-o f18"></i>Çıkart CSV<div class="ripple-wrapper"></div></button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-blue dropdown-toggle" data-toggle="dropdown">
                                Çıkart <span class="caret"></span>
                            </button>
                            <span class="dropdown-arrow"></span>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#" onclick="$('#tbChatMessage').tableExport({ type: 'powerpoint', escape: 'false' });"> <img src='~/Content/HtmlExprt/icons/ppt.png' style="height:25px !important;margin:3px;"> PowerPoint</a></li>
                                <li><a href="#" onclick="$('#tbChatMessage').tableExport({ type: 'json', escape: 'false' });"> <img src='~/Content/HtmlExprt/icons/json.png' style="height:25px !important;margin:3px;"> JSON</a></li>
                                <li><a href="#" onclick="$('#tbChatMessage').tableExport({ type: 'xml', escape: 'false' });"> <img src='~/Content/HtmlExprt/icons/xml.png' style="height:25px !important;margin:3px;"> XML</a></li>
                                <li><a href="#" onclick="$('#tbChatMessage').tableExport({ type: 'sql' });"> <img src='~/Content/HtmlExprt/icons/sql.png' style="height:25px !important;margin:3px;"> SQL</a></li>
                                <li><a href="#" onclick="$('#tbChatMessage').tableExport({ type: 'txt', escape: 'false' });"> <img src='~/Content/HtmlExprt/icons/txt.png' style="height:25px !important;margin:3px;"> TXT</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- flat split buttons -->
                </div><!-- /.box-body -->
            </div>
            <div class="panel">
                <div class="panel-header">
                    <h3 class="box-title"> @ViewBag.Title</h3>
                </div><!-- /.box-header -->
                <div class="panel-content">
                    <div class="margin">
                        <div class="streaming-table">
                            <span id="found" class="label label-info"></span>
                            <table id="tbChatMessage" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>  Mesaj </th>
                                        <th>  Tarih  </th>
                                        <th> Gönderen </th>
                                        <th> Görüldü  </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <div id="summary">
                                <div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>





<script type="text/javascript">

    $(document).ready(function () {
        var oTableChatMessage = "";
        var ControlerNameChatMessage = "@Url.Content("~/ChatMessage")";
        // debugger;
        oTableChatMessage = $("#tbChatMessage").dataTable({
            "bRetrieve": true,
            "bProcessing": true,
            "sAjaxSource": "@Url.Content("~/Messages/GetGrid")",
            "aoColumns": [

            {
                "mRender": function (oObj, type, row) {


                    var buttons = "<a class=\"btn btn-sm btn-danger\" href=" + ControlerNameChatMessage + "/Delete/" + row[0] + "><i class=\"fa fa-bitbucket f18\"></i></a>"

                    return buttons;

                }

            }, {}
, {}
, {
    "mRender": function (oObj, type, row) {
        return "<a href='/ApplicationUser/' target='_blank' class='btn btn-sm btn-tiny'  /> " + oObj + " </a>";
    }
}
, {}

            ]

        });
        var table = $('#tbChatMessage').DataTable({});

        $('a.toggle-vis').on('click', function (e) {
            e.preventDefault();
            var column = table.column($(this).attr('data-column'));
            column.visible(!column.visible());
        });
    });
</script>

