﻿@{
    ViewBag.Title = "Online Mesaj";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (ViewBag.username == null) { Response.Redirect("~/Account/Login"); }
@section ScriptsOrCss
{
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<link href="~/Content/css/jquery.fileupload.css" rel="stylesheet" />
<script src="~/Content/css/jquery.ui.widget.js"></script>
<script src="~/Content/css/jquery.iframe-transport.js"></script>
<script src="~/Content/js/jquery.fileupload.js"></script>
<style>
    .glyphicon.glyphicon-one-fine-dot:before {
        content: "\25cf";
        font-size: 1.5em;
        top:3px;
    }

    .fileUpload {
        position: relative;
        overflow: hidden;
        margin: 10px;
    }

        .fileUpload input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }
</style>
<link href="~/Content/switch/css/bootstrap2/bootstrap-switch.css" rel="stylesheet" />
<script type='text/javascript'>
    //<![CDATA[
    $(function () {
        $('#box').keyup(function () {
            var valThis = this.value.toLowerCase(),
                lenght = this.value.length;


            $('#dvUsers>div').each(function () {

                var id = $(this).attr('id');
                id = id.slice(3);

                var text = $(this).text(),
                    textL = text.toLowerCase(),

                    htmlR = '<span  class="list-group-item">' + text + '</span><span class="pull-right"  id="online_' + id + '" ><span style="color:red;top: 8px;right: 15px; position:relative; display:block;  margin: -30px -0px 0px -30px;" class="pull-right glyphicon glyphicon-one-fine-dot"></span></span>';

                (textL.indexOf(valThis) == 0) ? $(this).html(htmlR).show() : $(this).hide();
            });


        });
    });//]]>

</script>
<script>


    /*jslint unparam: true */
    /*global window, $ */
    $(function () {
        'use strict';
        // Change this to the location of your server-side upload handler:
        var url = "/Messages/FileUpload";
        //window.location.hostname === 'blueimp.github.io' ?
        //  '//jquery-file-upload.appspot.com/' : 'server/php/';
        $('#fileupload').fileupload({
            url: url,
            dataType: 'json',
            maxFileSize: 50000000,
            done: function (e, data) {
                //  alert(data.result);
                var msg = $("#txtMessage").val();
                var file = "<a href=\"/Uploads/" + data.result + "\" target=\"_blank\">" + data.result + "</a>";
                $("#txtMessage").val(msg + file);

                //  $('<p/>').text(file.name).appendTo('#files');

            },
            progressall: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('#progress .progress-bar').css(
                    'width',
                    progress + '%'
                );
            }
            //progressall: function (e, data) {
            //    var progress = parseInt(data.loaded / data.total * 100, 10);
            //    $('#progress .progress-bar').css(
            //        'width',
            //        progress + '%'
            //    );
            //}
        }).prop('disabled', !$.support.fileInput)
            .parent().addClass($.support.fileInput ? undefined : 'disabled');
    });

</script>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link href="~/Content/MobileChat.css" rel="stylesheet" />
}
<div id="loader" class="Loader hidden">
    <img src="~/Content/img/ajax_loader_large.gif" />
</div>

<div style="display:none;">
    <span id="StarkMsgCount"></span>
    <span id="StarkMsgList"></span>
    <span id="StarkNewUsersList"></span>
</div>

<section class="content-header">
    <h1>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </h1>
</section>

<section class="content">
    <div style="margin-top:20px;">

    </div>
    <div class="row">

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="font-size:13px;">
            <div class="panel">
                <div class="panel-content">
                    <i class="fa fa-comments-o fa-2x"></i>
                    <h3 class="box-title">Kullanıcılar </h3>
                    <div class="form-group togglebutton togglebutton-material-blue">
                        <input type="checkbox" checked="" class="md-checkbox BSswitch" data-on-text="Hepsi" data-off-text="Online" name="online">
                    </div>
                    <div class="append-icon">
                        <input type="text" class="form-control" id="box" placeholder="Kullanıcı Ara...">
                        <i class="icon-magnifier"></i>
                    </div>
                </div>
                <hr />
                <div id="dvUsers" class="box-body chat" style="overflow:auto">

                    @Html.Raw(ViewBag.UsersList)
                    <style>
                        #dvUsers::-webkit-scrollbar-track {
                            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                            border-radius: 10px;
                            background-color: #F5F5F5;
                        }

                        #dvUsers::-webkit-scrollbar {
                            width: 12px;
                            background-color: #F5F5F5;
                        }

                        #dvUsers::-webkit-scrollbar-thumb {
                            border-radius: 10px;
                            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
                            background-color: #555;
                        }
                    </style>

                </div>


                <!--End Notifications-->
            </div>
        </div>


        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">

            <!-- Chat Panel Example-->
            <div class="panel" id="panel-chat-messages">
                <div class="panel-header">
                    <i class="fa fa-comments fa-fw"></i>
                    <h3 class="box-title" style="display:none;">Mesaj</h3>
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-blue dropdown-toggle" data-toggle="dropdown">
                            <span id="tousername"></span><span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="~/Messages/To">
                                    <i class="fa fa-refresh fa-fw"></i>Yenile
                                </a>
                            </li>

                            <li class="divider"></li>
                            <li>
                                <a href="~/Account/Logout">
                                    <i class="fa fa-sign-out fa-fw"></i>Çıkış
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div id="divMessageOuter" class="panel-content chat" style="overflow:auto">

                    <div id="divMessage"> </div>
                    <div id="divTyping"> </div>
                    <style>
                        #divMessageOuter::-webkit-scrollbar-track {
                            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                            border-radius: 10px;
                            background-color: #F5F5F5;
                        }

                        #divMessageOuter::-webkit-scrollbar {
                            width: 12px;
                            background-color: #F5F5F5;
                        }

                        #divMessageOuter::-webkit-scrollbar-thumb {
                            border-radius: 10px;
                            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
                            background-color: #555;
                        }
                    </style>
                </div>

                <div class="panel-footer">
                    <div class="input-group">
                        <input id="txtMessage" type="text" class="form-control input-sm" style="border-radius:5px;" placeholder="Mesaj yazın..." />
                        <span class="input-group-btn">
                            <button class="btn btn-sm btn-success btn-sm" id="btnSendMessage" style="margin-left:10px; border-radius:5px;">
                                Gönder
                            </button>
                            <span class="btn btn-sm btn-success fileinput-button" style=" padding-top 4px; margin-top 0px; padding-left 5px; padding-right 5px; margin-left 10px; padding-bottom 4px; border-radius 5px; ">
                                <i class="glyphicon glyphicon-plus" style="height: 10px; width: 16px; opacity: 0.5;"></i>
                                <span>Dosya</span>
                                <!-- The file input field used as target for the file upload widget -->
                                <input id="fileupload" type="file" name="files">
                            </span>
                        </span>
                    </div>

                    <div id="progress" class="progress">
                        <div class="progress-bar progress-bar-success"></div>
                    </div>
                </div>

            </div>
            <!--End Chat Panel Example-->


        </div>

        <div class="col-lg-3" style="display:none">
            <!-- Notifications-->
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <i class="fa fa-rss fa-3x"></i>Online Kullanıcılar
                </div>

                <div class="panel-body" id="dvOnlineUser" style="height:400px;overflow:auto">

                </div>

            </div>
            <!--End Notifications-->
        </div>

    </div>

</section>

<script src="~/Content/switch/js/bootstrap-switch.min.js"></script>
<script>
    $(document).ready(function () {
        //$('#online').click(function () {
        //  if ($(this).is(':checked'))
        //        alert("awsdasd");
        // else
        //      alert("uncheck");
        //});
        $(".BSswitch").bootstrapSwitch('state', true);
        $("[name='online']").on('switchChange.bootstrapSwitch', function (event, state) {
            debugger;
            var objHub = $.connection.myHub;
            if (!state) {
                debugger;
                var objonline = '';
                objHub.server.getonlineuser();
            } else {
                debugger;
                objHub.server.getalluser();
            }

        });
    });

</script>





