﻿@model MassEmail.Models.ApplicationUser

@{
    if (Ajax.IsThisAjaxRequest())
    {
        Layout = null;
    }
}
@section ScriptsOrCss{
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <script src="~/Content/ckEditor/ckeditor.js"></script>
    <link href="~/Content/ckEditor/samples/sample.css" rel="stylesheet" />
    }
<section class="content-header">
    <h1>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </h1>
</section>

@using (Html.BeginForm("Create", "ApplicationUser", FormMethod.Post, new { enctype = "multipart/form-data",id="form1" }))
{
    @Html.AntiForgeryToken()
    <section class="content">
        <div class="row">
            <div class="panel" style="min-height:900px;">
                <div class="panel-header">
                    <h3 class="box-title">Kullanıcı Oluştur</h3>
                </div>
                <div role="form" class="panel-content">
                    <div class="col-md-12 col-sm-12">
                        @if (ViewBag.Success != null)
                        {
                            <div class="alert alert-success alert-dismissable">
                                <i class="fa fa-ban"></i>
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <b>Başarılı! </b> @ViewBag.Success
                            </div>
                        }
                        
                        <div class="alert alert-danger alert-dismissable" style="display:@(this.ViewData.ModelState.IsValid ? "none" : "")">
                            <i class="fa fa-ban"></i>
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>

                            @foreach (var key in this.ViewData.ModelState.Keys)
                            {
                                foreach (var err in this.ViewData.ModelState[key].Errors)
                                {
                                    <b>Uyarı! </b> @err.ErrorMessage
                                    <br />
                                }
                            }
                            @Html.ValidationSummary(true)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.TC, new { @class = "" })
                            @Html.TextBoxFor(model => model.TC, new { required = "required", @class = "form-control" }) @Html.ValidationMessageFor(model => model.TC)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Username, new { @class = "" })
                            @Html.TextBoxFor(model => model.Username, new { required = "required", @class = "form-control"}) @Html.ValidationMessageFor(model => model.Username)

                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, new { @class = "" })
                            @Html.TextBoxFor(model => model.Email, new { required = "required", @class = "form-control" }) @Html.ValidationMessageFor(model => model.Email)
                            <span id="errorspan1" style="color:red"></span>
                        </div>
                        

                        <div class="form-group">
                            @Html.LabelFor(model => model.Password, new { @class = "" })
                            @Html.TextBoxFor(model => model.Password, new { required = "required", @class = "form-control" }) @Html.ValidationMessageFor(model => model.Password)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.FirstName, new { @class = "" })
                            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", required = "required" }) @Html.ValidationMessageFor(model => model.FirstName)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.LastName, new { @class = "" })
                            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", required = "required" }) @Html.ValidationMessageFor(model => model.LastName)
                        </div>
                        
                        <div class="form-group">
                            @Html.LabelFor(model => model.DepartmentId, new { @class = "" })
                            @Html.DropDownList("DepartmentId", null, " -Seçiniz-", new { required = "required" })
                             @Html.ValidationMessageFor(model => model.DepartmentId)

                            &nbsp;&nbsp; <a data-ajax="true" data-ajax-begin="prepareModalDialog('AddMore')" data-ajax-failure="clearModalDialog('AddMore');alert('Ajax call failed')" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="openModalDialog('AddMore', 'Add')" data-ajax-update="#AddMore" href="~/Department/Create">
                                <img src="~/Content/ModelPopup/Plus.png" />
                            </a>
                        </div>
                        <div class="form-group">
                            <label>Bildirim Oluştur</label>
                            @{
                            List<SelectListItem> listItems1 = new List<SelectListItem>();
                            listItems1.Add(new SelectListItem
                                 {
                                     Text = "Evet",
                                     Value = "true"
                                 });
                            listItems1.Add(new SelectListItem
                                 {
                                     Text = "Hayır",
                                     Value = "false",
                                     Selected = true
                                 });
                           
                            }

                            @Html.DropDownListFor(model => model.AnnouncementCreat, listItems1, " -Seçiniz- ", new { required = "required", })
                        </div>
                        <div class="form-group">
                            <label>Etkinlik Oluştur</label>
                            @{
                            List<SelectListItem> listItems2 = new List<SelectListItem>();
                            listItems2.Add(new SelectListItem
                                 {
                                     Text = "Evet",
                                     Value = "true"
                                 });
                            listItems2.Add(new SelectListItem
                                 {
                                     Text = "Hayır",
                                     Value = "false",
                                     Selected = true
                                 });

                            }

                            @Html.DropDownListFor(model => model.EventCreat, listItems2, " -Seçiniz- ", new { required = "required", })


                        </div>

                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <label>Rol</label>
                            @Html.DropDownList("RoleId", null, " -Seçiniz- ", new { required = "required" , })
                        </div>
                        <div class="form-group">
                            <label>Supervisior</label>
                            @{
                                    List<SelectListItem> listItems3 = new List<SelectListItem>();
                                    listItems3.Add(new SelectListItem
                                    {
                                        Text = "Evet",
                                        Value = "true"
                                    });
                                    listItems3.Add(new SelectListItem
                                    {
                                        Text = "Hayır",
                                        Value = "false",
                                        Selected = true
                                });

                            }

                            @Html.DropDownListFor(model => model.Supervisior, listItems3, " -Seçiniz- ", new { required = "required", })


                        </div>
                        <div class="form-group">
                            <label>Başvuru Onaylama</label>
                            @{
                                List<SelectListItem> listItems4 = new List<SelectListItem>();
                                listItems4.Add(new SelectListItem
                                {
                                    Text = "Evet",
                                    Value = "true"
                                });
                                listItems4.Add(new SelectListItem
                                {
                                    Text = "Hayır",
                                    Value = "false",
                                    Selected = true
                                });

                            }

                            @Html.DropDownListFor(model => model.BASVURU_ONAY, listItems4, " -Seçiniz- ", new { required = "required", })


                        </div>

                        <div class="form-group">
                            <label>Keşif Onaylama</label>
                            @{
                                List<SelectListItem> listItems5 = new List<SelectListItem>();
                                listItems5.Add(new SelectListItem
                                {
                                    Text = "Evet",
                                    Value = "true"
                                });
                                listItems5.Add(new SelectListItem
                                {
                                    Text = "Hayır",
                                    Value = "false",
                                    Selected = true
                                });

                            }

                            @Html.DropDownListFor(model => model.KESIF_ONAY, listItems5, " -Seçiniz- ", new { required = "required", })


                        </div>

                        <div class="form-group">
                            <label>Ruhsat Onaylama</label>
                            @{
                                List<SelectListItem> listItems6 = new List<SelectListItem>();
                                listItems6.Add(new SelectListItem
                                {
                                    Text = "Evet",
                                    Value = "true"
                                });
                                listItems6.Add(new SelectListItem
                                {
                                    Text = "Hayır",
                                    Value = "false",
                                    Selected = true
                                });

                            }

                            @Html.DropDownListFor(model => model.RUHSAT_ONAY, listItems6, " -Seçiniz- ", new { required = "required", })


                        </div>



                        <div class="form-group">
                            <label>Kullanıcı Aktif</label>
                            @{
                                List<SelectListItem> listItems7 = new List<SelectListItem>();
                                listItems7.Add(new SelectListItem
                                {
                                    Text = "Evet",
                                    Value = "true",
                                    Selected = true

                                });
                                listItems7.Add(new SelectListItem
                                {
                                    Text = "Hayır",
                                    Value = "false",

                                });

                            }

                            @Html.DropDownListFor(model => model.IsActive, listItems7, " -Seçiniz- ", new { required = "required", })


                        </div>

                        <div class="form-group">
                            <label>Mail Kontrol</label>
                            @{
                                List<SelectListItem> listItems8 = new List<SelectListItem>();
                                listItems8.Add(new SelectListItem
                                {
                                    Text = "Evet",
                                    Value = "true",
                                    Selected = true

                                });
                                listItems8.Add(new SelectListItem
                                {
                                    Text = "Hayır",
                                    Value = "false"                                    
                                });

                            }

                            @Html.DropDownListFor(model => model.CanEmail, listItems8, " -Seçiniz- ", new { required = "required", })


                        </div>

                        <div class="form-group">
                            <label>Mesajlaşma</label>
                            @{
                                List<SelectListItem> listItems9 = new List<SelectListItem>();
                                listItems9.Add(new SelectListItem
                                {
                                    Text = "Evet",
                                    Value = "true",
                                    Selected= true

                                });
                                listItems9.Add(new SelectListItem
                                {
                                    Text = "Hayır",
                                    Value = "false"
                                });

                            }

                            @Html.DropDownListFor(model => model.CanMessage, listItems9, " -Seçiniz- ", new { required = "required", })


                        </div>

                    </div>
                    <div>
                        <input type="submit" value="Oluştur" class="btn btn-primary" id="submit1" />
                        @Html.ActionLink("Liste", "Index", null, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        </div>
    </section>
}
