﻿@model MassEmail.Models.ApplicationUser

@{
    
    if (Ajax.IsThisAjaxRequest())
    {
        Layout = null;
    }
}
@section ScriptsOrCss{ 
<head>
<meta charset="UTF-8"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<script src="~/Content/ckEditor/ckeditor.js"></script>
<link href="~/Content/ckEditor/samples/sample.css" rel="stylesheet" />
}

<section class="content-header">
<meta charset="UTF-8"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <h1>

    </h1>
</section>

@using (Html.BeginForm("Create", "ApplicationUser", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
          <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-solid box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Fill ApplicationUser Form</h3>
                    </div><!-- /.box-header -->
                    <!-- form start -->
                    <div role="form">
                        <div class="box-body">
                            <div class="alert alert-danger alert-dismissable" style="display:@(this.ViewData.ModelState.IsValid ? "none" : "")">
                                <i class="fa fa-ban"></i>
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>

                                @foreach (var key in this.ViewData.ModelState.Keys)
                                {
                                    foreach (var err in this.ViewData.ModelState[key].Errors)
                                    {
                                        <b>Uyarı! </b> @err.ErrorMessage
                                        <br />
                                    }
                                }
                                @Html.ValidationSummary(true)
                            </div>



                            <div class="form-group">
                                @Html.LabelFor(model => model.Username, new { @class = "" })
                                @Html.EditorFor(model => model.Username) @Html.ValidationMessageFor(model => model.Username)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Password, new { @class = "" })
                                @Html.EditorFor(model => model.Password) @Html.ValidationMessageFor(model => model.Password)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, new { @class = "" })
                                @Html.EditorFor(model => model.Email) @Html.ValidationMessageFor(model => model.Email)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.FirstName, new { @class = "" })
                                @Html.EditorFor(model => model.FirstName) @Html.ValidationMessageFor(model => model.FirstName)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.LastName, new { @class = "" })
                                @Html.EditorFor(model => model.LastName) @Html.ValidationMessageFor(model => model.LastName)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.DepartmentId, new { @class = "" })
                                @Html.DropDownList("DepartmentId"," -Seçiniz- ") @Html.ValidationMessageFor(model => model.DepartmentId)
                                
                                &nbsp;&nbsp; <a data-ajax="true" data-ajax-begin="prepareModalDialog('AddMore')" data-ajax-failure="clearModalDialog('AddMore');alert('Ajax call failed')" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="openModalDialog('AddMore', 'Add')" data-ajax-update="#AddMore" href="~/Department/Create">
                                     <img src="~/Content/ModelPopup/Plus.png" />
                                </a>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.IsActive, new { @class = "" })
                                @Html.EditorFor(model => model.IsActive) @Html.ValidationMessageFor(model => model.IsActive)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.CanEmail, new { @class = "" })
                                @Html.EditorFor(model => model.CanEmail) @Html.ValidationMessageFor(model => model.CanEmail)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.CanMessage, new { @class = "" })
                                @Html.EditorFor(model => model.CanMessage) @Html.ValidationMessageFor(model => model.CanMessage)
                            </div>




                        </div>
                        <div class="box-footer">
                            <input type="submit" value="Create" class="btn btn-primary" />
                            @Html.ActionLink("Liste", "Index", null, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}



