﻿@model MassEmail.Models.ApplicationUser

@{
    if (Ajax.IsThisAjaxRequest())
    {
        Layout = null;
    }
}
@section ScriptsOrCss{
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <script src="~/Content/ckEditor/ckeditor.js"></script>
    <link href="~/Content/ckEditor/samples/sample.css" rel="stylesheet" />
    @*<script>
            function BothFieldsIdenticalCaseSensitive() {
                var two = document.getElementById('Username').value;
                var three = document.getElementById('Email').value;
                if (two != three) {
                    $('#submit1').prop("disabled", true);
                    $('#errorspan1').innerHtml("Email adresses donot match!");

                } else {

                    $('#submit1').prop("disabled", false);

                }
            }
        </script>*@
}
<section class="content-header">
    <h1>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </h1>
</section>

@using (Html.BeginForm("Create", "ApplicationUser", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <section class="content">
        <div class="row">
            <div class="panel">
                <div class="panel-header">
                    <h3 class="box-title">Kullanıcı Oluştur</h3>
                </div>
                <div role="form" class="panel-content">
                    <div class="col-md-6 col-sm-12">
                        @if (ViewBag.Success != null)
                        {
                            <div class="alert alert-success alert-dismissable">
                                <i class="fa fa-ban"></i>
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <b>Başarılı! </b> @ViewBag.Success
                            </div>
                        }

                        <div class="alert alert-danger alert-dismissable" style="display:@(this.ViewData.ModelState.IsValid ? "none" : "")">
                            <i class="fa fa-ban"></i>
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>

                            @foreach (var key in this.ViewData.ModelState.Keys)
                            {
                                foreach (var err in this.ViewData.ModelState[key].Errors)
                                {
                                    <b>Uyarı! </b> @err.ErrorMessage
                                    <br />
                                }
                            }
                            @Html.ValidationSummary(true)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.TC, new { @class = "" })
                            @Html.TextBoxFor(model => model.TC, new { required = "required", @class = "form-control" }) @Html.ValidationMessageFor(model => model.TC)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Username, new { @class = "" })
                            @Html.TextBoxFor(model => model.Username, new { required = "required", @class = "form-control", oninput = "BothFieldsIdenticalCaseSensitive()" }) @Html.ValidationMessageFor(model => model.Username)

                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, new { @class = "" })
                            @Html.TextBoxFor(model => model.Email, new { required = "required", @class = "form-control" }) @Html.ValidationMessageFor(model => model.Email)
                            <span id="errorspan1" style="color:red"></span>
                        </div>


                        <div class="form-group">
                            @Html.LabelFor(model => model.Password, new { @class = "" })
                            @Html.TextBoxFor(model => model.Password, new { required = "required", @class = "form-control" }) @Html.ValidationMessageFor(model => model.Password)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.FirstName, new { @class = "" })
                            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" }) @Html.ValidationMessageFor(model => model.FirstName)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.LastName, new { @class = "" })
                            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" }) @Html.ValidationMessageFor(model => model.LastName)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.DepartmentId, new { @class = "" })
                            @Html.DropDownList("DepartmentId", null, " -Seçiniz-", new { required = "required" }) @Html.ValidationMessageFor(model => model.DepartmentId)

                            &nbsp;&nbsp; <a data-ajax="true" data-ajax-begin="prepareModalDialog('AddMore')" data-ajax-failure="clearModalDialog('AddMore');alert('Ajax call failed')" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="openModalDialog('AddMore', 'Add')" data-ajax-update="#AddMore" href="~/Department/Create">
                                <img src="~/Content/ModelPopup/Plus.png" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label>Rol</label>
                            @Html.DropDownList("RoleId", null, " -Seçiniz- ", new { required = "required" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Supervisior, new { @class = "" })

                            @Html.EditorFor(model => model.Supervisior, new { @class = "" }) @Html.ValidationMessageFor(model => model.Supervisior)

                            @Html.ValidationMessageFor(model => model.Supervisior)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.BASVURU_ONAY, new { @class = "" })

                            @Html.EditorFor(model => model.BASVURU_ONAY, new { @class = "form-control" }) @Html.ValidationMessageFor(model => model.BASVURU_ONAY)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.KESIF_ONAY, new { @class = "" })

                            @Html.EditorFor(model => model.KESIF_ONAY, new { @class = "form-control" }) @Html.ValidationMessageFor(model => model.KESIF_ONAY)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.RUHSAT_ONAY, new { @class = "" })

                            @Html.EditorFor(model => model.RUHSAT_ONAY, new { @class = "form-control" }) @Html.ValidationMessageFor(model => model.RUHSAT_ONAY)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.IsActive, new { @class = "" })


                            @Html.EditorFor(model => model.IsActive, new { @class = "form-control" }) @Html.ValidationMessageFor(model => model.IsActive)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.CanEmail, new { @class = "" })

                            @Html.EditorFor(model => model.CanEmail, new { @class = "form-control" }) @Html.ValidationMessageFor(model => model.CanEmail)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.CanMessage, new { @class = "" })
                            @Html.EditorFor(model => model.CanMessage, new { @class = "form-control" }) @Html.ValidationMessageFor(model => model.CanMessage)
                        </div>
                    </div>
                    <div>
                        <input type="submit" value="Oluştur" class="btn btn-primary" id="submit1" />
                        @Html.ActionLink("Liste", "Index", null, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        </div>
    </section>
}



<script>

    (function (exports) {
        function valorfunction(val, ctx, args) {
            if (typeof val == "function") {
                return val.apply(ctx, args);
            } else {
                return val;
            }
        }
      
        
        function invalidinputhelper(input, options) {
            input.setcustomvalidity(valorfunction(options.defaulttext, window, [input]));

            function changeorinput() {
                if (input.value == "") {
                    input.setcustomvalidity(valorfunction(options.emptytext, window, [input]));
                } else {
                    input.setcustomvalidity("");
                }
            }

            function invalid() {
                if (input.value == "") {
                    input.setcustomvalidity(valorfunction(options.emptytext, window, [input]));
                } else {
                    input.setcustomvalidity(valorfunction(options.invalidtext, window, [input]));
                }
            }

            input.addeventlistener("change", changeorinput);
            input.addeventlistener("input", changeorinput);
            input.addeventlistener("invalid", invalid);
        }
        exports.invalidinputhelper = invalidinputhelper;
    })(window);

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 //InvalidInputHelper(document.getElementById("DepartmentId"), {
    //    defaultText: "Lütfen bir kurum seçin!",
    //    emptyText: "Lütfen bir kurum seçin!",
    //    invalidText: function (input) {
    //        return 'Kurum "' + input.value + '" Seçiniz!';
    //    }
    //});

    //InvalidInputHelper(document.getElementById("RoleId"), {
    //    defaultText: "Lütfen bir rol seçin!",
    //    emptyText: "Lütfen bir rol seçin!",
    //    invalidText: function (input) {
    //        return 'Rol "' + input.value + '" Seçiniz!';
    //    }
    //});

    InvalidInputHelper(document.getElementById("TC"), {
        defaultText: "Lütfen bir TC seçin!",
        emptyText: "Lütfen bir TC seçin!",
        invalidText: function (input) {
            return 'TC "' + input.value + '" Seçiniz!';
        }
    });
    InvalidInputHelper(document.getElementById("Username"), {
        defaultText: "Lütfen bir EMAIL seçin!",
        emptyText: "Lütfen bir EMAIL seçin!",
        invalidText: function (input) {
            return 'Kullanıcı "' + input.value + '" Seçiniz!';
        }
    });


    InvalidInputHelper(document.getElementById("Email"), {
        defaultText: "Lütfen bir Repeat EMAIL seçin!",
        emptyText: "Lütfen bir Repeat Email seçin!",
        invalidText: function (input) {
            return 'Email "' + input.value + '" Seçiniz!';
        }
    });
    InvalidInputHelper(document.getElementById("Password"), {
        defaultText: "Lütfen bir Password seçin!",
        emptyText: "Lütfen bir Password seçin!",
        invalidText: function (input) {
            return 'Şifre "' + input.value + '" Seçiniz!';
        }
    });
    InvalidInputHelper(document.getElementById("FirstName"), {
        defaultText: "Lütfen bir FirstName seçin!",
        emptyText: "Lütfen bir FirstName seçin!",
        invalidText: function (input) {
            return 'Ad "' + input.value + '" Seçiniz!';
        }
    });
    InvalidInputHelper(document.getElementById("LastName"), {
        defaultText: "Lütfen bir LastName seçin!",
        emptyText: "Lütfen bir LastName seçin!",
        invalidText: function (input) {
            return 'Soyad "' + input.value + '" Seçiniz!';
        }
    });
    //InvalidInputHelper(document.getElementById("Supervisior"), {
    //    defaultText: "Lütfen bir Supervisior seçin!",
    //    emptyText: "Lütfen bir Supervisior seçin!",
    //    invalidText: function (input) {
    //        return 'Supervisior "' + input.value + '" Seçiniz!';
    //    }
    //});
    //InvalidInputHelper(document.getElementById("BASVURU_ONAY"), {
    //    defaultText: "Lütfen bir BASVURU_ONAY seçin!",
    //    emptyText: "Lütfen bir BASVURU_ONAY seçin!",
    //    invalidText: function (input) {
    //        return 'Basvuru "' + input.value + '" Seçiniz!';
    //    }
    //});
    //InvalidInputHelper(document.getElementById("KESIF_ONAY"), {
    //    defaultText: "Lütfen bir KESIF_ONAY seçin!",
    //    emptyText: "Lütfen bir KESIF_ONAY seçin!",
    //    invalidText: function (input) {
    //        return 'Keşif "' + input.value + '" Seçiniz!';
    //    }
    //});
    //InvalidInputHelper(document.getElementById("RUHSAT_ONAY"), {
    //    defaultText: "Lütfen bir RUHSAT_ONAY seçin!",
    //    emptyText: "Lütfen bir RUHSAT_ONAY seçin!",
    //    invalidText: function (input) {
    //        return 'Ruhsat "' + input.value + '" Seçiniz!';
    //    }
    //});


    //InvalidInputHelper(document.getElementById("IsActive"), {
    //    defaultText: "Lütfen bir IsActive seçin!",
    //    emptyText: "Lütfen bir IsActive seçin!",
    //    invalidText: function (input) {
    //        return 'Aktif "' + input.value + '" Seçiniz!';
    //    }
    //});
    //InvalidInputHelper(document.getElementById("CanEmail"), {
    //    defaultText: "Lütfen bir CanEmail seçin!",
    //    emptyText: "Lütfen bir CanEmail seçin!",
    //    invalidText: function (input) {
    //        return 'Email Yetki "' + input.value + '" Seçiniz!';
    //    }
    //});
    //InvalidInputHelper(document.getElementById("CanMessage"), {
    //    defaultText: "Lütfen bir CanMessage seçin!",
    //    emptyText: "Lütfen bir CanMessage seçin!",
    //    invalidText: function (input) {
    //        return 'Mesaj Yetki "' + input.value + '" Seçiniz!';
    //    }
    //});



</script>