﻿@model MassEmail.Models.ApplicationUser

@{
    ViewBag.Title = "Silmek istediğinize eminmisiniz?";
    if (Ajax.IsThisAjaxRequest())
    {
        Layout = null;
    }
}
<head>
<meta charset="UTF-8"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<section class="content-header">
<head>
<meta charset="UTF-8"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
    <h1>
        @ViewBag.Title
    </h1>
</section>

<section class="content">
<meta charset="UTF-8"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-xs-12">

            <div class="panel">
                <div class="panel-header">
                    <h3>Kullanıcı Detay</h3>
                </div><!-- /.box-header -->
                <div class="panel-content">

                    <div class="widget-sec">
                        <div class="streaming-table">
                            <table class="table table-striped table-bordered">

                                <tr>
                                    <td>TC</td>
                                    <td>@Html.DisplayFor(model => model.TC)</td>
                                </tr>
                                <tr>
                                    <td>Kullanıcı adı</td>
                                    <td>@Html.DisplayFor(model => model.Username)</td>
                                </tr>
                                <tr>
                                    <td>Şifre</td>
                                    <td>@Html.DisplayFor(model => model.Password)</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td>@Html.DisplayFor(model => model.Email)</td>
                                </tr>
                                <tr>
                                    <td>Ad</td>
                                    <td>@Html.DisplayFor(model => model.FirstName)</td>
                                </tr>
                                <tr>
                                    <td>Soyadı</td>
                                    <td>@Html.DisplayFor(model => model.LastName)</td>
                                </tr>
                                <tr>
                                    <td>Kurum</td>
                                    <td>@Html.DisplayFor(model => model.DepartmentId)</td>
                                </tr>
                                <tr>
                                    <td>Supervisior</td>
                                    <td>@Html.DisplayFor(model => model.Supervisior)</td>
                                </tr>
                                <tr>
                                    <td>Başvuru Onay</td>
                                    <td>@Html.DisplayFor(model => model.BASVURU_ONAY)</td>
                                </tr>
                                <tr>
                                    <td>Keşif Onay</td>
                                    <td>@Html.DisplayFor(model => model.KESIF_ONAY)</td>
                                </tr>
                                <tr>
                                    <td>Ruhsat Onay</td>
                                    <td>@Html.DisplayFor(model => model.RUHSAT_ONAY)</td>
                                </tr>
                                <tr>
                                    <td>Aktif</td>
                                    <td>@Html.DisplayFor(model => model.IsActive)</td>
                                </tr>
                                <tr>
                                    <td>Email Yetki</td>
                                    <td>@Html.DisplayFor(model => model.CanEmail)</td>
                                </tr>
                                <tr>
                                    <td>Mesaj</td>
                                    <td>@Html.DisplayFor(model => model.CanMessage)</td>
                                </tr>


                            </table>
                            <div class="box-footer">

                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                                    <input type="submit" value="Sil" class="btn btn-primary" />
                                    @Html.ActionLink("Liste", "Index", null, new { @class = "btn btn-primary" })
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



