﻿@model IEnumerable<MassEmail.Models.ApplicationUser>

@{
    ViewBag.Title = "Kullanıcı Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section ScriptsOrCss
{
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <script src="~/Content/DataTable/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="~/Content/DataTable/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<link href="~/Content/DataTable/plugins/dataTables.bootstrap.css" rel="stylesheet" />
<script src="~/Content/DataTable/js/plugins/dataTables.responsive.min.js"></script>
<script src="~/Content/DataTable/js/plugins/dataTables/jquery.dataTable.minNew.js"></script>
<script type="text/javascript" src="~/Content/HtmlExprt/tableExport.js"></script>
<script type="text/javascript" src="~/Content/HtmlExprt/jquery.base64.js"></script>
<script type="text/javascript" src="~/Content/HtmlExprt/html2canvas.js"></script>
<script type="text/javascript" src="~/Content/HtmlExprt/jspdf/libs/sprintf.js"></script>
<script type="text/javascript" src="~/Content/HtmlExprt/jspdf/jspdf.js"></script>
<script type="text/javascript" src="~/Content/HtmlExprt/jspdf/libs/base64.js"></script>

<script src="~/Content/fancybox/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
<script type="text/javascript" src="~/Content/fancybox/helpers/jquery.fancybox-media.js?v=1.0.5"></script>
<script src="~/Content/fancybox/jquery.fancybox.pack.js"></script>
<script src="~/Content/fancybox/jquery.fancybox.js?v=2.1.4"></script>
<link href="~/Content/fancybox/jquery.fancybox.css" rel="stylesheet" />
<link href="~/Content/fancybox/helpers/jquery.fancybox-buttons.css" rel="stylesheet" />
<link href="~/Content/DataTable/js/plugins/responsive.dataTables.min.css" rel="stylesheet" />

<link href="~/Content/bildirimobile.css" rel="stylesheet" />

}
<section class="content-header">
    <h1>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="panel mobile-noshow">
            <div class="panel-content">
                <div class="margin">
                    <div class="btn-group">
                        @Ajax.ModalDialogActionLink("Oluştur", "Create", "Create ", "btn btn-success")
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-blue dropdown-toggle" data-toggle="dropdown">
                            Filtre <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a class="toggle-vis" data-column="0">Eylemler</a></li>
                            <li><a class="toggle-vis" data-column="1">ID</a></li>
                            <li><a class="toggle-vis" data-column="2">Kullanıcı adı</a></li>
                            <li><a class="toggle-vis" data-column="3">Şifre</a></li>
                            <li><a class="toggle-vis" data-column="4">Email</a></li>
                            <li><a class="toggle-vis" data-column="5">Ad</a></li>
                            <li><a class="toggle-vis" data-column="6">Soyad</a></li>
                            <li><a class="toggle-vis" data-column="7">Kurum ID</a></li>
                            <li><a class="toggle-vis" data-column="8">Aktif</a></li>
                            <li><a class="toggle-vis" data-column="9">Email Yetki</a></li>
                            <li><a class="toggle-vis" data-column="10">Mesaj Yetki</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-blue" onclick="$('#tbApplicationUser').tableExport({type:'pdf',escape:'false'});"><i class="fa fa-file-pdf-o f18"></i>Çıkart PDF<div class="ripple-wrapper"></div></button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-blue" onclick="ExportExcel();"><i class="fa fa-file-excel-o f18"></i>Çıkart Excel<div class="ripple-wrapper"></div></button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-blue" onclick="$('#tbApplicationUser').tableExport({ type: 'doc', escape: 'false' });"><i class="fa fa-file-word-o f18"></i>Çıkart Word<div class="ripple-wrapper"></div></button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-blue" onclick="$('#tbApplicationUser').tableExport({type:'csv',escape:'false'});"><i class="fa fa-file-archive-o f18"></i>Çıkart CSV<div class="ripple-wrapper"></div></button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-blue dropdown-toggle" data-toggle="dropdown">
                            Çıkart <span class="caret"></span>
                        </button>
                        <span class="dropdown-arrow"></span>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" onclick="$('#tbApplicationUser').tableExport({type:'powerpoint',escape:'false'});"> <img src='~/Content/HtmlExprt/icons/ppt.png' style="height:25px !important;margin:3px;"> PowerPoint</a></li>
                            <li><a href="#" onclick="$('#tbApplicationUser').tableExport({type:'json',escape:'false'});"> <img src='~/Content/HtmlExprt/icons/json.png' style="height:25px !important;margin:3px;"> JSON</a></li>
                            <li><a href="#" onclick="$('#tbApplicationUser').tableExport({type:'xml',escape:'false'});"> <img src='~/Content/HtmlExprt/icons/xml.png' style="height:25px !important;margin:3px;"> XML</a></li>
                            <li><a href="#" onclick="$('#tbApplicationUser').tableExport({type:'sql'});"> <img src='~/Content/HtmlExprt/icons/sql.png' style="height:25px !important;margin:3px;"> SQL</a></li>
                            <li><a href="#" onclick="$('#tbApplicationUser').tableExport({type:'txt',escape:'false'});"> <img src='~/Content/HtmlExprt/icons/txt.png' style="height:25px !important;margin:3px;"> TXT</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-header">
                <h3 class="box-title">@ViewBag.Title</h3>
            </div>
            <div class="panel-content">
                <div class="margin">
                    <div class="streaming-table">
                        <span id="found" class="label label-info"></span>
                        <table id="tbApplicationUser" class="table table-mobile" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th> @Html.DisplayNameFor(model => model.FirstName) </th>
                                    <th> @Html.DisplayNameFor(model => model.LastName) </th>
                                    <th> @Html.DisplayNameFor(model => model.DepartmentId) </th>
                                    <th> @Html.DisplayNameFor(model => model.IsActive) </th>
                                    <th> @Html.DisplayNameFor(model => model.Supervisior) </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                        <div id="summary">
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">

    $(document).ready(function () {
        var oTableApplicationUser = "";
        var ControlerNameApplicationUser = "@Url.Content("~/ApplicationUser")";
        oTableApplicationUser = $("#tbApplicationUser").dataTable({
            "scrollX": true,
            "bRetrieve": true,
            "fnInitComplete": function (oSettings, json) {
                configurerows();
            },
            "fnDrawCallback": function (oSettings){
                configurerows();
            },
            "bProcessing": true,
            "aaSorting": [[3, 'asc']],
            "sAjaxSource": "@Url.Content("~/ApplicationUser/GetGrid")",
            "aoColumns": [

            {
                "mRender": function (oObj, type, row) {


                    var buttons = "<a class=\"btn btn-sm btn-success\" href=" + ControlerNameApplicationUser + "/MultiViewIndex/" + row[0] + "><i class=\"fa fa-edit f18\"></i></a>"
                    buttons += "<a class=\"btn btn-sm btn-blue\" href=" + ControlerNameApplicationUser + "/Details/" + row[0] + " data-ajax-update=\"#SkDetails\" data-ajax-success=\"openModalDialog('SkDetails', 'Details')\" data-ajax-mode=\"replace\" data-ajax-method=\"GET\" data-ajax-failure=\"clearModalDialog('SkDetails');alert('Ajax call failed')\" data-ajax-begin=\"prepareModalDialog('SkDetails')\" data-ajax=\"true\"><i class=\"fa fa-info f18\"></i></a>";
                    buttons += "<a class=\"btn btn-sm btn-danger\" href=" + ControlerNameApplicationUser + "/Delete/" + row[0] + " data-ajax-update=\"#SkDelete\" data-ajax-success=\"openModalDialog('SkDelete', 'Delete')\" data-ajax-mode=\"replace\" data-ajax-method=\"GET\" data-ajax-failure=\"clearModalDialog('SkDelete');alert('Ajax call failed')\" data-ajax-begin=\"prepareModalDialog('SkDelete')\" data-ajax=\"true\"><i class=\"fa fa-bitbucket f18\"></i></a>";

                    return buttons;

                }

            }

, {
    "mRender": function (oObj, type, row) {
        return " " + oObj + " </a>";
    }
}, {}
, {}
, {}
, {}

            ]

        });
        var table = $('#tbApplicationUser').DataTable({});

        $('a.toggle-vis').on('click', function (e) {
            e.preventDefault();
            var column = table.column($(this).attr('data-column'));
            column.visible(!column.visible());
        });
    });
    function configurerows() {
        $trs = $('.table-mobile tbody tr');
        $.each($trs, function (id, tr) {
            $(tr).find('td:eq(0)').addClass('mobile-noshow');
            $(tr).find('td:eq(1)').attr('data-label', 'Ad');
            $(tr).find('td:eq(2)').attr('data-label', 'Soyad');
            $(tr).find('td:eq(3)').attr('data-label', 'Kurum');
            $(tr).find('td:eq(4)').attr('data-label', 'Aktif');
            $(tr).find('td:eq(5)').attr('data-label', 'Supervisor');
        });
    }
    function ExportExcel() {
        window.location.href = "http://http://aykome.aydin.bel.tr:84//ApplicationUser/GetExcel"

        //$.ajax({
        //    type: "POST",
        //    url: "/ApplicationUser/GetExcel",
        //    success: function () {
        //        if (response.aaData != null) {


        //        } else {
        //                          }
        //    },

        //});

    }
</script>

