﻿@model IEnumerable<MassEmail.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        @ViewBag.Title
        <small>Kullanıcı Listesi</small>
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="panel">
            <div class="panel-header">
                <h3>Kullanıcı Kayıtları</h3>
            </div>
            <div class="panel-content">
                @Html.ActionLink("Yeni Oluştur", "Create", null, new { @class = "btn btn-primary" })
                <br /><br />
                <div class="widget-sec">
                    <div class="streaming-table">
                        <span id="found" class="label label-info"></span>
                        <table id="tbPages" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th> @Html.DisplayNameFor(model => model.Id) </th>
                                    <th> @Html.DisplayNameFor(model => model.TC) </th>
                                    <th> @Html.DisplayNameFor(model => model.Username) </th>
                                    <th> @Html.DisplayNameFor(model => model.Password) </th>
                                    <th> @Html.DisplayNameFor(model => model.Email) </th>
                                    <th> @Html.DisplayNameFor(model => model.FirstName) </th>
                                    <th> @Html.DisplayNameFor(model => model.LastName) </th>
                                    <th> @Html.DisplayNameFor(model => model.DepartmentId) </th>
                                    <th> @Html.DisplayNameFor(model => model.Supervisior) </th>
                                    <th> @Html.DisplayNameFor(model => model.BASVURU_ONAY) </th>
                                    <th> @Html.DisplayNameFor(model => model.KESIF_ONAY) </th>
                                    <th> @Html.DisplayNameFor(model => model.RUHSAT_ONAY) </th>
                                    <th> @Html.DisplayNameFor(model => model.IsActive) </th>
                                    <th> @Html.DisplayNameFor(model => model.CanEmail) </th>
                                    <th> @Html.DisplayNameFor(model => model.CanMessage) </th>


                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td> @Html.DisplayFor(modelItem => item.Id) </td>
                                        <td> @Html.DisplayFor(modelItem => item.TC) </td>
                                        <td> @Html.DisplayFor(modelItem => item.Username) </td>
                                        <td> @Html.DisplayFor(modelItem => item.Password) </td>
                                        <td> @Html.DisplayFor(modelItem => item.Email) </td>
                                        <td> @Html.DisplayFor(modelItem => item.FirstName) </td>
                                        <td> @Html.DisplayFor(modelItem => item.LastName) </td>
                                        <td> @Html.DisplayFor(modelItem => item.Department_DepartmentId.Title) </td>
                                        <td> @Html.DisplayFor(modelItem => item.Supervisior) </td>
                                        <td> @Html.DisplayFor(modelItem => item.BASVURU_ONAY) </td>
                                        <td> @Html.DisplayFor(modelItem => item.KESIF_ONAY) </td>
                                        <td> @Html.DisplayFor(modelItem => item.RUHSAT_ONAY) </td>
                                        <td> @Html.DisplayFor(modelItem => item.IsActive) </td>
                                        <td> @Html.DisplayFor(modelItem => item.CanEmail) </td>
                                        <td> @Html.DisplayFor(modelItem => item.CanMessage) </td>

                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <div class="box-footer">
                @Html.ActionLink("Yeni Oluştur", "Create", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</section>


