﻿@model MassEmail.Models.ApplicationUser
@{
    ViewBag.Title = "Düzenleme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section ScriptsOrCss
{
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <script src="~/Content/DataTable/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="~/Content/DataTable/js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <link href="~/Content/DataTable/plugins/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="~/Content/DataTable/js/plugins/dataTables/jquery.dataTable.minNew.js"></script>
    <script type="text/javascript" src="~/Content/HtmlExprt/tableExport.js"></script>
    <script type="text/javascript" src="~/Content/HtmlExprt/jquery.base64.js"></script>
    <script type="text/javascript" src="~/Content/HtmlExprt/html2canvas.js"></script>
    <script type="text/javascript" src="~/Content/HtmlExprt/jspdf/libs/sprintf.js"></script>
    <script type="text/javascript" src="~/Content/HtmlExprt/jspdf/jspdf.js"></script>
    <script type="text/javascript" src="~/Content/HtmlExprt/jspdf/libs/base64.js"></script>
    <link href="~/Content/splitter/splitter.css" rel="stylesheet" />
    <script src="~/Content/splitter/Splitter.js"></script>
    <script src="~/Content/ckEditor/ckeditor.js"></script>
    <link href="~/Content/ckEditor/samples/sample.css" rel="stylesheet" />
    <script src="~/Content/tabs/Jquery-ui.js"></script>
    <link href="~/Content/tabs/JqueryUi.css" rel="stylesheet" />

    <script>
        $(function () {
            var tabs = $("#tabs").tabs();
            tabs.find(".ui-tabs-nav").sortable({
                axis: "x",
                stop: function () {
                    tabs.tabs("refresh");
                }
            });

            $("#dialog").dialog({
                autoOpen: false,
                show: {
                    effect: "blind",
                    duration: 1000
                },
                hide: {
                    effect: "explode",
                    duration: 1000
                }
            });
            $("#opener").click(function () {
                $("#dialog").dialog("open");
            });

        });
    </script>
    <style>
        table {
            width: 100% !important;
        }
    </style>
}

<section class="content-header">
    <h1>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="panel">
            <div class="panel-content">
                <div class="nav-tabs2">
                    <ul class="nav nav-tabs nav-red">
                        <li class="active"><a data-toggle="tab" href="#EditThis">Düzenle</a></li>
                        <li><a data-toggle="tab" href="#RoleUser">Kullanıcı Rol</a></li>
                        <li><a data-toggle="tab" href="#MenuPermission">Menü Yetkilendirme</a></li>
                        <li><a data-toggle="tab" href="#EmailMessage">E-posta Mesaj</a></li>
                        <li><a data-toggle="tab" href="#EmailMember">E-posta Veri</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="EditThis">
                            @using (Html.BeginForm("MultiViewIndex", "ApplicationUser", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                @Html.AntiForgeryToken()

                                    if (ViewBag.IsWorking == 1)
                                    {
                                <section class="content">
                                    <!-- Small boxes (Stat box) -->
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="box box-solid box-primary">
                                                <div class="box-header">
                                                    <h3 class="box-title">Kullanıcı Düzenleme</h3>
                                                </div><!-- /.box-header -->
                                                <!-- form start -->
                                                <div role="form">
                                                    <div class="box-body">
                                                        <div class="alert alert-danger alert-dismissable" style="display:@(this.ViewData.ModelState.IsValid ? "none" : "")">
                                                            <i class="fa fa-ban"></i>
                                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>

                                                            @foreach (var key in this.ViewData.ModelState.Keys)
                                                                    {
                                                                        foreach (var err in this.ViewData.ModelState[key].Errors)
                                                                        {
                                                                    <b>Uyarı! </b> @err.ErrorMessage
                                                                    <br />
                                                                        }
                                                                    }
                                                        </div>


                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.TC, new { @class = "" })
                                                            @Html.TextBoxFor(model => model.TC,new { @class="form-control"}) @Html.ValidationMessageFor(model => model.TC)
                                                        </div>
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.Username, new { @class = "" })
                                                            @Html.TextBoxFor(model => model.Username, new { @class = "form-control" }) @Html.ValidationMessageFor(model => model.Username)
                                                        </div>
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.Email, new { @class = "" })
                                                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" }) @Html.ValidationMessageFor(model => model.Email)
                                                        </div>
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.Password, new { @class = "" })
                                                            @Html.TextBoxFor(model => model.Password, new { @class = "form-control" }) @Html.ValidationMessageFor(model => model.Password)
                                                        </div>
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.FirstName, new { @class = "" })
                                                            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" }) @Html.ValidationMessageFor(model => model.FirstName)
                                                        </div>
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.LastName, new { @class = "" })
                                                            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" }) @Html.ValidationMessageFor(model => model.LastName)
                                                        </div>
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.DepartmentId, new { @class = "" })
                                                            @Html.DropDownList("DepartmentId", " -Seçiniz- ") @Html.ValidationMessageFor(model => model.DepartmentId)

                                                            &nbsp;&nbsp; <a data-ajax="true" data-ajax-begin="prepareModalDialog('AddMore')" data-ajax-failure="clearModalDialog('AddMore');alert('Ajax call failed')" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="openModalDialog('AddMore', 'Add')" data-ajax-update="#AddMore" href="~/Department/Create">
                                                                <img src="~/Content/ModelPopup/Plus.png" />
                                                            </a>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Kullanıcı Aktif</label>
                                                            @{
                                                                List<SelectListItem> listItems7 = new List<SelectListItem>();
                                                                listItems7.Add(new SelectListItem
                                                                {
                                                                    Text = "Evet",
                                                                    Value = "true",           

                                                                });
                                                                listItems7.Add(new SelectListItem
                                                                {
                                                                    Text = "Hayır",
                                                                    Value = "false",

                                                                });

                                                            }

                                                            @Html.DropDownListFor(model => model.IsActive, listItems7, " -Seçiniz- ", new { required = "required", })


                                                        </div>
                                                        <div class="form-group">
                                                            <label>Supervisior</label>
                                                            @{
                                                                List<SelectListItem> listItems3 = new List<SelectListItem>();
                                                                listItems3.Add(new SelectListItem
                                                                {
                                                                    Text = "Evet",
                                                                    Value = "true"
                                                                });
                                                                listItems3.Add(new SelectListItem
                                                                {
                                                                    Text = "Hayır",
                                                                    Value = "false",
                                                                    
                                                                });

                                                            }

                                                            @Html.DropDownListFor(model => model.Supervisior, listItems3, " -Seçiniz- ", new { required = "required", })


                                                        </div>
                                                        <div class="form-group">
                                                            <label>Başvuru Onaylama</label>
                                                            @{
                                                                List<SelectListItem> listItems4 = new List<SelectListItem>();
                                                                listItems4.Add(new SelectListItem
                                                                {
                                                                    Text = "Evet",
                                                                    Value = "true"
                                                                });
                                                                listItems4.Add(new SelectListItem
                                                                {
                                                                    Text = "Hayır",
                                                                    Value = "false",
                                                                   
                                                                });

                                                            }

                                                            @Html.DropDownListFor(model => model.BASVURU_ONAY, listItems4, " -Seçiniz- ", new { required = "required", })


                                                        </div>
                                                        <div class="form-group">
                                                            <label>Keşif Onaylama</label>
                                                            @{
                                                                List<SelectListItem> listItems5 = new List<SelectListItem>();
                                                                listItems5.Add(new SelectListItem
                                                                {
                                                                    Text = "Evet",
                                                                    Value = "true"
                                                                });
                                                                listItems5.Add(new SelectListItem
                                                                {
                                                                    Text = "Hayır",
                                                                    Value = "false",
                                                               
                                                                });

                                                            }

                                                            @Html.DropDownListFor(model => model.KESIF_ONAY, listItems5, " -Seçiniz- ", new { required = "required", })


                                                        </div>
                                                        <div class="form-group">
                                                            <label>Ruhsat Onaylama</label>
                                                            @{
                                                                List<SelectListItem> listItems6 = new List<SelectListItem>();
                                                                listItems6.Add(new SelectListItem
                                                                {
                                                                    Text = "Evet",
                                                                    Value = "true"
                                                                });
                                                                listItems6.Add(new SelectListItem
                                                                {
                                                                    Text = "Hayır",
                                                                    Value = "false",
                                                                  
                                                                });

                                                            }

                                                            @Html.DropDownListFor(model => model.RUHSAT_ONAY, listItems6, " -Seçiniz- ", new { required = "required", })


                                                        </div>
                                                        <div class="form-group">
                                                            <label>Mail Kontrol</label>
                                                            @{
                                                                List<SelectListItem> listItems8 = new List<SelectListItem>();
                                                                listItems8.Add(new SelectListItem
                                                                {
                                                                    Text = "Evet",
                                                                    Value = "true",
                                                                

                                                                });
                                                                listItems8.Add(new SelectListItem
                                                                {
                                                                    Text = "Hayır",
                                                                    Value = "false"
                                                                });

                                                            }

                                                            @Html.DropDownListFor(model => model.CanEmail, listItems8, " -Seçiniz- ", new { required = "required", })


                                                        </div>
                                                        <div class="form-group">
                                                            <label>Mesajlaşma</label>
                                                            @{
                                                                List<SelectListItem> listItems9 = new List<SelectListItem>();
                                                                listItems9.Add(new SelectListItem
                                                                {
                                                                    Text = "Evet",
                                                                    Value = "true",
                                                                   

                                                                });
                                                                listItems9.Add(new SelectListItem
                                                                {
                                                                    Text = "Hayır",
                                                                    Value = "false"
                                                                });

                                                            }

                                                            @Html.DropDownListFor(model => model.CanMessage, listItems9, " -Seçiniz- ", new { required = "required", })


                                                        </div>
                                                        <div class="form-group">
                                                            <label>Bildirim Oluştur</label>
                                                            @{
                                                            List<SelectListItem> listItems1 = new List<SelectListItem>();
                                                            listItems1.Add(new SelectListItem
                                                                 {
                                                                     Text = "Evet",
                                                                     Value = "true"
                                                                 });
                                                            listItems1.Add(new SelectListItem
                                                                 {
                                                                     Text = "Hayır",
                                                                     Value = "false",
                                                                     
                                                                 });

                                                            }

                                                             @Html.DropDownListFor(model => model.AnnouncementCreat, listItems1, " -Seçiniz- ", new { required = "required", })
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Etkinlik Oluştur</label>
                                                            @{
                                                            List<SelectListItem> listItems2 = new List<SelectListItem>();
                                                            listItems2.Add(new SelectListItem
                                                                 {
                                                                     Text = "Evet",
                                                                     Value = "true"
                                                                 });
                                                            listItems2.Add(new SelectListItem
                                                                 {
                                                                     Text = "Hayır",
                                                                     Value = "false",
                                                                     
                                                                 });

                                                            }

                                                            @Html.DropDownListFor(model => model.EventCreat, listItems2, " -Seçiniz- ", new { required = "required", })
                                                        </div>



                                                    </div><!-- /.box-body -->
                                                    <div class="box-footer">
                                                        <input type="submit" value="Kaydet" class="btn btn-primary" />
                                                        @Html.ActionLink("Liste", "Index", null, new { @class = "btn btn-primary" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                    }
                                }
                        </div>
                        <div class="tab-pane" id="RoleUser" style="overflow:auto !important;">
                            <div class="box box-solid box-primary"><div class="box-body">@Ajax.ModalDialogActionLink("Yeni Oluştur", "Create", "RoleUser", "Yeni Oluştur", "btn btn-primary") </div> </div>
                            <div class="box box-solid box-primary">
                                <div class="box-body">
                                    <table id="tbRoleUser" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>

                                                <th></th>
                                                <th> ID </th>
                                                <th> Rol ID </th>
                                                <th> Kullanıcı ID </th>
                                            </tr>
                                        </thead>
                                        <tbody> </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="MenuPermission" style="overflow:auto !important;">
                            <div class="box box-solid box-primary"><div class="box-body">@Ajax.ModalDialogActionLink("Yeni Oluştur", "Create", "MenuPermission", "Yeni Oluştur", "btn btn-primary") </div> </div>
                            <div class="box box-solid box-primary">
                                <div class="box-body">
                                    <table id="tbMenuPermission" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>

                                                <th></th>
                                                <th> ID </th>
                                                <th> Menü ID </th>
                                                <th> Rol ID </th>
                                                <th> Kullanıcı ID </th>
                                            </tr>
                                        </thead>
                                        <tbody> </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="EmailMessage" style="overflow:auto !important;">
                            <div class="box box-solid box-primary"><div class="box-body">@Ajax.ModalDialogActionLink("Yeni Oluştur", "Create", "EmailMessage", "Yeni Oluştur", "btn btn-primary") </div> </div>
                            <div class="box box-solid box-primary">
                                <div class="box-body">
                                    <table id="tbEmailMessage" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>

                                                <th></th>
                                                <th> ID </th>
                                                <th> Gönderen ID </th>
                                                <th> Konu </th>
                                                <th> Mesaj </th>
                                                <th> Tarih </th>
                                                <th> Silindi </th>
                                            </tr>
                                        </thead>
                                        <tbody> </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="EmailMember" style="overflow:auto !important;">
                            <div class="box box-solid box-primary"><div class="box-body">@Ajax.ModalDialogActionLink("Yeni Oluştur", "Create", "EmailMember", "Yeni Oluştur", "btn btn-primary") </div> </div>
                            <div class="box box-solid box-primary">
                                <div class="box-body">
                                    <table id="tbEmailMember" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>

                                                <th></th>
                                                <th> ID </th>
                                                <th> Mesaj </th>
                                                <th> Kullanıcı ID </th>
                                                <th> Okundu </th>
                                                <th> Tarih </th>
                                            </tr>
                                        </thead>
                                        <tbody> </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script type="text/javascript">

    $(document).ready(function () {
        var oTableRoleUser = "";
        var ControlerNameRoleUser = "@Url.Content("~/RoleUser")";
        // debugger;
        oTableRoleUser = $("#tbRoleUser").dataTable({
            "bRetrieve": true,
            "bProcessing": true,
            "sAjaxSource": "@Url.Content("~/RoleUser/GetGrid")",
            "aoColumns": [

            {
                "mRender": function (oObj, type, row) {
                    var buttons = "<a class=\"btn btn-sm btn-success\" href=" + ControlerNameRoleUser + "/MultiViewIndex/" + row[0] + "><i class=\"fa fa-edit f18\"></i></a>"
                    buttons += "<a class=\"btn btn-sm btn-blue\" href=" + ControlerNameRoleUser + "/Details/" + row[0] + " data-ajax-update=\"#SkDetails\" data-ajax-success=\"openModalDialog('SkDetails', 'Details')\" data-ajax-mode=\"replace\" data-ajax-method=\"GET\" data-ajax-failure=\"clearModalDialog('SkDetails');alert('Ajax call failed')\" data-ajax-begin=\"prepareModalDialog('SkDetails')\" data-ajax=\"true\"><i class=\"fa fa-info f18\"></i></a>";
                    buttons += "<a class=\"btn btn-sm btn-danger\" href=" + ControlerNameRoleUser + "/Delete/" + row[0] + " data-ajax-update=\"#SkDelete\" data-ajax-success=\"openModalDialog('SkDelete', 'Delete')\" data-ajax-mode=\"replace\" data-ajax-method=\"GET\" data-ajax-failure=\"clearModalDialog('SkDelete');alert('Ajax call failed')\" data-ajax-begin=\"prepareModalDialog('SkDelete')\" data-ajax=\"true\"><i class=\"fa fa-bitbucket f18\"></i></a>";

                    return buttons;
                }

            }, {}, {}, {}, {}, {}, {}, {}, {}, {},
            ]

        });

    });
</script>
<script type="text/javascript">

    $(document).ready(function () {
        var oTableMenuPermission = "";
        var ControlerNameMenuPermission = "@Url.Content("~/MenuPermission")";
        // debugger;
        oTableMenuPermission = $("#tbMenuPermission").dataTable({
            "bRetrieve": true,
            "bProcessing": true,
            "sAjaxSource": "@Url.Content("~/MenuPermission/GetGrid")",
            "aoColumns": [

            {
                "mRender": function (oObj, type, row) {
                    var buttons = "<a class=\"btn btn-sm btn-success\" href=" + ControlerNameMenuPermission + "/MultiViewIndex/" + row[0] + "><i class=\"fa fa-edit f18\"></i></a>"
                    buttons += "<a class=\"btn btn-sm btn-blue\" href=" + ControlerNameMenuPermission + "/Details/" + row[0] + " data-ajax-update=\"#SkDetails\" data-ajax-success=\"openModalDialog('SkDetails', 'Details')\" data-ajax-mode=\"replace\" data-ajax-method=\"GET\" data-ajax-failure=\"clearModalDialog('SkDetails');alert('Ajax call failed')\" data-ajax-begin=\"prepareModalDialog('SkDetails')\" data-ajax=\"true\"><i class=\"fa fa-info f18\"></i></a>";
                    buttons += "<a class=\"btn btn-sm btn-danger\" href=" + ControlerNameMenuPermission + "/Delete/" + row[0] + " data-ajax-update=\"#SkDelete\" data-ajax-success=\"openModalDialog('SkDelete', 'Delete')\" data-ajax-mode=\"replace\" data-ajax-method=\"GET\" data-ajax-failure=\"clearModalDialog('SkDelete');alert('Ajax call failed')\" data-ajax-begin=\"prepareModalDialog('SkDelete')\" data-ajax=\"true\"><i class=\"fa fa-bitbucket f18\"></i></a>";

                    return buttons;
                }

            }, {}, {}, {}, {}
            ]

        });

    });
</script>
<script type="text/javascript">

    $(document).ready(function () {
        var oTableEmailMessage = "";
        var ControlerNameEmailMessage = "@Url.Content("~/EmailMessage")";
        // debugger;
        oTableEmailMessage = $("#tbEmailMessage").dataTable({
            "bRetrieve": true,
            "bProcessing": true,
            "sAjaxSource": "@Url.Content("~/EmailMessage/GetGrid")",
            "aoColumns": [

            {
                "mRender": function (oObj, type, row) {
                    var buttons = "<a class=\"btn btn-sm btn-success\" href=" + ControlerNameEmailMessage + "/MultiViewIndex/" + row[0] + "><i class=\"fa fa-edit f18\"></i></a>"
                    buttons += "<a class=\"btn btn-sm btn-blue\" href=" + ControlerNameEmailMessage + "/Details/" + row[0] + " data-ajax-update=\"#SkDetails\" data-ajax-success=\"openModalDialog('SkDetails', 'Details')\" data-ajax-mode=\"replace\" data-ajax-method=\"GET\" data-ajax-failure=\"clearModalDialog('SkDetails');alert('Ajax call failed')\" data-ajax-begin=\"prepareModalDialog('SkDetails')\" data-ajax=\"true\"><i class=\"fa fa-info f18\"></i></a>";
                    buttons += "<a class=\"btn btn-sm btn-danger\" href=" + ControlerNameEmailMessage + "/Delete/" + row[0] + " data-ajax-update=\"#SkDelete\" data-ajax-success=\"openModalDialog('SkDelete', 'Delete')\" data-ajax-mode=\"replace\" data-ajax-method=\"GET\" data-ajax-failure=\"clearModalDialog('SkDelete');alert('Ajax call failed')\" data-ajax-begin=\"prepareModalDialog('SkDelete')\" data-ajax=\"true\"><i class=\"fa fa-bitbucket f18\"></i></a>";

                    return buttons;
                }

            }, {}, {}, {}, {}, {}, {}
            ]

        });

    });
</script>
<script type="text/javascript">

    $(document).ready(function () {
        var oTableEmailMember = "";
        var ControlerNameEmailMember = "@Url.Content("~/EmailMember")";
        // debugger;
        oTableEmailMember = $("#tbEmailMember").dataTable({
            "bRetrieve": true,
            "bProcessing": true,
            "sAjaxSource": "@Url.Content("~/EmailMember/GetGrid")",
            "aoColumns": [

            {
                "mRender": function (oObj, type, row) {
                    var buttons = "<a class=\"btn btn-social-icon btn-bitbucket\" href=" + ControlerNameEmailMember + "/MultiViewIndex/" + row[0] + "><i class=\"fa fa-edit\"></i></a>"
                    buttons += "<a class=\"btn btn-social-icon btn-dropbox\" href=" + ControlerNameEmailMember + "/Details/" + row[0] + " data-ajax-update=\"#SkDetails\" data-ajax-success=\"openModalDialog('SkDetails', 'Details')\" data-ajax-mode=\"replace\" data-ajax-method=\"GET\" data-ajax-failure=\"clearModalDialog('SkDetails');alert('Ajax call failed')\" data-ajax-begin=\"prepareModalDialog('SkDetails')\" data-ajax=\"true\"><i class=\"fa fa-info\"></i></a>";
                    buttons += "<a class=\"btn btn-social-icon btn-google-plus\" href=" + ControlerNameEmailMember + "/Delete/" + row[0] + " data-ajax-update=\"#SkDelete\" data-ajax-success=\"openModalDialog('SkDelete', 'Delete')\" data-ajax-mode=\"replace\" data-ajax-method=\"GET\" data-ajax-failure=\"clearModalDialog('SkDelete');alert('Ajax call failed')\" data-ajax-begin=\"prepareModalDialog('SkDelete')\" data-ajax=\"true\"><i class=\"fa fa-bitbucket\"></i></a>";

                    return buttons;
                }

            }, {}, {}, {}, {}, {}
            ]

        });

    });
</script>
