﻿@model MassEmail.Models.EmailMessage
@{
    ViewBag.Title = "Düzenleme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section ScriptsOrCss
{
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
    <script src="~/Content/DataTable/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="~/Content/DataTable/js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <link href="~/Content/DataTable/plugins/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="~/Content/DataTable/js/plugins/dataTables/jquery.dataTable.minNew.js"></script>
    <script type="text/javascript" src="~/Content/HtmlExprt/tableExport.js"></script>
    <script type="text/javascript" src="~/Content/HtmlExprt/jquery.base64.js"></script>
    <script type="text/javascript" src="~/Content/HtmlExprt/html2canvas.js"></script>
    <script type="text/javascript" src="~/Content/HtmlExprt/jspdf/libs/sprintf.js"></script>
    <script type="text/javascript" src="~/Content/HtmlExprt/jspdf/jspdf.js"></script>
    <script type="text/javascript" src="~/Content/HtmlExprt/jspdf/libs/base64.js"></script>
    <link href="~/Content/splitter/splitter.css" rel="stylesheet" />
    <script src="~/Content/splitter/Splitter.js"></script>
    <script src="~/Content/ckEditor/ckeditor.js"></script>
    <link href="~/Content/ckEditor/samples/sample.css" rel="stylesheet" />
    <script src="~/Content/tabs/Jquery-ui.js"></script>
    <link href="~/Content/tabs/JqueryUi.css" rel="stylesheet" />
  
    <script>
        $(function () {
            var tabs = $("#tabs").tabs();
            tabs.find(".ui-tabs-nav").sortable({
                axis: "x",
                stop: function () {
                    tabs.tabs("refresh");
                }
            });

            $("#dialog").dialog({
                autoOpen: false,
                show: {
                    effect: "blind",
                    duration: 1000
                },
                hide: {
                    effect: "explode",
                    duration: 1000
                }
            });
            $("#opener").click(function () {
                $("#dialog").dialog("open");
            });

        });
    </script>
    <style>
        table {
            width: 100% !important;
        }
    </style>
}
 
<section class="content-header">
    <h1>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </h1>
</section>
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid box-primary">
                   <div>

                               <div id="tabs">
                                <ul>
                                    <li><a href="#EditThis">Düzenle</a></li>
                                    <li><a href="#EmailMember">Email Oku</a></li>
<li><a href="#EmailAttachment">Email Ek</a></li>

                                </ul>                        

                            <div id="EditThis">
                            @using (Html.BeginForm("MultiViewIndex", "EmailMessage", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()

                                if (ViewBag.IsWorking == 1)
                                {
                                    <section class="content">
                                        <!-- Small boxes (Stat box) -->
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="box box-solid box-primary">
                                                    <div class="box-header">
                                                        <h3 class="box-title">Email Mesaj Düzenleme</h3>
                                                    </div><!-- /.box-header -->
                                                    <!-- form start -->
                                                    <div role="form">
                                                        <div class="box-body">
                                                            <div class="alert alert-danger alert-dismissable" style="display:@(this.ViewData.ModelState.IsValid ? "none" : "")">
                                                                <i class="fa fa-ban"></i>
                                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>

                                                                @foreach (var key in this.ViewData.ModelState.Keys)
                                                                {
                                                                    foreach (var err in this.ViewData.ModelState[key].Errors)
                                                                    {
                                                                        <b>Uyarı! </b> @err.ErrorMessage
                                                                        <br />
                                                                    }
                                                                }
                                                            </div>


                            <div class="form-group">
                                @Html.LabelFor(model => model.FromUserId, new { @class = "" })
                                @Html.DropDownList("FromUserId"," -Seçiniz- ") @Html.ValidationMessageFor(model => model.FromUserId)
                                
                                &nbsp;&nbsp; <a data-ajax="true" data-ajax-begin="prepareModalDialog('AddMore')" data-ajax-failure="clearModalDialog('AddMore');alert('Ajax call failed')" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="openModalDialog('AddMore', 'Add')" data-ajax-update="#AddMore" href="~/ApplicationUser/Create">
                                     <img src="~/Content/ModelPopup/Plus.png" />
                                </a>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Subject, new { @class = "" })
                                @Html.EditorFor(model => model.Subject) @Html.ValidationMessageFor(model => model.Subject)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.MailText, new { @class = "" })
                                @Html.TextAreaFor(model => model.MailText, new { @class = "ckeditor" }) @Html.ValidationMessageFor(model => model.MailText)
                            </div>
                            <div class="form-group">
                                @Html.Hidden("DateSend", DateTime.Now) @Html.ValidationMessageFor(model => model.DateSend)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.IsDelete, new { @class = "" })
                                @Html.EditorFor(model => model.IsDelete) @Html.ValidationMessageFor(model => model.IsDelete)
                            </div>
                                                             


                                                        </div><!-- /.box-body -->
                                                        <div class="box-footer">
                                                            <input type="submit" value="Kaydet" class="btn btn-primary" />
                                                            @Html.ActionLink("Liste", "Index", null, new { @class = "btn btn-primary" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                }
                            }
                             </div>
                             
                                 
                                <div id="EmailMember" style="overflow:auto !important;">
                                    <div class="box box-solid box-primary"><div class="box-body">@Ajax.ModalDialogActionLink("Yeni Oluştur", "Create","EmailMember", "Create New", "btn btn-primary") </div> </div>                                    
 <div class="box box-solid box-primary"> <div class="box-body"><table id="tbEmailMember" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                
<th></th>
                                                <th> ID </th>                                                <th> Email Mesaj ID </th>                                                <th> Kullanıcı ID </th>                                                <th> Okundu </th>                                                <th> Tarih </th>                                            </tr>                                        </thead>                                        <tbody> </tbody>                                    </table></div></div>                                </div>
                                <div id="EmailAttachment" style="overflow:auto !important;">
                                    <div class="box box-solid box-primary"><div class="box-body">@Ajax.ModalDialogActionLink("Yeni Oluştur", "Create","EmailAttachment", "Create New", "btn btn-primary") </div> </div>                                    
 <div class="box box-solid box-primary"> <div class="box-body"><table id="tbEmailAttachment" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                
<th></th>
                                                <th> ID </th>                                                <th> Email Mesaj ID </th>                                                <th> Dosya </th>                                                <th> Sil </th>                                            </tr>                                        </thead>                                        <tbody> </tbody>                                    </table></div></div>                                </div>

                            </div>
                              
                    

                </div>

            </div>
        </div>
    </div>
</section>
  

 <script type="text/javascript">

        $(document).ready(function () {
            var oTableEmailMember = "";
            var ControlerNameEmailMember = "@Url.Content("~/EmailMember")";
            // debugger;
            oTableEmailMember = $("#tbEmailMember").dataTable({
                "bRetrieve": true,
                "bProcessing": true,
                "sAjaxSource": "@Url.Content("~/EmailMember/GetGrid")",
                "aoColumns": [
                             
                {
                                 "mRender": function (oObj, type, row) {
                                     var buttons = "<a class=\"btn btn-social-icon btn-bitbucket\" href=" + ControlerNameEmailMember + "/MultiViewIndex/" + row[0] + "><i class=\"fa fa-edit\"></i></a>"
                        buttons += "<a class=\"btn btn-social-icon btn-dropbox\" href=" + ControlerNameEmailMember + "/Details/" + row[0] + " data-ajax-update=\"#SkDetails\" data-ajax-success=\"openModalDialog('SkDetails', 'Details')\" data-ajax-mode=\"replace\" data-ajax-method=\"GET\" data-ajax-failure=\"clearModalDialog('SkDetails');alert('Ajax call failed')\" data-ajax-begin=\"prepareModalDialog('SkDetails')\" data-ajax=\"true\"><i class=\"fa fa-info\"></i></a>";
                        buttons += "<a class=\"btn btn-social-icon btn-google-plus\" href=" + ControlerNameEmailMember + "/Delete/" + row[0] + " data-ajax-update=\"#SkDelete\" data-ajax-success=\"openModalDialog('SkDelete', 'Delete')\" data-ajax-mode=\"replace\" data-ajax-method=\"GET\" data-ajax-failure=\"clearModalDialog('SkDelete');alert('Ajax call failed')\" data-ajax-begin=\"prepareModalDialog('SkDelete')\" data-ajax=\"true\"><i class=\"fa fa-bitbucket\"></i></a>";
                         
                        return buttons;
                                 } 
                
        } ,{},{},{},{},{}
        ]

        });
         
        });
    </script> <script type="text/javascript">

        $(document).ready(function () {
            var oTableEmailAttachment = "";
            var ControlerNameEmailAttachment = "@Url.Content("~/EmailAttachment")";
            // debugger;
            oTableEmailAttachment = $("#tbEmailAttachment").dataTable({
                "bRetrieve": true,
                "bProcessing": true,
                "sAjaxSource": "@Url.Content("~/EmailAttachment/GetGrid")",
                "aoColumns": [
                             
                {
                                 "mRender": function (oObj, type, row) {
                                     var buttons = "<a class=\"btn btn-social-icon btn-bitbucket\" href=" + ControlerNameEmailAttachment + "/MultiViewIndex/" + row[0] + "><i class=\"fa fa-edit\"></i></a>"
                        buttons += "<a class=\"btn btn-social-icon btn-dropbox\" href=" + ControlerNameEmailAttachment + "/Details/" + row[0] + " data-ajax-update=\"#SkDetails\" data-ajax-success=\"openModalDialog('SkDetails', 'Details')\" data-ajax-mode=\"replace\" data-ajax-method=\"GET\" data-ajax-failure=\"clearModalDialog('SkDetails');alert('Ajax call failed')\" data-ajax-begin=\"prepareModalDialog('SkDetails')\" data-ajax=\"true\"><i class=\"fa fa-info\"></i></a>";
                        buttons += "<a class=\"btn btn-social-icon btn-google-plus\" href=" + ControlerNameEmailAttachment + "/Delete/" + row[0] + " data-ajax-update=\"#SkDelete\" data-ajax-success=\"openModalDialog('SkDelete', 'Delete')\" data-ajax-mode=\"replace\" data-ajax-method=\"GET\" data-ajax-failure=\"clearModalDialog('SkDelete');alert('Ajax call failed')\" data-ajax-begin=\"prepareModalDialog('SkDelete')\" data-ajax=\"true\"><i class=\"fa fa-bitbucket\"></i></a>";
                         
                        return buttons;
                                 } 
                
        } ,{},{},{},{}
        ]

        });
         
        });
    </script>
