﻿@model MassEmail.Models.Profile

@{
    if (Ajax.IsThisAjaxRequest())
    {
        Layout = null;
    }
}
@section ScriptsOrCss{
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <script src="~/Content/ckEditor/ckeditor.js"></script>
    <link href="~/Content/ckEditor/samples/sample.css" rel="stylesheet" />
}
<section class="content-header">
    <h1>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </h1>
</section>

@using (Html.BeginForm("EditProfile", "Profile", FormMethod.Post, new { enctype = "multipart/form-data", id = "form1" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model=>model.id)
    <section class="content">
        <div class="row">
            <div class="panel" style="min-height:440px; position:inherit">
                <div class="panel-header">
                    <h3 class="box-title">Profil Düzenle</h3>
                </div>
                <div role="form" class="panel-content">
                    <div class="col-md-6 col-sm-12">
                        @if (ViewBag.Success != null)
                        {
                            <div class="alert alert-success alert-dismissable">
                                <i class="fa fa-ban"></i>
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <b>Başarılı! </b> @ViewBag.Success
                            </div>
                        }

                        <div class="alert alert-danger alert-dismissable" style="display:@(this.ViewData.ModelState.IsValid ? "none" : "")">
                            <i class="fa fa-ban"></i>
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>

                            @foreach (var key in this.ViewData.ModelState.Keys)
                            {
                                foreach (var err in this.ViewData.ModelState[key].Errors)
                                {
                                    <b>Uyarı! </b> @err.ErrorMessage
                                    <br />
                                }
                            }
                            @Html.ValidationSummary(true)
                        </div>

                       
                        <div class="form-group">
                            @Html.LabelFor(model => model.Username, new { @class = "" })
                            @Html.TextBoxFor(model => model.Username, new { required = "required", @class = "form-control" }) @Html.ValidationMessageFor(model => model.Username)

                        </div>
                      


                        <div class="form-group">
                            @Html.LabelFor(model => model.Password, new { @class = "" })
                            @Html.TextBoxFor(model => model.Password, new { required = "required", @class = "form-control" }) @Html.ValidationMessageFor(model => model.Password)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.FirstName, new { @class = "" })
                            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", required = "required" }) @Html.ValidationMessageFor(model => model.FirstName)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.LastName, new { @class = "" })
                            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", required = "required" }) @Html.ValidationMessageFor(model => model.LastName)
                        </div>

                        <div>
                            <input type="submit" value="Düzenle" class="btn btn-primary" id="submit1" />

                        </div>
                      

                    </div>
                   
                    
                </div>
            </div>
        </div>
    </section>
}

