@model MassEmail.ChatClass.ChatMessage

@{
    ViewBag.Title = "Oluştur";
    if (Ajax.IsThisAjaxRequest())
    {
        Layout = null;
    }
}
@section ScriptsOrCss{ 
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<script src="~/Content/ckEditor/ckeditor.js"></script>
<link href="~/Content/ckEditor/samples/sample.css" rel="stylesheet" />
}

<section class="content-header">
    <h1>
        @ViewBag.Title
    </h1>
</section>

@using (Html.BeginForm("Create", "ChatMessage", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
          <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-solid box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Chat Mesaj Form</h3>
                    </div><!-- /.box-header -->
                    <!-- form start -->
                    <div role="form">
                        <div class="box-body">
                            <div class="alert alert-danger alert-dismissable" style="display:@(this.ViewData.ModelState.IsValid ? "none" : "")">
                                <i class="fa fa-ban"></i>
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>

                                @foreach (var key in this.ViewData.ModelState.Keys)
                                {
                                    foreach (var err in this.ViewData.ModelState[key].Errors)
                                    {
                                        <b>Uyarı! </b> @err.ErrorMessage
                                        <br />
                                    }
                                }
                                @Html.ValidationSummary(true)
                            </div>



                            <div class="form-group">
                                @Html.LabelFor(model => model.ConnectionIDUser, new { @class = "" })
                                @Html.EditorFor(model => model.ConnectionIDUser) @Html.ValidationMessageFor(model => model.ConnectionIDUser)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ChatGroupId, new { @class = "" })
                                @Html.DropDownList("ChatGroupId"," -Seçiniz- ") @Html.ValidationMessageFor(model => model.ChatGroupId)
                                
                                &nbsp;&nbsp; <a data-ajax="true" data-ajax-begin="prepareModalDialog('AddMore')" data-ajax-failure="clearModalDialog('AddMore');alert('Ajax call failed')" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="openModalDialog('AddMore', 'Add')" data-ajax-update="#AddMore" href="~/ChatGroup/Create">
                                     <img src="~/Content/ModelPopup/Plus.png" />
                                </a>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Msg, new { @class = "" })
                                @Html.EditorFor(model => model.Msg) @Html.ValidationMessageFor(model => model.Msg)
                            </div>
                            <div class="form-group">
                                @Html.Hidden("SendDate", DateTime.Now) @Html.ValidationMessageFor(model => model.SendDate)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.SendFrom, new { @class = "" })
                                @Html.DropDownList("SendFrom"," -Seçiniz- ") @Html.ValidationMessageFor(model => model.SendFrom)
                                
                                &nbsp;&nbsp; <a data-ajax="true" data-ajax-begin="prepareModalDialog('AddMore')" data-ajax-failure="clearModalDialog('AddMore');alert('Ajax call failed')" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="openModalDialog('AddMore', 'Add')" data-ajax-update="#AddMore" href="~/ApplicationUser/Create">
                                     <img src="~/Content/ModelPopup/Plus.png" />
                                </a>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.IsDeleted, new { @class = "" })
                                @Html.EditorFor(model => model.IsDeleted) @Html.ValidationMessageFor(model => model.IsDeleted)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ImageFile, new { @class = "" })
                                @Html.EditorFor(model => model.ImageFile) @Html.ValidationMessageFor(model => model.ImageFile)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.IsSeen, new { @class = "" })
                                @Html.EditorFor(model => model.IsSeen) @Html.ValidationMessageFor(model => model.IsSeen)
                            </div>




                        </div>
                        <div class="box-footer">
                            <input type="submit" value="Oluştur" class="btn btn-primary" />
                            @Html.ActionLink("Liste", "Index", null, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}



