﻿@model MassEmail.ChatClass.ChatMessage

@{
    ViewBag.Title = "Silmek istediğinize eminmisiniz?";
    if (Ajax.IsThisAjaxRequest())
    {
        Layout = null;
    }
}
<section class="content-header">
    <h1>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        @ViewBag.Title
    </h1>
</section>

<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-xs-12">

            <div class="box box-solid box-primary">
                <div class="box-header">
                    <h3 class="box-title">Chat Mesaj Detay</h3>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive">

                    <div class="widget-sec">
                        <div class="streaming-table">
                            <table class="table table-striped table-bordered">

                               
                                <tr>
                                    <td>Mesaj</td>
                                    <td>@Html.DisplayFor(model => model.Msg)</td>
                                </tr>
                                <tr>
                                    <td>Tarih</td>
                                    <td>@Html.DisplayFor(model => model.SendDate)</td>
                                </tr>
                                <tr>
                                    <td>Gönderen</td>
                                    <td>@Html.DisplayFor(model => model.SendFrom)</td>
                                </tr>
                                <tr>
                                    <td>Sil</td>
                                    <td>@Html.DisplayFor(model => model.IsDeleted)</td>
                                </tr>
                                 
                                <tr>
                                    <td>Görüldü</td>
                                    <td>@Html.DisplayFor(model => model.IsSeen)</td>
                                </tr>


                            </table>
                            <div class="box-footer">

                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                                    <input type="submit" value="Sil" class="btn btn-primary" />
                                  
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



