@model MassEmail.Models.BlockList

@{
    ViewBag.Title = "Are you sure you want to delete";
    if (Ajax.IsThisAjaxRequest())
    {
        Layout = null;
    }
}
<section class="content-header">
    <h1>
        @ViewBag.Title
    </h1>
</section>

<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-xs-12">

            <div class="box box-solid box-primary">
                <div class="box-header">
                    <h3 class="box-title">Detail of BlockList</h3>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive">

                    <div class="widget-sec">
                        <div class="streaming-table">
                            <table class="table table-striped table-bordered">

                                <tr>
                                    <td>UserId</td>
                                    <td>@Html.DisplayFor(model => model.UserId)</td>
                                </tr>
                                <tr>
                                    <td>BlockedUserId</td>
                                    <td>@Html.DisplayFor(model => model.BlockedUserId)</td>
                                </tr>


                            </table>
                            <div class="box-footer">

                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                                    <input type="submit" value="Delete" class="btn btn-primary" />
                                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



