@model MassEmail.Models.BlockList
@{
    ViewBag.Title = "MultiViewIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section ScriptsOrCss
{
    <script src="~/Content/DataTable/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="~/Content/DataTable/js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <link href="~/Content/DataTable/plugins/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="~/Content/DataTable/js/plugins/dataTables/jquery.dataTable.minNew.js"></script>
    <script type="text/javascript" src="~/Content/HtmlExprt/tableExport.js"></script>
    <script type="text/javascript" src="~/Content/HtmlExprt/jquery.base64.js"></script>
    <script type="text/javascript" src="~/Content/HtmlExprt/html2canvas.js"></script>
    <script type="text/javascript" src="~/Content/HtmlExprt/jspdf/libs/sprintf.js"></script>
    <script type="text/javascript" src="~/Content/HtmlExprt/jspdf/jspdf.js"></script>
    <script type="text/javascript" src="~/Content/HtmlExprt/jspdf/libs/base64.js"></script>
    <link href="~/Content/splitter/splitter.css" rel="stylesheet" />
    <script src="~/Content/splitter/Splitter.js"></script>
    <script src="~/Content/ckEditor/ckeditor.js"></script>
    <link href="~/Content/ckEditor/samples/sample.css" rel="stylesheet" />
    <script src="~/Content/tabs/Jquery-ui.js"></script>
    <link href="~/Content/tabs/JqueryUi.css" rel="stylesheet" />
  
    <script>
        $(function () {
            var tabs = $("#tabs").tabs();
            tabs.find(".ui-tabs-nav").sortable({
                axis: "x",
                stop: function () {
                    tabs.tabs("refresh");
                }
            });

            $("#dialog").dialog({
                autoOpen: false,
                show: {
                    effect: "blind",
                    duration: 1000
                },
                hide: {
                    effect: "explode",
                    duration: 1000
                }
            });
            $("#opener").click(function () {
                $("#dialog").dialog("open");
            });

        });
    </script>
    <style>
        table {
            width: 100% !important;
        }
    </style>
}
 
<section class="content-header">
    <h1>
         Multi Edit View
    </h1>
</section>
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid box-primary">
                   <div>

                               <div id="tabs">
                                <ul>
                                    <li><a href="#EditThis">Edit</a></li>
                                    
                                </ul>                        

                            <div id="EditThis">
                            @using (Html.BeginForm("MultiViewIndex", "BlockList", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()

                                if (ViewBag.IsWorking == 1)
                                {
                                    <section class="content">
                                        <!-- Small boxes (Stat box) -->
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="box box-solid box-primary">
                                                    <div class="box-header">
                                                        <h3 class="box-title">Edit BlockList Info</h3>
                                                    </div><!-- /.box-header -->
                                                    <!-- form start -->
                                                    <div role="form">
                                                        <div class="box-body">
                                                            <div class="alert alert-danger alert-dismissable" style="display:@(this.ViewData.ModelState.IsValid ? "none" : "")">
                                                                <i class="fa fa-ban"></i>
                                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>

                                                                @foreach (var key in this.ViewData.ModelState.Keys)
                                                                {
                                                                    foreach (var err in this.ViewData.ModelState[key].Errors)
                                                                    {
                                                                        <b>Alert! </b> @err.ErrorMessage
                                                                        <br />
                                                                    }
                                                                }
                                                            </div>


                            <div class="form-group">
                                @Html.LabelFor(model => model.UserId, new { @class = "" })
                                @Html.DropDownList("UserId"," -Select- ") @Html.ValidationMessageFor(model => model.UserId)
                                
                                &nbsp;&nbsp; <a data-ajax="true" data-ajax-begin="prepareModalDialog('AddMore')" data-ajax-failure="clearModalDialog('AddMore');alert('Ajax call failed')" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="openModalDialog('AddMore', 'Add')" data-ajax-update="#AddMore" href="~/ApplicationUser/Create">
                                     <img src="~/Content/ModelPopup/Plus.png" />
                                </a>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.BlockedUserId, new { @class = "" })
                                @Html.DropDownList("BlockedUserId"," -Select- ") @Html.ValidationMessageFor(model => model.BlockedUserId)
                                
                                &nbsp;&nbsp; <a data-ajax="true" data-ajax-begin="prepareModalDialog('AddMore')" data-ajax-failure="clearModalDialog('AddMore');alert('Ajax call failed')" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="openModalDialog('AddMore', 'Add')" data-ajax-update="#AddMore" href="~/ApplicationUser/Create">
                                     <img src="~/Content/ModelPopup/Plus.png" />
                                </a>
                            </div>
                                                             


                                                        </div><!-- /.box-body -->
                                                        <div class="box-footer">
                                                            <input type="submit" value="Save" class="btn btn-primary" />
                                                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                }
                            }
                             </div>
                             
                                 

                            </div>
                              
                    

                </div>

            </div>
        </div>
    </div>
</section>
  


