﻿@model MassEmail.Models.Announcement

@{
    ViewBag.Title = "Bildirim Oluştur";
    if (Ajax.IsThisAjaxRequest())
    {
        Layout = null;
    }
}
@section ScriptsOrCss{
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>

    <script src="~/Content/ckEditor/ckeditor.js"></script>
    <link href="~/Content/ckEditor/samples/sample.css" rel="stylesheet" />
    <link href="~/Content/tagsinput/magicsuggest-min.css" rel="stylesheet">
    <script src="~/Content/tagsinput/magicsuggest-min.js"></script>

}

<script type="text/javascript">
    $(function () {
        var ms1 = $('#ms1').magicSuggest({
            data: @Html.Raw(ViewBag.UserList),
            expandOnFocus:true
        });

        var departm = $('#departm').magicSuggest({
            data: @Html.Raw(ViewBag.Departments),
            });

        var favorite = $('#favorite').magicSuggest({
            data: @Html.Raw(ViewBag.FavoriteGroups),
            });

        $(ms1).on('selectionchange', function(){
            $("#toEmails").val(this.getValue());
        });

        $(departm).on('selectionchange', function(){
            $("#toDepEmails").val(this.getValue());
        });

        $(favorite).on('selectionchange', function(){
            $("#toFavoriteEmails").val(this.getValue());
        });
    });

    $(document).ready(function () {


        //$(document).mouseover(function () {
        //    $("#toEmails").val($("#ms1").text());
        //});

        //$(document).mouseover(function () {
        //    $("#toDepEmails").val($("#departm").text());
        //});

        //$("#ms1").click(function () {
        //    $("#toEmails").val($("#ms1").text());
        //});

        //$("#departm").click(function () {
        //    $("#toDepEmails").val($("#departm").text());
        //});


        $(".usr").click(function () {
            $("#ms1").show();
            $("#favorite").hide();
            $("#departm").hide();
        });

        $(".dep").click(function () {
            $("#ms1").hide();
            $("#favorite").hide();
            $("#departm").show();
        });

        $(".fav").click(function () {
            $("#ms1").hide();
            $("#favorite").show();
            $("#departm").hide();
        });

        //$("#usr input").click(function () {
        //    $("#ms1").show();
        //    $("#departm").hide();
        //});

        //$("#dpt input").click(function () {
        //    $("#ms1").hide();
        //    $("#departm").show();
        //});

        $('input:radio[name=sl]').change(function(){
            alert($('input[name=sl]:checked').val());
        })


    });


</script>
<section class="content-header">
    <h1>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </h1>
</section>

@using (Html.BeginForm("Create", "Announcement", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
          <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="panel">
                <div class="panel-header">
                    <h3> Bildirim Oluştur </h3>
                </div>
                <div role="form">
                    <div class="panel-content">

                        @if (ViewBag.Msg != null)
                        {
                            <div class="alert alert-danger alert-dismissable">
                                <i class="fa fa-ban"></i>
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <b>Uyarı! </b> @ViewBag.Msg
                            </div>
                        }
                        @if (ViewBag.Success != null)
                        {
                            <div class="alert alert-success alert-dismissable">
                                <i class="fa fa-ban"></i>
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <b>Başarıyla Oluşturuldu! </b> @ViewBag.Success
                            </div>
                        }
                        <div class="alert alert-danger alert-dismissable" style="display:@(this.ViewData.ModelState.IsValid ? "none" : "")">
                            <i class="fa fa-ban"></i>
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>

                            @foreach (var key in this.ViewData.ModelState.Keys)
                            {
                                foreach (var err in this.ViewData.ModelState[key].Errors)
                                {
                                    <b>Uyarı! </b> @err.ErrorMessage
                                    <br />
                                }
                            }
                            @Html.ValidationSummary(true)
                        </div>
                        <div class="form-group">

                            <div class="switch-field" style="margin-left:-40px; margin-top:-45px; line-height:1.028571;">
                                <input class="usr" type="radio" id="switch_3_left" name="s1" value="Users" checked />
                                <label class="usr" for="switch_3_left">Kullanıcı</label>
                                <input class="dep" type="radio" id="switch_3_center" name="s1" value="Departments" />
                                <label class="dep" for="switch_3_center">Kurum</label>
                                <input class="fav" type="radio" id="switch_3_right" name="s1" value="FavoriteGroup" />
                                <label class="fav" for="switch_3_right">Favori Grup</label>
                            </div>

                            <table id="slUD" class="table">
                                <tr>
                                    <td id="usr"></td>
                                    <td id="dpt"></td>
                                    <td id="fv"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="row" style="margin-top:-45px;">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Alıcı</label>
                                    <div id="ms1" class="form-control"></div>
                                    <div id="departm" class="form-control" style="display:none;"></div>
                                    <div id="favorite" class="form-control" style="display:none;"></div>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="form-group" style="display:none;">
                                @Html.LabelFor(model => model.FromUserId, new { @class = "" })
                                @Html.DropDownList("FromUserId", " -Seçiniz- ") @Html.ValidationMessageFor(model => model.FromUserId)

                                &nbsp;&nbsp; <a data-ajax="true" data-ajax-begin="prepareModalDialog('AddMore')" data-ajax-failure="clearModalDialog('AddMore');alert('Ajax call failed')" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="openModalDialog('AddMore', 'Add')" data-ajax-update="#AddMore" href="~/ApplicationUser/Create">
                                    <img src="~/Content/ModelPopup/Plus.png" />
                                </a>
                            </div>
                            <div class="form-group" style="display:none;">
                                <input id="toEmails" type="text" name="toEmails" />
                                <input id="toDepEmails" type="text" name="toDepEmails" />
                                <input id="toFavoriteEmails" type="text" name="toFavoriteEmails" />
                                <input id="toboth" type="text" name="toboth">
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group" style="margin-left:15px;">
                                        @Html.LabelFor(model => model.Subject, new { @class = "" })
                                        @Html.TextBoxFor(model => model.Subject, new { @class = "form-control", @placeholder = "Konu" }) @Html.ValidationMessageFor(model => model.Subject)
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="form-group" style="">
                                <input type="file" name="filesAttach" value="" />
                            </div>
                            <div class="clear"></div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.MailText, new { @class = "", @Style = "margin-left:15px;" })
                                @Html.TextAreaFor(model => model.MailText, new { @class = "ckeditor" }) @Html.ValidationMessageFor(model => model.MailText)
                            </div>
                            <div class="form-group">
                                @Html.Hidden("DateSend", DateTime.Now) @Html.ValidationMessageFor(model => model.DateSend)
                            </div>
                            <div class="form-group" style="display:none;">
                                <input type="hidden" value="false" name="IsDelete" />
                            </div>

                        </div>
                        <div class="box-footer">
                            <input type="submit" onclick="ShowProgressAnimation();" value="Oluştur" class="btn btn-primary m-l-20" />
                            @Html.ActionLink("Geçmiş", "Index", null, new { @class = "btn btn-primary" })
                        </div>
                        @*<div id="loading-div-background">
                            <div id="loading-div" class="ui-corner-all">
                                <img style="height:142px;width:142px;margin:30px;" src="/images/please_wait.gif" alt="Loading.." /><br>GÖNDERİLİYOR. LÜTFEN BEKLEYİNİZ...
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<script type="text/javascript">
    $(document).ready(function (){
        $("#loading-div-background").css({ opacity: 1.0 });
    });

    function ShowProgressAnimation(){
        $("#loading-div-background").show();
    }
</script>

<style>
    .text-box.single-line {
        text-transform: uppercase;
    }
    
    .switch-field {
  font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
  padding: 40px;
	overflow: hidden;
}

.switch-title {
  margin-bottom: 6px;
}

.switch-field input {
  display: none;
}

.switch-field label {
  float: left;
}

.switch-field label {
  display: inline-block;
  width: 155px;
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 6px 14px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #3AF;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}
</style>

