﻿@model MassEmail.Models.Announcement

@{
    ViewBag.Title = "Detay";
    if (Ajax.IsThisAjaxRequest())
    {
        Layout = null;
    }
}
<section class="content-header">
    <h1>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </h1>
</section>
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="panel">
            <div class="panel-header">
                <h3>Bildirim Detay</h3>
            </div>
            <div class="panel-content">
                <div class="widget-sec">
                    <div class="streaming-table">
                        <table class="table table-striped table-bordered">
                            <tr>
                                <td>Kullanıcı ID</td>
                                <td>@Html.DisplayFor(model => model.FromUserId)</td>
                            </tr>
                            <tr>
                                <td>Konu</td>
                                <td>@Html.DisplayFor(model => model.Subject)</td>
                            </tr>
                            <tr>
                                <td> Bildirim Mesaj</td>
                                <td>  @Html.Raw(Model.MailText)</td>
                            </tr>
                            <tr>
                                <td>Tarih</td>
                                <td>@Html.DisplayFor(model => model.DateSend)</td>
                            </tr>
                            <tr>
                                <td>Sil</td>
                                <td>@Html.DisplayFor(model => model.IsDelete)</td>
                            </tr>
                        </table>
                        <div class="box-footer">
                            @Ajax.ModalDialogActionLink("Düzenle", "Edit/" + Model.Id, "Edit", "btn btn-primary")

                            @Html.ActionLink("Liste", "Index", null, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



