﻿@model MassEmail.Models.Announcement
@{
    ViewBag.Title = "Bildirim Detay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section ScriptsOrCss
{
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <script src="~/Content/DataTable/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="~/Content/DataTable/js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <link href="~/Content/DataTable/plugins/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="~/Content/DataTable/js/plugins/dataTables/jquery.dataTable.minNew.js"></script>
    <script type="text/javascript" src="~/Content/HtmlExprt/tableExport.js"></script>
    <script type="text/javascript" src="~/Content/HtmlExprt/jquery.base64.js"></script>
    <script type="text/javascript" src="~/Content/HtmlExprt/html2canvas.js"></script>
    <script type="text/javascript" src="~/Content/HtmlExprt/jspdf/libs/sprintf.js"></script>
    <script type="text/javascript" src="~/Content/HtmlExprt/jspdf/jspdf.js"></script>
    <script type="text/javascript" src="~/Content/HtmlExprt/jspdf/libs/base64.js"></script>
    <link href="~/Content/splitter/splitter.css" rel="stylesheet" />
    <script src="~/Content/splitter/Splitter.js"></script>
    <script src="~/Content/ckEditor/ckeditor.js"></script>
    <link href="~/Content/ckEditor/samples/sample.css" rel="stylesheet" />
    <script src="~/Content/tabs/Jquery-ui.js"></script>
    <link href="~/Content/tabs/JqueryUi.css" rel="stylesheet" />

    <script>
        $(function () {
            var tabs = $("#tabs").tabs();
            tabs.find(".ui-tabs-nav").sortable({
                axis: "x",
                stop: function () {
                    tabs.tabs("refresh");
                }
            });

            $("#dialog").dialog({
                autoOpen: false,
                show: {
                    effect: "blind",
                    duration: 1000
                },
                hide: {
                    effect: "explode",
                    duration: 1000
                }
            });
            $("#opener").click(function () {
                $("#dialog").dialog("open");
            });

            function printData() {
                var divToPrint = document.getElementById("pcontents");
                newWin = window.open("");
                newWin.document.write(divToPrint.outerHTML);
                newWin.print();
                newWin.close();
            }

            $('#btn').on('click', function () {
                printData();
            });




        });
    </script>
    <style>
        table {
            width: 100% !important;
        }
    </style>
}

<section class="content-header">
    <h1>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="panel">
            <div class="panel-content">
                <div class="nav-tabs2">
                    <ul class="nav nav-tabs nav-red">
                        <li class="active"><a data-toggle="tab" href="#EditThis">Bildirim Detay</a></li>
                        <li><a data-toggle="tab" href="#AnnouncementMember">Bildirim Oku</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="EditThis">
                            <table id="pcontents" class="table table-striped table-bordered">
                                <tr>
                                    <td>Gönderen </td>
                                    @*<td>@Html.DisplayFor(model => model.ApplicationUser_FromUserId.Email)</td>*@
                                </tr>
                                <tr>
                                    <td>Konu</td>
                                    <td>@Html.DisplayFor(model => model.Subject)</td>
                                </tr>
                                <tr>
                                    <td> Bildirim Mesaj</td>
                                    <td>  @Html.Raw(Model.MailText)</td>
                                </tr>
                                <tr>
                                    <td>Tarih</td>
                                    <td>@Html.DisplayFor(model => model.DateSend)</td>
                                </tr>
                                <tr>
                                    <td>Sil</td>
                                    <td>@Html.DisplayFor(model => model.IsDelete)</td>
                                </tr>
                            </table>
                            <div class="box-footer">
                                @Html.ActionLink("Liste", "Index", null, new { @class = "btn btn-primary" })
                                <button class="btn btn-primary" id="btn"><i class="fa fa-print"></i> Yazdır</button>
                            </div>
                        </div>
                        <div class="tab-pane" id="AnnouncementMember" style="overflow:auto !important;">
                            <div class="box box-solid box-primary">
                            </div>
                            <div class="box box-solid box-primary">
                                <div class="box-body">
                                    <table id="tbAnnouncementMember" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th> Bildirim </th>
                                                <th> Alıcı  </th>
                                                <th> Okunma  </th>
                                                <th> Dosya Ek </th>
                                            </tr>
                                        </thead>
                                        <tbody> </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script type="text/javascript">

    $(document).ready(function () {
        var oTableAnnouncementMember = "";
        var ControlerNameAnnouncementMember = "@Url.Content("~/AnnouncementMember")";
        // debugger;
        oTableAnnouncementMember = $("#tbAnnouncementMember").dataTable({
            "bRetrieve": true,
            "bProcessing": true,
            "sAjaxSource": "@Url.Content("~/AnnouncementMember/GetGridAll")",
            "aoColumns": [

            {
                "mRender": function (oObj, type, row) {
                    var buttons = "  "
                    buttons += "<a class=\"btn btn-sm btn-blue\" href=" + ControlerNameAnnouncementMember + "/Details/" + row[0] + " data-ajax-update=\"#SkDetails\" data-ajax-success=\"openModalDialog('SkDetails', 'Details')\" data-ajax-mode=\"replace\" data-ajax-method=\"GET\" data-ajax-failure=\"clearModalDialog('SkDetails');alert('Ajax call failed')\" data-ajax-begin=\"prepareModalDialog('SkDetails')\" data-ajax=\"true\"><i class=\"fa fa-info f18\"></i></a>";
                    buttons += "<a class=\"btn btn-sm btn-danger\" href=" + ControlerNameAnnouncementMember + "/Delete/" + row[0] + " data-ajax-update=\"#SkDelete\" data-ajax-success=\"openModalDialog('SkDelete', 'Delete')\" data-ajax-mode=\"replace\" data-ajax-method=\"GET\" data-ajax-failure=\"clearModalDialog('SkDelete');alert('Ajax call failed')\" data-ajax-begin=\"prepareModalDialog('SkDelete')\" data-ajax=\"true\"><i class=\"fa fa-bitbucket f18\"></i></a>";

                    return buttons;
                }

            }, {}, {}, {
                "mRender": function (oObj, type, row) {
                    if (oObj == "True") {
                        return "Okundu";
                    } else {
                        return "Okunmadı";
                    }
                }

            }, {}, {
                "mRender": function (oObj, type, row) {
                    if (oObj != null) {
                        return "<a href=/Uploads/" + row[4] + " target='_blank' class='btn btn-sm btn-info'  /> <i class='fa fa-download f18'></i> </a>";
                    }
                }
            }
            ]

        });

    });
</script>
