﻿@{
    ViewBag.Title = "T.C. Aydın Büyükşehir Belediyesi Aykome";
}
@using MassEmail.Models;

<script src="~/Scripts/bandClock.js"></script>
<script src="~/assets/global/plugins/skycons/skycons.min.js"></script>
<script src="~/assets/global/plugins/countup/countUp.min.js"></script>

<div class="row m-t-10">
    <div id="dnotification" class="col-xlg-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="panel">
            <div class="panel-content widget-info">
                <div class="row">
                    <div class="left">
                        <i class="fa fa-clock-o bg-green"></i>
                    </div>
                    <div>

                        <div class="bandClock" style="margin:auto;"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div id="devent" class="col-xlg-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="panel">
            <div class="panel-content widget-info">
                <div class="row">
                    <div class="left">
                        <i class="fa fa-sun-o bg-blue"></i>
                    </div>
                    <div class="right">
                        <div id="example"></div>
                    </div>
                    <div>
       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                    <div class="row m-t-10">
                        <div id="dnotification" class="col-xlg-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="panel">
                                <div class="panel-content widget-info">
                                    <div class="row">
                                        <div class="left">
                                            <i class="fa fa-bell bg-green"></i>
                                        </div>
                                        <div class="right">

                                            <p class="number countup" data-from="0" data-to="@ViewBag.TotalAnnouncements">@ViewBag.TotalAnnouncements</p>
                                            <p class="text">Güncel Bildirim</p>
                                            <p class="text">@Html.Raw(ViewBag.Announce)</p>
                                            @if (ViewBag.Announce != null)
                                            {
                                                if (ViewBag.File != null)
                                                {
                                                    if (ViewBag.File == "") { }
                                                    else
                                                    {
                                                        <p><a href="~/Uploads/@ViewBag.File" target="_blank">Dosya Ek</a></p>
                                                        var it = ViewBag.File;
                                                    }
                                                }
                                            }
                                        </div>
                                        @if (ViewBag.AnnounceId != null)
                                        {
                                            <div class="col-md-12 text-center">
                                                <a class="btn btn-sm btn-primary" title="Bunu Oku" href="~/AnnouncementMember/Details/@ViewBag.AnnounceId">
                                                    Oku <i class="fa fa-arrow-circle-right"></i>
                                                </a>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="devent" class="col-xlg-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="panel">
                                <div class="panel-content widget-info">
                                    <div class="row">
                                        <div class="left">
                                            <i class="fa fa-calendar-o bg-blue"></i>
                                        </div>
                                        <div class="right">
                                            <p class="number countup" data-from="0" data-to="@ViewBag.TotalEvents">@ViewBag.TotalEvents</p>
                                            <p class="text">Güncel Etkinlik</p>
                                            <p class="text">@Html.Raw(ViewBag.NewEventSubject)</p>
                                            @if (ViewBag.NewEventFile != null)
                                            {
                                                if (ViewBag.NewEventFile == "") { }
                                                else
                                                {
                                                    <p><a href="~/Uploads/@ViewBag.NewEventFile" class="btn btn-success2" target="_blank">Dosya Ek</a></p>
                                                    var it = ViewBag.NewEventFile;
                                                }
                                            }
                                        </div>
                                        <div>
                                            @if (ViewBag.NewEventCount > 0)
                                            {
                                                <div class="col-md-12 text-center">
                                                    <p><a class="btn btn-sm btn-primary" title="Bunu Oku" href="~/EventMember/Details/@ViewBag.NewEventMemberID">Oku <i class="fa fa-arrow-circle-right"></i></a></p>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row m-t-10">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="panel">
                                <div class="panel-content widget-info">
                                    <div class="row">
                                        <div class="left">
                                            <i class="fa fa-file-o bg-red"></i>
                                        </div>
                                        @if (Convert.ToInt16(Env.GetUserInfo("roleid")) == 2)
                                        {

                                            SIContext db = new SIContext();
                                            int id = Convert.ToInt16(Env.GetUserInfo("userid"));
                                            var totalann = db.AnnouncementMembers.Where(x => x.ToUserId == id).Count();
                                            <div class="right">
                                                <p class="number">Ruhsat</p>
                                                <p class="text">Ruhsat Giriş</p>
                                            </div>

                                        }
                                        else
                                        {
                                            <div class="right">
                                                <p class="number">Ruhsat</p>
                                                <p class="text">Ruhsat Giriş</p>
                                            </div>
                                        }
                                        @if (Session["user"] != null)
                                        {
                                            if (Session["user"].ToString() != "false")
                                            {
                                                string s = Session["user"].ToString();
                                                <div class="col-md-12 text-center">
                                                    <a class="btn btn-sm btn-primary" href="http://aykome.aydin.bel.tr:83/login.aspx?user=@s" target="_blank">
                                                        <i class="fa fa-arrow-circle-right"></i>
                                                    </a>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="panel">
                                <div class="panel-content widget-info">
                                    <div class="row">
                                        <div class="left">
                                            <i class="glyphicon glyphicon-globe bg-purple"></i>
                                        </div>
                                        <div class="right">
                                            <p class="number">Harita</p>
                                            <p class="text">Harita Giriş</p>
                                        </div>
                                        <div class="col-md-12 text-center">
                                            <a class="btn btn-sm btn-primary" href="http://aykome.aydin.bel.tr:82/Aykome/harita.html" target="_blank">
                                                <i class="fa fa-arrow-circle-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="panel">
                                <div class="panel-content widget-info">
                                    <div class="row">
                                        <div class="left">
                                            <i class="icon-bulb bg-green"></i>
                                        </div>
                                        @if (Convert.ToInt16(Env.GetUserInfo("roleid")) == 2)
                                        {

                                            SIContext db = new SIContext();
                                            int id = Convert.ToInt16(Env.GetUserInfo("userid"));
                                            var dpid = db.ApplicationUsers.FirstOrDefault(x => x.Id == id);
                                            var totalann = db.ApplicationUsers.Where(x => x.DepartmentId == dpid.DepartmentId).Count();
                                            <div class="right">
                                                <p class="number">@totalann</p>
                                                <p class="text">Toplam Kullanıcı</p>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="right">
                                                <p class="number">@ViewBag.TotalUsers</p>
                                                <p class="text">Toplam Kullanıcı</p>

                                            </div>
                                            <div class="col-md-12 text-center">
                                                <a class="btn btn-sm btn-primary" href="/ApplicationUser"><i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="panel">
                                <div class="panel-content widget-info">
                                    <div class="row">
                                        <div class="left">
                                            <i class="fa fa-university bg-blue"></i>
                                        </div>
                                        @if (Convert.ToInt16(Env.GetUserInfo("roleid")) == 2)
                                        {

                                            SIContext db = new SIContext();
                                            int id = Convert.ToInt16(Env.GetUserInfo("userid"));
                                            var dpid = db.ApplicationUsers.FirstOrDefault(x => x.Id == id);
                                            var totalann = db.ApplicationUsers.Where(x => x.DepartmentId == dpid.DepartmentId).Count();
                                            <div class="right">
                                                <p class="number">@DateTime.Now</p>
                                                <p class="text">Tarih / Saat</p>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="right">
                                                <p class="number">@ViewBag.TotalDepartments</p>
                                                <p class="text">Toplam Kurum</p>
                                            </div>
                                            <div class="col-md-12 text-center">
                                                <a class="btn btn-sm btn-primary" href="/Department"><i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row m-t-10">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="panel">
                                <div class="panel-content widget-info">
                                    <div class="row">
                                        <div class="left">
                                            <i class="fa fa-envelope-o bg-purple"></i>
                                        </div>
                                        @if (Convert.ToInt16(Env.GetUserInfo("roleid")) == 2)
                                        {
                                            SIContext db = new SIContext();
                                            int id = Convert.ToInt16(Env.GetUserInfo("userid"));
                                            var grops = db.ChatGroupUsers.Where(x => x.ChatUserId == id).ToList();
                                            int count = 0;
                                            foreach (var item in grops)
                                            {
                                                count = count + db.ChatMessages.Where(x => x.ChatGroupId == item.ChatGroupId).Count();
                                            }
                                            <div class="right">
                                                <p class="number">@count</p>
                                                <p class="text">Toplam Mesaj</p>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="right">
                                                <p class="number">@ViewBag.LatestMessages</p>
                                                <p class="text">Son Mesajlar</p>

                                            </div>
                                            <div class="col-md-12 text-center">
                                                <a class="btn btn-sm btn-primary" href="/Messages/History"><i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="panel">
                                <div class="panel-content widget-info">
                                    <div class="row">
                                        <div class="left">
                                            <i class="icon-users bg-orange"></i>
                                        </div>
                                        @if (Convert.ToInt16(Env.GetUserInfo("roleid")) == 2)
                                        {

                                            SIContext db = new SIContext();
                                            int id = Convert.ToInt16(Env.GetUserInfo("userid"));
                                            var totalann = db.EventMembers.Where(x => x.ReceiverId == id).Count();
                                            <div class="right">
                                                <p class="number">@totalann</p>
                                                <p class="text">Toplam Etkinlik</p>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="right">
                                                <p class="number">@ViewBag.LatestEmails</p>
                                                <p class="text">Son E-postalar</p>

                                            </div>
                                            <div class="col-md-12 text-center">
                                                <a class="btn btn-sm btn-primary" href="/BulkEmail/History"><i class="fa fa-arrow-circle-right"></i></a>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="devent" class="col-xlg-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="panel">
                                <div class="panel-content widget-info">
                                    <div class="row">
                                        <div class="left">
                                            <i class="icon-users bg-blue"></i>
                                        </div>
                                        <div class="right">
                                            <p class="number">Kullanıcı / Kurum</p>
                                            <p class="text singleline">@ViewBag.TotalUsersPerDepartment</p>
                                        </div>
                                        <div class="col-md-12 text-center">
                                            <a class="btn btn-sm btn-primary" href="#"><i class="fa fa-arrow-circle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

<script>
      $(document).ready(function() {
        $('.bandClock').bandClock({
          //configure here
          //size: 200,
          bgColor: '#FFF',
          color: '#2B2E33',
          // lineWidth: 200 ,
          // lineCap: ,
          // gap: ,
         // fontStyle: 'size: 12px;'
        });
      });
</script>
<script type="text/javascript">
    $(document).ready(function () {

        //Setup the plugin, see readme for more examples
        var example = $("#example").flatWeatherPlugin({
            location: "AYDIN", //city and region *required
            country: "TURKEY",         //country *required
            //optional:
            api: "openweathermap", //default: openweathermap (openweathermap or yahoo)
            apikey: "4032ce5a48080a8f217f367fabfb7dc8",   //optional api key for openweather
            view: "partial", //default: full (partial, full, simple, today or forecast)
            displayCityNameOnly: false, //default: false (true/false) if you want to display only city name
            forecast: 4, //default: 5 (0 -5) how many days you want forecast
            render: true, //default: true (true/false) if you want plugin to generate markup
            loadingAnimation: true //default: true (true/false) if you want plugin to show loading animation
            //units : "metric" or "imperial" default: "auto"
        });

    });
</script>




